{{#*inline "page"}}
<h2 id="about">About</h2>
<p>
  <strong> This project is now abandoned, and the below instructions to set it up will not work either, you will need to compile it from source.</strong><br>
  This is a java based Anime crawler API.<br>

  Currently the API is under development and is used by my <a href="/projects/animu-downloaderu">AnimuDownloaderu</a> project.<br>
  Follow the below steps to add this API into your maven project.
</p>
<ol>
  <li>
      Add gitlab-maven repository

  {{#code lang='xml'}}<repositories>
  <repository>
    <id>gitlab-maven</id>
    <url>https://gitlab.com/api/v4/projects/14189257/packages/maven</url>
  </repository>
</repositories>

<distributionManagement>
  <repository>
    <id>gitlab-maven</id>
    <url>https://gitlab.com/api/v4/projects/14189257/packages/maven</url>
  </repository>

  <snapshotRepository>
    <id>gitlab-maven</id>
    <url>https://gitlab.com/api/v4/projects/14189257/packages/maven</url>
  </snapshotRepository>
</distributionManagement>{{/ code }}

    </li>
    <li>Add Maven dependency
  {{#code lang='xml'}}<dependency>
	<groupId>com.codingotaku.api</groupId>
	<artifactId>anime-crawler-api</artifactId>
	<version>0.1</version>
</dependency>{{/code}}
    </li>
</ol>
<p>
  JavaDoc coming soon!
</p>
{{/inline}}
{{> (lookup this 'parent') }}

