{{#*inline "page"}}
<h2 id="about">About</h2>
<p>
  <strong> This project is now abandoned, checkout <a href="https://github.com/pystardust/ani-cli" rel="external" {{{settings.opener.metadata}}}>ani-cli</a> instead</strong><br>      
  Animu Downloaderu is a java based software which helps you download your favorite anime as a batch.</p>
<ol>
  <li>
    Now has three Servers (Anime1, AnimeFreak, and GogoAnime1) all are in essence the
    same site (same content hosted differently).
  </li>
  <li>
    Uses
    <a href="/projects/anime-crawler-api">AnimeCrawlerAPI</a> for fetching Anime.
  </li>
  <li>
    Hackable codebase to add new servers easily!
  </li>
</ol>

<p>
  The reason for me making this app was because of the
  <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/Geo-blocking"
   >geo-blocking</a>,
  <a rel="external" {{{settings.opener.metadata}}} href="https://www.defectivebydesign.org/what_is_drm">DRM (Digital Restrictions Management)</a>, and licensing practices that mainstream
  anime hosing services has and the
  <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/proprietary/proprietary-surveillance.en.html"
   >surveillance malware</a> other websites adopted to.
</p>
{{#code lang='sh'}}echo "Build from Source"
mvn javafx:run

echo "Get the native app image"
mvn javafx:jlink{{/code}}

<h2 id="screenshots">Screenshots</h2>
<p>
  <strong>Huge list of anime to choose from</strong>
</p>
<figure class="figure">
  <img class="img" loading="lazy" src="/images/projects/animu-downloaderu/anime-list.webp" alt="" width="1538" height="845">
  <figcaption class="image-caption">Anime list</figcaption>
</figure>

<p><strong>Search your favorite anime</strong></p>
<figure class="figure">
    <img class="img" alt="" loading="lazy" src="/images/projects/animu-downloaderu/search.webp" width="1538" height="845">
  <figcaption class="image-caption">Search anime</figcaption>
</figure>
<p><strong>Download all episodes in a batch</strong></p>
<figure class="figure">
  <img class="img" alt="" loading="lazy" src="/images/projects/animu-downloaderu/download.webp" width="1538" height="860">
  <figcaption class="image-caption">Download anime in batch</figcaption>
 </figure>
<p>
  This is still under development and the code is a bit spaghettified so feel free to contribute :).
</p>
{{/inline}}
{{> (lookup this 'parent') }}

