{{#*inline "page"}}
<h2 id="about">About</h2>
<p>
  <strong>Note: This install script is now abandoned, I have switched distro (again) and now I use Gentoo, I've no time to keep this upto date, and you should probably clone it.</strong>
</p>

<p>This is a Post-install script for base Arch Linux installation to use with my <a href="https://codeberg.org/codingotaku/dotfiles" rel="external" {{{settings.opener.metadata}}}>dotfiles</a>.</p>

<p>To install, run the following command in a terminal of your archlinux system.</p>

{{#code lang='sh'}}curl -OLs https://codeberg.org/codingotaku/arch-post-install/raw/branch/main/install
cat install
./install{{/code}}
<p>
  
For more information regarding configuration and FAQ, checkout the <a href="https://codeberg.org/codingotaku/dotfiles/src/branch/main/README.md" rel="external" {{{settings.opener.metadata}}}>README</a> file in my dotfiles repository.
</p>

<h3 id="packages">What does this install?</h3>
<p>The script installs and configures all the packages found in the <a href="https://codeberg.org/codingotaku/arch-post-install/src/branch/main/packages.csv" rel="external" {{{settings.opener.metadata}}}>packages.csv</a> file.</p>

{{/inline}}
{{> (lookup this 'parent') }}

