{{#*inline "page"}}
<h2 id="about">About</h2>

<img src="/images{{page.url}}/logo.png" alt="Bloat Ness Monster Logo">

<p>The name Bloat Ness Monster is derived from <a href="https://en.wikipedia.org/wiki/Loch_Ness_Monster" rel="external" {{{settings.opener.metadata}}}>Loch Ness Monster</a>, a mythical creature. Unlike the Loch Ness Monster, the Bloat Ness Monster is real.</p>

<p>The Bloat Ness Monster is a monster that lurks around on the internet. It was made unintentionally by web developers who don't know what they are doing.</p>

<p>People with good weapons (high-end computers) are not usually scared of the Bloat Ness Monster. But the Monster will blunt their weapon over time, especially when they fight multiple Bloat Ness Monsters at the same time or their speed of travel is reduced.</p>

<p>This extension will let us detect the monster so that the developers can defeat it, and prevent it from returning.</p>

<p>Once you detect the monster using this extension, depending on who you are, you can do one of the following:</p>

<ul>
  <li>If you are the developer of the website, defeat the monster.</li>
  <li>If you have some power over the developer, start an epic to defeat the monster (yes, it is not a task).</li>
  <li>If you are none of the above, politely inform the developer that the Bloat Ness Monster is inhibiting their website.</li>
</ul>

<h2 id="what-is-this">Jokes aside, What is this really?</h2>

<p>As developing a website is becoming easier using modern web frameworks, the barrier to entry has become insignificant.</p>

<p>While I think that it is a good thing, many web developers have stopped caring about <a href="https://developer.mozilla.org/en-US/curriculum/core/semantic-html/" rel="external" {{{settings.opener.metadata}}}>semantic HTML</a> and <a href="https://www.w3.org/TR/WCAG22/" rel="external" {{{settings.opener.metadata}}}>accessibility</a>.</p>

<p>I increasingly see websites that are made with nothing but <code>div</code> blocks, which do not have any semantic meaning.</p>

<p>This extension will do the following:</p>
<ul>
  <li>Punish the use of non-semantic elements or implementations hostile to assistive technologies by adding a red border.</li>
  <li>Punish the use of JavaScript with a dotted red border.</li>
  <li>Reward semantic elements with a green border.</li>
  <li>Praise accessibility considerations with a blue border.</li>
  <li>Acknowledge interactive, embedded, and form elements with a teal border.</li>
  <li>Ignore everything else with a black border.</li>
</ul>

<p>If you are color-blind, this extension will probably be useless for you, you can contact me with suggestions on what can be improved, but I cannot not guarantee that everything will be implemented.</p>

<h3 id="usage">How to use this?</h3>
<p>You can install this <a href="https://addons.mozilla.org/en-GB/firefox/addon/bloat-ness-monster/" rel="external" {{{settings.opener.metadata}}}>extension from the Mozilla Add-ons page.</a></p>

<p>If you are on a browser that cannot install from that page, you can download <a href="https://codeberg.org/codingotaku/bloat-ness-monster/releases"  rel="external" {{{settings.opener.metadata}}}>the latest release from my codeberg repository</a>.</p>

<p>Once you install the extension, just click on the extension from your browser toolbar to highlight the elements, the only one you need to worry about are the solid red borders for non-semantic elements, and dashed red borders for the script tags.</p>

<h3>Important notice</h3>
<p>This extension is <strong>NOT</strong> an accessibility measurement tool.</p>

<h3 id="faq">FAQ</h3>
<h4 id="layout">This messed up my layout</h4>
<p>This extension will add a lot of styles to all elements in the page, so this is bound to happen. But heavily broken web pages can be due to many reasons, the following may help.</p>

<ul>
  <li>Check if you have made a <code>block</code> element to an <code>inline</code> element or vice versa.</li>
  <li>Check if you are heavily relying on <code>position</code>, <code>margin</code>, and <code>padding</code> for aligning elements.</li>
  <li>Check if you are inserting large images inside small elements without any <code>width</code> or <code>height</code> attributes in HTML.</li>
</ul>

<h4>My images are gone</h4>
<p>Background images and colors are removed by this extension so that the borders will be more visible.</p>
<p>Those images are decorative anyway, so it shouldn't matter for this check.</p>

<p>If your image is white and has transparant background, the image will be hidden, I have no way to check that without complicating this extension further.</p>

<h4 id="role-attributes">What about the <code>role</code> attribute?</h4>
<p>Use the proper semantic element instead. A painted monster is still a monster.</p>
<p>If you change the role of a semantic element to fool the browser or this extension, then <strong>you</strong> are the monster.</p>

<h4 id="red-label-border">Why is there a red border around my label?</h4>
<p>Is it connected to any form elements?</p>

<h4 id="missing-a11y-feat">Accessibility feature X is not checked and is not rewarded</h4>
<p>This extension is <strong>NOT</strong> an accessibility measurement tool, but some very common ones are checked. If would like to add more basic checks, please create a pull request.</p>

<h4 id="script-tags">Why highlight the <code>script</code> tags in red?</h4>
<p>The more scripts you have in your website, the more ways the page will break for the user, so I highlight them in dashed red borders, you can ignore them if you want.</p>

<h4 id="divs-and-spans">Are the <code>div</code> and <code>span</code> elements that bad?</h4>
<p>It depends on how you you use it, but no. Both <code>div</code> and <code>span</code> are generic elements that do not have any semantic meaning. So it is fine to use them for managing layouts, highlighting code syntax, and for other pure visual reasons.</p>

<p>But overly relying on them would mean that you are not using semantic elements enough. You do not need to re-invent the wheel if you use semantic elements.</p>

<h2 id="license">License</h2>
<p>Copyright &copy; 2024  Rahul Sivananda (CodingOtaku) &lt;contact@codingotaku.com&gt;</p>

<p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>

<p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.</p>

<p>You should have received a copy of the GNU General Public License along with this program.  If not, see &lt;https://www.gnu.org/licenses/&gt;.</p>
{{/inline}}
{{> (lookup this 'parent') }}

