{{#*inline "page"}}
<h2 id="about">About</h2>
<p>
  This is my gentoo <code>ebuild</code> repository (overlay) containing some wayland-safe builds. The packages are tested <strong>only on AMD64</strong>, and no other architectures.
</p>

<p>I update this repo biweekly unless there are some drastic changes required or I'm too busy with work.</p>

<p>The packages in this overlay cannot be found in the official Gentoo or Guru package repositories or has ebuilds with hard dependency on <code>X11</code>, the packages might not be stable and should be used at your own risk.</p>

<h2>Behind the name</h2>
<p>Cowaybuilds is pronounced as Co-Way-Builds, stands for Coding Otaku Wayland (safe) Builds.</p>


<h2 id="using">Using</h2>

<p>To use this overlay, first read and understand the Gentoo documentation on <a href="https://wiki.gentoo.org/wiki//etc/portage/repos.conf" rel="external" {{{settings.opener.metadata}}}>/etc/portage/repos.conf</a> , then either fork <a href="https://codeberg.org/codingotaku/cowaybuilds" rel="external" {{{settings.opener.metadata}}}>the repo</a> to use for yourself, or you can trust me and add the repo directly as an overlay by doing the following.</p>

<h3 id="manual-way">Manual way</h3>
<p>Create a new file {{#inline-code}}/etc/portage/repos.conf/cowaybuilds.conf{{/inline-code}} with the following contents.</p>
{{#code lang="properties"}}
[cowaybuilds]
location = /var/db/repos/cowaybuilds
sync-type = git
sync-uri = https://codeberg.org/codingotaku/cowaybuilds.git
priority = 100
{{/code}}

<p>Sync the repository with {{#inline-code}}emaint sync -r cowaybuilds{{/inline-code}}</p>

<h3 id="eselect-way">Eselect way</h3>
<p>On a terminal as root user, run {{#inline-code}}eselect repository add cowaybuilds git https://codeberg.org/codingotaku/cowaybuilds.git{{/inline-code}}.</p>
<p>And then sync the repository with {{#inline-code}}emaint sync -r cowaybuilds{{/inline-code}}.</p>

<h2 id="packages">Packages</h2>
<p>The repository contains the following packages</p>
<ul>
  <li><a href="https://github.com/paolostivanin/OTPClient" rel="external" {{{settings.opener.metadata}}}>app-admin/otpclient</a> - An easy to use OTP client written in C/GTK3 that supports both TOTP and HOTP</li>
  <li><a href="https://codeberg.org/codingotaku/fuzzmoji" rel="external" {{{settings.opener.metadata}}}>app-misc/fuzzmoji</a> - Quickly find Emoji with Fuzzel</li>
  <li><a href="https://codeberg.org/codingotaku/fuzzel-scripts" rel="external" {{{settings.opener.metadata}}}>app-misc/fuzzel-scrips</a> - This is a collection of scripts for <code>fuzzel</code>.</li>
  <li><a href="https://codeberg.org/codingotaku/fzguard" rel="external" {{{settings.opener.metadata}}}>app-shells/fzguard</a> - A simple tool to interactively manage WireGuard using FZF.</li>
  <li><a href="https://github.com/paolostivanin/libcotp" rel="external" {{{settings.opener.metadata}}}>dev-libs/libcotp</a> - C library that generates TOTP and HOTP</li>
  <li><a href="http://tph.tuwien.ac.at/~oemer/qcl.html" rel="external" {{{settings.opener.metadata}}}>dev-lang/qcl</a> - A high level, architecture independent programming language for quantum computers.</li>
  <li><a href="https://github.com/love2d/love" rel="external" {{{settings.opener.metadata}}}>games-engines/love</a> - Framework to create 2D games in Lua</li>
  <li><a href="https://7kfans.com/" rel="external" {{{settings.opener.metadata}}}>games-strategy/seven-kingdoms</a> - Seven Kingdoms: Ancient Adversaries game.</li>
  <li><del><a href="https://github.com/artemsen/swayimg" rel="external" {{{settings.opener.metadata}}}>media-gfx/swayimg</a> - Image viewer for Sway/Wayland</del> <ins>Swayimg is removed as it is now part of the guru repository</ins></li>
  <li><a href="https://git.libcamera.org/libcamera/libcamera.git" rel="external" {{{settings.opener.metadata}}}>media-libs/libcamera</a> - A complex camera support library for Linux, Android, and ChromeOS</li>
  <li><a href="https://gitlab.com/schmiddi-on-mobile/flare" rel="external" {{{settings.opener.metadata}}}>net-im/flare</a> - Chat with your friends on Signal (My request for Pure Wayland build was <a href="https://gitlab.com/schmiddi-on-mobile/flare/-/issues/239" rel="external" {{{settings.opener.metadata}}}}}>rejected</a>)</li>
  <li><a href="https://github.com/z411/trackma" rel="external" {{{settings.opener.metadata}}}>net-misc/trackma</a> - Open multi-site list manager for Unix-like systems. (Only cli and ncurses are tested)</li>
</ul>

<h3 id="experimental">Experimental</h3>
<p>The following packages are experimentel patchs to build without <code>X11</code> dependencies, and might break some packages.</p>
<ul>
  <li><code>virtual/opengl</code></li>
  <li><code>media-libs/glew</code></li>
</ul>
<p>When using this repository, you will need to ensure that adding the experimental packages will not break any existing packages (mostly games/graphics programs).</p>
{{/inline}}
{{> (lookup this 'parent') }}

