{{#*inline "page"}}
<h2 id="about">About</h2>
<p>A program to quickly find and copy Emoji using Fuzzel! This is a shameless fork of <a href="https://codeberg.org/arran/rofmoji" rel="external" {{{settings.opener.metadata}}}>rofmoji</a> by <a href="https://arran.nz" rel="external" {{{settings.opener.metadata}}}>arran</a></p>

<h2 id="installation">Installation</h2>

<p>If you are using gentoo, you can find this package in my <a href="/projects/cowaybuilds">cowaybuilds</a> ebuild repository as <code>app-misc/fuzzmoji</code> package. For generic linux installation, do the following.</p>

<h3 id="clone-repository">Clone this repository</h3>

{{#code lang='sh'}}
git clone https://codeberg.org/codingotaku/fuzzmoji.git
{{/code}}

<h3 id="install-dependencies">Install the dependencies</h3>

<p>Go through the <a href="#dependencies">dependencies</a> section, install the packages you need.</p>

<h3 id="install-script">Run the following</h3>

{{#code lang='sh'}}
cd fuzzmoji

# Copy emoji-list to a shared folder
sudo cp emoji-list /usr/share/fuzzmoji/emoji-list

# Copy fuzzmoji script to bin folder
sudo cp fuzzmoji /usr/bin/fuzzmoji
{{/code}}

<h3 id="bind-keys">Bind <code>fuzzmoji</code> to a key!</h3>

{{#code lang='sh'}}
# works on sway or i3wm, read the documentation for other Window manager or Desktop environment
bindsym $mod+i exec fuzzmoji
{{/code}}

<h2 id="usage">Usage</h2>

<p>Just type keywords to search for an Emoji
Emoji Modifiers are also available, Include one or more of the following in your query:</p>

<h3>Skin tone</h3>
<p><code>light, medium-light, medium, medium-dark, dark</code></p>

<h3>Gender</h3>
<p><code>man, woman, gender-neutral</code></p>

<h3>Hair</h3>

<p><code>red, curly, blonde, white, bald</code></p>

<h3 id="examples">Examples</h3>
<ul>
  <li> 👱🏾‍♂  - medium-dark blond man</li>
  <li> 👩🏾‍⚕ - dark woman doctor</li>
  <li> 👨🏾‍🚒  - dark firefighter man</li>
  <li> 👩🏾‍🦰  - light red woman</li>
  <li> 🧑🏾 - gender-neutral dark adult`</li>
  <li> 🧙🏽 - witch medium</li>
  <li> 👮‍♀  - police woman</li>
  <li> 👨‍💻 - coder man</li>
  <li> 👌 - ok hand</li>
  <li> 🐸 - frog</li>
  <li> 🤯 - exploding head</li>
</ul>

<h2 id="dependencies">Dependencies</h2>
<ul>
  <li><a href="https://codeberg.org/dnkl/fuzzel" rel="external" {{{settings.opener.metadata}}}>fuzzel</a></li>
  <li><a href="https://gitlab.gnome.org/GNOME/libnotify" rel="external" {{{settings.opener.metadata}}}>libnotify</a></li>
  <li><a href="https://github.com/bugaevc/wl-clipboard" rel="external" {{{settings.opener.metadata}}}>wl-clipboard</a> (optional, prioritized)</li>
</ul>
<p>If <code>wl-clipboard</code> is not present, the emoji is output to the terminal, you should be able to pipe it to the clipboard that you are using.</p>

<h2 id="contribute">Contributing</h2>

<p>If you have a suggestion to improve <code>fuzzmoji</code>, such as Emoji keywords, please make a Pull Request or send the patch to me via an email.</p>
{{/inline}}
{{> (lookup this 'parent') }}

