{{#*inline "page"}}
<h2 id="about">About</h2>
<p>
  This is a collection of scripts for <code>fuzzel</code>.
</p>

<h2 id="installation">Installation</h2>

<p>If you are using gentoo, you can find this package in my <a href="/projects/cowaybuilds">cowaybuilds</a> ebuild repository as <code>app-misc/fuzzel-scripts</code> package. For generic linux installation, do the following.</p>

<h3 id="clone-repository">Clone this repository</h3>

{{#code lang='sh'}}
git clone https://codeberg.org/codingotaku/fuzzel-scripts.git
{{/code}}

<h3 id="install-dependencies">Install the dependencies</h3>
<p>Go through the <a href="#scripts">scripts</a>, install the dependencies for the scripts you want to use.</p>

<h3 id="copy-scripts">Copy the scripts you want to the bin folder</h3>

{{#code lang='sh'}}
cd fuzzel-scripts
sudo cp get-chars /usr/bin/get-chars
sudo cp launch-from-dir /usr/bin/launch-from-dir
sudo cp file-context-menu /usr/bin/file-context-menu
sudo cp sway-window-switcher /usr/bin/sway-window-switcher

# Optional, Copy the man pages
sudo cp get-chars.1 /usr/share/man/man1/get-chars.1
sudo cp launch-from-dir.1 /usr/share/man/man1/launch-from-dir.1
sudo cp file-context-menu.1 /usr/share/man/man1/file-context-menu.1
sudo cp sway-window-switcher.1 /usr/share/man/man1/sway-window-switcher.1
{{/code}}

<h3 id="bind-keys">Keyboad sortcuts</h3>

{{#code lang='sh'}}
# this works on sway or i3wm, for anything else, read the documentation for other Window manager or Desktop environment
bindsym $mod+y exec get-chars --type
bindsym $mod+g exec launch-from-dir -p $HOME/Games
bindsym $mod+Tab exec sway-window-switcher
bindsym $mod+Shift+D exec 'launch-from-dir -p $HOME/scripts -l -t popup'
{{/code}}

<p><code>file-context-menu</code> is special, it needs a dynamic file path as argument to make sense of using this. For example, you can bind it to the execute command in the <a href="https://codeberg.org/codingotaku/dotfiles/src/branch/main/.config/swayimg/config#L4" rel="external" {{{settings.opener.metadata}}}>swayimg config like I do</a>.</p>


<h3 id="scripts">Scripts</h3>
<dl>
  <dt><a href="https://codeberg.org/codingotaku/fuzzel-scripts/src/branch/main/get-chars" rel="external" {{{settings.opener.metadata}}}>get-chars</a></dt>
  <dd><p>A simple tool that will type or print letters from specified positions of text in the clipboard, this is useful when websites use partial passwords for login.
This depends on <code>fuzzel</code>, <code>wtype</code>, and <code>wl-clipboard</code>.</p>
  </dd>
  <dt><a href="https://codeberg.org/codingotaku/fuzzel-scripts/src/branch/main/launch-from-dir" rel="external" {{{settings.opener.metadata}}}>launch-from-dir</a></dt>
  <dd><p>Helpful tool to launch programs stored in immediate subdirectories, I use this to launch games saved in my  <code>$HOME/Games</code> directory.<br>
    This depends on <code>fuzzel</code>, and <code>libnotify</code>.</p>
  </dd>
  <dt><a href="https://codeberg.org/codingotaku/fuzzel-scripts/src/branch/main/file-context-menu" rel="external" {{{settings.opener.metadata}}}>file-context-menu</a></dt>
  <dd><p>A script to show context menu for a given file path, currently supports <code>copy path</code>, <code>copy file</code>, and <code>open file</code>.<br>
    This depends on <code>fuzzel</code>, and <code>gio</code> (part of <code>glib</code>).</p>
  </dd>
  <dt><a href="https://codeberg.org/codingotaku/fuzzel-scripts/src/branch/main/sway-window-switcher" rel="external" {{{settings.opener.metadata}}}>sway-window-switcher</a></dt>
  <dd><p>A helpful tool to list and switch to the windows opened in sway.<br>
    This depends on <code>fuzzel</code>, and <code>swaymsg</code>.</p>
  </dd>
</dl>
<h3 id="see-also">Also checkout</h3>
<p><a href="https://codeberg.org/codingotaku/fuzzmoji" rel="external" {{{settings.opener.metadata}}}>fuzzmoji</a>: a shameless fork of <a href="https://codeberg.org/arran/rofmoji" rel="external" {{{settings.opener.metadata}}}>rofmoji</a> that uses <code>fuzzel</code> instead of <code>rofi</code> to insert emoji to any focused window.</p>
{{/inline}}
{{> (lookup this 'parent') }}

