{{#*inline "page"}}
<h2 id="about">About</h2>

<p>FZGuard is a simple tool to interactively use <a href="https://git.zx2c4.com/wireguard-tools" rel="external" {{{settings.opener.metadata}}}>wireguard-tools</a> (<code>wg</code>, <code>wg-quick</code>) with <a href="https://github.com/junegunn/fzf" rel="external" {{{settings.opener.metadata}}}>fzf</a></p>

<h2 id="installation">Installation</h2>

<p>If you are using Gentoo GNU/Linux, you can find this package in my <a href="/projects/cowaybuilds">cowaybuilds</a> ebuild repository as <code>app-shells/fzguard</code> package.</p>

<p>For generic linux installation, do the following.</p>

<h3 id="clone">Clone the repository</h3>

{{#code}}
git clone https://codeberg.org/codingotaku/fzguard fzguard
cd fzguard
{{/code}}

<h3 id="dependencies">Install the dependencies</h3>
<p>These can be found in your package manager of your distribution.</p>

<ul>
  <li><code>fzf</code></li>
  <li><code>bash</code></li>
  <li><code>wireguard-tools</code></li>
</ul>

<h3 id="copy-scripts">Copy the script to the user bin folder</h3>

{{#code}}
sudo cp fzguard /usr/bin/fzguard

# Optional, Copy the man page
sudo cp fzguard.1 /usr/share/man/man1/fzguard.1
{{/code}}

<h2 id="usage">Usage</h2>
<p>The script needs to be run with elevated privilages as WireGuard connections cannot be established without it.</p>

<p>So you can either:</p>
<ol>
  <li>As a root user, run <code>fzguard</code> in a terminal.</li>
  <li>Run using <code>sudo</code>, <code>doas</code>, or any other privilage elevation tool.</li>
</ol>

<p>After running <code>fzguard</code>, you will get an interactive interface to manage your WireGuard connections.</p>

<p>If your WireGuard config file is not placed under <code>/etc/wireguard</code>, you can set the config path with with <code>-p</code> option. e.g, <code>sudo fzguard -p /path/to/config/directory</code>.</p>

<h3 id="management">Quick management</h3>
<p>In some cases, you may want to quickly connect or disconnect from interfaces for a faster workflow. In such scenarios, just send the command as a flag. For example:</p>
<ul>
  <li>Connect to a new interface - <code>sudo fzguard -c</code></li>
  <li>Rwplace an existing connection with a new one - <code>sudo fzguard -r</code></li>
  <li>Disconnect to from an interface - <code>sudo fzguard -d</code></li>
  <li>Disconnect from from all interfaces - <code>sudo fzguard -a</code></li>
  <li>List all active connections - <code>fzguard -l</code>  (does not require root)</li>
</ul>

<p>For all the options except <code>-l</code>, you can provide a custom WireGuard config path using <code>-p</code> option with the path as the argument, for example:</p>

{{#code}}
# connect an interface defined in /path/to/config/directory
sudo fzguard -c -p /path/to/config/directory

# disconnect from an interface defined in /path/to/config/directory
sudo fzguard -d -p /path/to/config/directory

# replace an interface defined in /path/to/config/directory with another iterface in the same directory
sudo fzguard -r -p /path/to/config/directory
{{/code}}

<p><strong>Note:</strong> It is not yet possible to replace an interface from one directory to another, suggections are welcome if this can be done in an unambiguous way.</p>

<p><strong>Tip 1:</strong> Use an <code>alias</code> if you have to always use a custom path instead of the default path ({{#inline-code}}alias fwg="sudo fzguard -p /my/custom/wireguard/path"{{/inline-code}})</p>

<p><strong>Tip 1:</strong> Use the <code>-n</code> flag if you do not want to see output with color, this also disables the color in <code>fzf</code>.</p>

<h2 id="caviates">Caviates</h2>
<ol>
  <li>The script has not gone through security audits, and your <code>fzf</code> configurations will interfere with the commands being executed, so use at your own risk.</li>
</ol>

<p>If you find other issues, please <a href="https://codeberg.org/codingotaku/fzguard/issues" rel="external" {{{settings.opener.metadata}}}>create an issue</a> or <a href="/contact-me">send me an e-mail</a>.</p>
<p>Also, feel free to send me a patch or create a pull request for these if you can.</p>
{{/inline}}
{{> (lookup this 'parent') }}

