{{#*inline "page"}}
<h2 id="about">About</h2>
<p>
 <strong> This project is now abandoned, as the site is nolonger available.</strong><br>
  JEdenManga is an unofficial Manga Eden API client using java see more at <a rel="external" {{{settings.opener.metadata}}} href="https://www.mangaeden.com/api">https://www.mangaeden.com/api</a>.
</p>

<h2 id="get-all-manga">Get All Manga</h2>
<p>
  Language can be English or Italian, default is English<br>
  Returned data: MangaListObject that contains
</p>

<ul>
  <li>page,start,end, and total</li>
  <li>list <code>mangas</code> which contains the manga's image, title, ID, alias, status, category (genre), last chapter date, and hits.
  </li>
</ul>
{{#code lang='java'}}try {
  JEdenManga edenManga = new JEdenManga();
  edenManga.setLanguage(Language.English);
  MangaList allManga = edenManga.getAllManga();
} catch (IOException e) {
  e.printStackTrace();
}{{/code}}

<hr>
<h2 id="manga-list-splitted">Manga List splitted in pages</h2>
<p>
  Same as <code>getAllManga()</code>, but returns only 500 manga's informations (from manga X*500 to (X+1)*500, where X is the page argument)
</p>
{{#code lang='java'}}try {
  JEdenManga edenManga = new JEdenManga();

  MangaList mangaList = edenManga.getMangaListSplited(3); 
  List<Manga>; mangas = mangaList.getMangas();
 } catch (IOException e) {
  e.printStackTrace();
}{{/code}}

<hr>
<h2 id="dynamic-manga-list-splitted">Manga List splitted in pages with variable page size</h2>
<p>
  Same as above but returns only Y manga's informations (from manga X*Y to (X+1)*Y) [25 &lt; Y &gt; 1500]<br>
  ie if X is 0 and Y is 30, this will return first 30 list,<br>
  if x is 1 and y is 30 this will return mangas 30 to 60<br>
  if x is 2 and y is **50** it will return mangas from the range 100 to 150 and so on<br>
  x is the page value and y is the number of manga in the page
</p>
{{#code lang='java'}}try {
  JEdenManga edenManga = new JEdenManga();

  MangaList first10Manga = edenManga.getMangaListSplitedRange(1, 30);
  List<Manga>; mangas = first10Manga.getMangas();
} catch (IOException e) {
  e.printStackTrace();
}{{/code}}

<hr>
<h2 id="manga-info">Manga info and chapters list</h2>
<p>
  Where mangaId is the manga&apos;s id you can get with the previous api call<br>
  Returned data: all the informations and chapters of the manga.
</p>
{{#code lang='java'}}try {
  JEdenManga edenManga = new JEdenManga();
  MangaInfo mangaInfo = edenManga.getMangaInfo("managId.");
} catch (IOException e) {
  e.printStackTrace();
}

try {
  JEdenManga edenManga = new JEdenManga();
  MangaList first25Manga = edenManga.getMangaListSplitedRange(0, 25);
  List<Manga> mangas = first25Manga.getMangas();
  MangaInfo mangaInfo = mangas.get(0).getMangaInfo();
} catch (IOException e) {
  e.printStackTrace();
}{{/code}}

<hr>
<h2 id="pages">Chapter pages</h2>
<p>
  <code>chapterId</code> here is the chapter&apos;s id you can get with the previous api call.<br>
  Returned data: the images&apos;s urls and sizes of the chapter.
</p>

{{#code lang='java'}}try {
  JEdenManga edenManga = new JEdenManga();

  edenManga.setLanguage(Language.English);
  ArrayList<Page> chapterPages = edenManga.getChapterPages("chapterId");
} catch (IOException e) {
  e.printStackTrace();
}

try {
  JEdenManga edenManga = new JEdenManga();
  edenManga.setLanguage(Language.English);
  MangaList first25Manga = edenManga.getMangaListSplitedRange(0, 25);
  List<Manga> mangas = first25Manga.getMangas();

  MangaInfo mangaInfo = mangas.get(0).getMangaInfo();
  ArrayList<ChapterInfo> chapterPages = mangaInfo.getChapters();
  ArrayList<Page> pages = chapterPages.get(0).getPages();
} catch (IOException e) {
  e.printStackTrace();
}{{/code}}
<hr>
<h2 id="login">Login</h2>
<p>
  password should be parsed as char array.<br>
  Returns Status.OK when successful, Status.ERROR on failure.
</p>
{{#code lang='java'}}JEdenManga edenManga = new JEdenManga();
Status status = edenManga.login("userName", "pasword".toCharArray());
System.out.println(status==Status.OK);
System.out.println(status==Status.ERROR);{{/code}}
<hr>
<h2 id="logout">Logout</h2>
<p>
  Returns Status.OK when successful, Status.ERROR on failure.
</p>
{{#code lang='java'}}JEdenManga edenManga = new JEdenManga();
Status status = edenManga.logout()
System.out.println(status==Status.OK);
System.out.println(status==Status.ERROR);{{/code}}

<hr>
<h2 id="my-manga">MyManga</h2>
<p>
  User should login before calling this api.<br>
  Returns all manga saved in the user&apos;s mymanga list with all the informations about the manga, latest available chapter and last chapter read by the user.
</p>
{{#code lang='java'}}JEdenManga edenManga = new JEdenManga();
Status status = edenManga.login("userName", "pasword".toCharArray());
if(status==Status.OK) {
  List<MyManga> myManga = edenManga.myManga();
  myManga.forEach(manga->{
    System.out.println(manga.getLastChapterRead());
  });
}
{{/code}}
<hr>
<h2 id="dependencies">dependencies</h2>
{{#code lang='xml'}}<dependencies>
  <dependency>
    <groupId>com.google.code.gson</groupId>
    <artifactId>gson</artifactId>
    <version>2.8.4</version>
  </dependency>
  <dependency>
    <groupId>org.apache.httpcomponents</groupId>
    <artifactId>httpclient</artifactId>
    <version>4.5.5</version>
  </dependency>
</dependencies>
{{/code}}
{{/inline}}
{{> (lookup this 'parent') }}

