{{#*inline "page"}}
<h2 id="about">About</h2>
<p>A self-hostable search engine for sites supporting <a href="https://microformats.org/wiki/microformats2" rel="external" {{{settings.opener.metadata}}}>microformats2</a>.</p>

<h2 id="faq">FAQ</h2>
<p>The frequently asked questions and the information every site owner needs to know.</p>


<h3 id="hat">What is this for?</h3>

<p>This self-hostable search engine is an attempt to create an API to search microformats2 supported websites.</p>

<h3 id="who">Who is this for?</h3>
<p>Thi is best used by people who has personal websites and want to add search functionality. For a page to be indexed, the following criteria must be met:</p>
<ul>
  <li>The <a href="https://www.robotstxt.org/" rel="external" {{{settings.opener.metadata}}}>robots.txt</a> must not disallow this bot from crawling.</li>
  <li>The websites must use <a href="https://microformats.org/wiki/microformats2#h-entry" rel="external" {{{settings.opener.metadata}}}>h-entry</a> for posts, the pages without <code>h-entry</code> are skipped from indexing.</li>
  <li>The pages must be defined in the <a href="https://en.wikipedia.org/wiki/Sitemaps" rel="external" {{{settings.opener.metadata}}}>sitemaps</a> file, and that file must be mentioned in the <code>robots.txt</code></li>
</ul>

<h3 id="is-this-a-bot">Is this also a bot?</h3>
<p>Yes, the crawling bot is integrated with the search engine, the one hosting this search engine needs to manually enter the websites to crawl for.</p>

<h4 id="stopping-the-bot">How do I stop this bot?</h4>
<p>You can add the following to your <code>robots.txt</code> file:</p>

{{#code}}
User-Agent: IW-microsearch
Disallow: /
{{/code}}

<h4 id="skip-indexing">I want avoid indexing specific pages</h4>
<p>This bot finds all pages that are withing the <code>sitemap.xml</code>, and will <strong>NEVER</strong> crawl through other links in your webpage. If you want to not index a page that is in your sitemap.xml file, do one of the following:</p>
<ul>
    <li>Add {{#inline-code}}<meta name="robots" content="noindex">{{/inline-code}} tag.</li>
    <li>Add {{#inline-code}}<meta name="IW-microsearch" content="noindex">{{/inline-code}} tag. ({{#inline-code}}IW-microsearch{{/inline-code}} is our user agent)</li>
    <li>Add {{#inline-code}}X-Robots-Tag: noindex{{/inline-code}} in the response header.</li>
</ul>

<h4 id="delays">Does this bot respect delays?</h4>
<p>Yes, and the crawl delay used by this bot is the <strong>maximum</strong> value between the delay specified in the <code>robots.txt</code> and the default delay of the bot. The default delay for this bot is <strong>2 seconds</strong> per URL, and it is configurable by anyone hosting it.</p>

<p>For example, if you specifiy a crawl delay as 5 seconds like below, and the bot is configured to delay the crawl to 10 seconds, the bot will run every 10 seconds instead of 5.</p>

{{#code}}
User-agent: IW-microsearch
Crawl-delay: 5
{{/code}}

<h2 id="how-to-run">How to run this project?</h2>
<ol>
  <li>Clone <a href="https://codeberg.org/IndieWemblates/micro_search" rel="external source" {{{settings.opener.metadata}}}>this repository</a>.</li>
  <li>Copy the <code>env.sample</code> to a file named <code>.env</code>.</li>
  <li>Edit the newly created <code>.env</code> file and add the sites you want to index in the <code>SITES</code> variable.</li>
  <li>If you want to crawl multiple sites, seperate them with commas ({{#inline-code}}SITES=https://example.com,https://anotherexample.com{{/inline-code}}.</li>
  <li>Create a new python virtual environment and activate it ({{#inline-code}}python3 -m venv .venv && source .venv/bin/activate{{/inline-code}}).</li>
  <li>Install all requirements ({{#inline-code}}pip install -r requirements.txt{{/inline-code}}).</li>
  <li>Run the program with the command {{#inline-code}}flask run{{/inline-code}}.</li>
  <li>profit!</li>
</ol>

<h3 id="production">Running in production</h3>
<p>You can use <a href="https://gunicorn.org/" rel="external" {{{settings.opener.metadata}}}>gunicorn</a> for this, the below commands runs app in four workers.</p>
{{#code}}
# Binding to a port
gunicorn --bind "$FLASK_RUN_HOST:$FLASK_RUN_PORT" -w 4 wsgi:app --preload

# Binding to a unix socket
gunicorn --bind unix:~/micro_search.sock -w 4 wsgi:app --preload
{{/code}}

<p>Or, just run using the docker</p>
{{#code}}
docker compose up -d
{{/code}}

<h2 id="usage">How to use the project to search webpage?</h2>
<p>This service currently exposes only one api endpoint</p>
<ul>
  <li><code>/</code> -> A frontend with basic text search functionality</li>
  <li><code>/api/v1/search</code> -> This is a <code>GET</code> request that takes two parameters <code>query</code> and <code>site</code>.
    <ul>
      <li>The parameter <code>query</code> is mandatory, not providing a query will return an empty result.</li>
      <li>The parameter <code>site</code> the site url, you could also provide some arbitary text here, this will match all urls containing the provided the text.</li>
    </ul>
  </li>
</ul>

<h3 id="examples">API Examples</h2>
  {{#code}}
# Search for the text "example"
curl http://localhost:5000/api/v1/search?query=example

# Search for the text "example" in al URLs containing the word "example.com"
curl http://localhost:5000/api/v1/search?query=example&site=example.com

# Search for the text "example" in al URLs containing the word "demo"
curl http://localhost:5000/api/v1/search?query=example&site=demo
{{/code}}
{{/inline}}
{{> (lookup this 'parent') }}
