{{#*inline "page"}}
<h2 id="about">About</h2>
<p>
  This is my personal website containing my blogs, projects, things I do, and ways to contact me. This website is written in Rust and Handlebars, <a href="/am-i-indieweb-yet">partially supporting IndieWeb</a> while keeping accessibility and minimalism in mind.
</p>

<p>
  I have a long-term goal of being completely indie-web supported with other features like webmention, but I'm a bit pre-occupied to do it at the moment.
</p>

<h2 id="can-i-use-your-blog">Can I use your blog?</h2>

<p>
  Yes! But there are lots of hard-coded texts and references to my name and work in the repo, cleaning it up is a work in progress, so if you want to use my blog, please replace them with your details or remove them.
</p>

<h3 id="what-changes-should-i-make">What changes should I make?</h3>
<p>
As I mentioned above, the project has too many references to my name and my work, so the following must be done.
</p>
<ol>
  <li>
    Delete all files in the <code>templates/blogs</code>, and <code>templates/projects</code> folders.
  </li>
  <li>
    Rewrite all <code>*.html.hbs</code> files in the <code>templates</code> folder to refer your details
  </li>
  <li>
    Remove all references to my name, you can keep the one on the footer or just reference my name somewhere in your blog to let people know where you got the website source from.
  </li>
</ol>

<h3 id="how-do-i-build">How do I build?</h3>

You need <a rel="external" {{{settings.opener.metadata}}} href="https://www.rust-lang.org/">rust</a> installed in the system, once you have it, do the following.

<ol>
  <li>
    Clone this repository
  </li>
  <li>
    Copy the <code>App.toml.example</code> file to a new file called <code>App.toml</code>.
  </li>
  <li>Update <code>App.toml</code>
    <ol>
      <li>Update <code>secret_key</code> with a secret key of your own, read the <a rel="external" {{{settings.opener.metadata}}} href="https://rocket.rs/v0.5-rc/guide/configuration/#secret-key">rocket configuration guide</a> to know what it does and how to generate one.</li>
      <li>If you have <a rel="external" {{{settings.opener.metadata}}} href="https://unifiedpush.org/">unifiedpush</a> set up, update the <code>notify_url</code> with your <code>notification channel URL</code> to get notifications when your post gets webmentions.</li>
      <li>Update the <code>[default.card]</code> section with your details (all are mandatory).</li>
    </ol>
  </li>
  <li>
    Do what I told in the answer for the <a href="#what-changes-should-i-make">What changes should I make</a> section above.
  </li>
  <li>
    Once you have created new blogs and projects, add them to the JSON files in the <code>resources</code> directory (use the existing formats).
  </li>
  <li>
    Test your changes, do <code>cargo run watch -x</code> to launch your new website.
  </li>
</ol>


<p>
  To build and run the project in the production, do the following:
</p>
{{#code lang='sh'}}cargo build --release
./target/release/website
{{/code}}
{{/inline}}
{{> (lookup this 'parent') }}

