{{#if (gt (len paths) 0)}}
<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol>
    <li><a href="/"{{#if (eq url '/')}} class="u-url" aria-current="page"{{/if}}>Home</a></li>
    {{#each paths as |breadcrumb|}}
   <li class="crumb">{{#if (eq ../url breadcrumb.path)}}{{breadcrumb.value}}{{else}}<a href="/{{breadcrumb.path}}">{{breadcrumb.value}}</a>{{/if}}</li>
    {{/each}}
  </ol>
</nav>
{{/if}}
