<h2 id="about-me">About me <span class="ucode" aria-hidden="true">🪪</span></h2>
<section class="p-author h-card card">
  <picture class="photo">
    <source
      srcset="/images/me.svg"
      type="image/svg+xml"
      width="150"
      height="150">
    <img
      width="150"
      class="u-photo"
      height="150"
      src="/images/me.png"
      alt="Coding Otaku Logo">
  </picture>

    <p>I'm
      <span class="p-name">Rahul Sivananda</span> (<span class="p-pronouns"><span class="p-x-pronoun-nominative p-pronoun-nominative p-pronoun">he</span>/<span class="p-pronoun-oblique p-x-pronoun-oblique">him</span></span>), the Internet knows me by the name
      <em><a class="u-url p-nickname" href="{{meta.homepage}}">Coding Otaku</a></em> (<span class="p-pronouns"><span class="p-x-pronoun-nominative p-pronoun-nominative p-pronoun">they</span>/<span class="p-pronoun-oblique p-x-pronoun-oblique">them</span></span>).
     I currently work as a <span class="p-job-title">Senior Software Engineer</span> in <span class="p-locality">London</span>.</p>
    <p class="p-note">I care about Accessibility, Minimalism, and good User Experiences. I create small tools and scripts to make the life easy. If you need help or support with GNU/Linux system, or making your website accessible, you can reach out to me!</p>
    <h3 id="follow">Following me <span class="ucode" aria-hidden="true"> 🚶🚶‍♀️🧑‍🦽🧑‍🦼🧑‍🦯 </span></h3>
    <p>Subscribe to my <a href="/feeds">web feeds</a> if you like what I post and want to read them without visiting this website!</p>
    <p>You can also find me on <a rel="me external" href="https://fosstodon.org/@CodingOtaku" {{{settings.opener.metadata}}}>Mastodon</a>, <a rel="me external" href="https://codeberg.org/codingotaku" {{{settings.opener.metadata}}}>Codeberg</a>, or <a rel="me external" href="https://videos.codingotaku.com" {{{settings.opener.metadata}}}>Peertube</a>.</p>
    <p>Get my cURL card with {{#inline-code}}curl -sL https://codingotaku.com/cc{{/inline-code}}.</p>
    <h3 id="support">Supporting me <span class="ucode" aria-hidden="true">🫂</span></h3>
    <p>If you would like to help me to keep this site and my silly projects running, you can now <strong>donate</strong> to me through <a href="https://liberapay.com/codingotaku/donate" rel="payment external" {{{settings.opener.metadata}}}>Liberapay</a> or <a href="https://donate.stripe.com/aEUbL5gf24HNee46oo" rel="payment external">Stripe</a><span class="ucode" aria-hidden="true"> 💰.</span></p>
</section>

