<h2 id="mentions">Mentions <span class="ucode" aria-hidden="true">🗨️ </span></h2>
  {{#if (gt (len comments) 0)}}
<ul class="feed-list">
  {{#each comments as |comment|}}
  <li id="{{comment.id}}" class="note">
    <strong><a href="{{comment.website}}">{{comment.name}}</a></strong> mentioned this page on <time datetime="{{comment.date}}"> {{(strip-date comment.mention_date)}}</time> in their <a href="{{comment.source}}">post</a>.
    {{{comment.comment}}}
  {{/each}}
</ul>
{{/if}}

<p>Looking for comments? This website uses <a rel="external" {{{settings.opener.metadata}}} href="https://www.w3.org/TR/2017/REC-webmention-20170112/">webmention</a> instead, the standard way for websites to talk to each other, you can either send me one through your website, or use the below form to submit your mention. If you do not own a website, send me an <a href="/contact-me#mail">email</a> instead.</p>
<details>
  <summary>Toggle the webmention form</summary>
  <form class="form" action="/webmention" method="post" accept-charset="utf-8">
    <fieldset>
      <legend>All webmentions  will be held for moderation by me before publishing it.</legend>
      <input type="hidden" name="target" id="target" value="{{meta.homepage}}{{page.url}}">
      <label for="source">Webmention link in its cannonical form (Required)</label>
      <input class="input" type="url" id="source" name="source" required placeholder="webmention link" >
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</details>

