<footer class="footer">
  <p>
    You may also access this website <a rel="external" href="http://3oamv2de6ooacy72hv3ulym3i3vvlprlkqas7hhzo4pu5nyxnji37zad.onion/">via tor</a>, some images and vector graphics might not render depending on your security settings.
  </p>

  <p>The <a rel="external vcs-git" href="https://codeberg.org/codingotaku/website" {{{settings.opener.metadata}}}>source code</a> is
  licensed
  <strong><a rel="external license"
             href="https://codeberg.org/codingotaku/website/src/branch/main/LICENSE"
             {{{settings.opener.metadata}}}
             >AGPLv3</a></strong>, and the website content is licensed
  <strong><a rel="external copyright" href="https://creativecommons.org/licenses/by-sa/4.0/" {{{settings.opener.metadata}}}>CC BY-SA 4.0</a></strong> unless otherwise stated.</p>
  <p><a href="/accessibility-statement">Accessibility Statement</a></p>
  <p><a href="/privacy" rel="privacy-policy">Privacy Policy</a></p>
  <p><a href="/sitemap.xml">Site Map</a></p>
</footer>

