<header>
  <nav class="nav-bar" aria-label="main navigation">
  <a class="skip" href="#content">Skip to main content</a>
  <a class="skip" href="#search">Skip to search</a>
    <ul class="menu">
      <li><a href="/" class="nav-item{{#if (eq page.url '/')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">🏠 </span> Home</a></li>
      <li><a href="/blogs" class="nav-item{{#if (eq page.url '/blogs')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">📚 </span> Blogs</a></li>
      <li><a href="/projects" class="nav-item{{#if (eq page.url '/projects')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">💻 </span> Projects</a></li>
      <li><a href="/stories" class="nav-item{{#if (eq page.url '/stories')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">📔 </span> Stories</a></li>
      <li><a href="/uses" class="nav-item{{#if (eq page.url '/uses')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">🛠️ </span> Uses</a></li>
      <li><a href="/blogroll" class="nav-item{{#if (eq page.url '/blogroll')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">🔖 </span> Blogroll</a></li>
      <li><a href="/contact-me" class="nav-item{{#if (eq page.url '/contact-me')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">🪪 </span> Contact</a></li>
      {{#if settings.is_logged_in}}
      <li><a href="/admin-page" class="nav-item{{#if (eq page.url '/admin-page')}} current" aria-current="page{{/if}}"><span class="ucode" aria-hidden="true">🧑 </span> Admin</a></li>
      {{/if}}
    </ul>
  </nav>

  <form role="search" action="/search" class="search">
      <label for="search">Search my website<br>
      <input class="input" id="search" name="text" placeholder="Search for posts" type="search" value="{{input}}" required></label>
      <button type="submit">Search <span class="ucode" aria-hidden="true">🔍</span></button>
  </form>
</header>

<aside class="settings" aria-labelledby="toggle-settings">
<details {{#if settings.is_open}}open{{/if}}>
  <summary id="toggle-settings"><strong>Toggle Preferences</strong> <span class="ucode" aria-hidden="true">&#9881;</span></summary>
  <h2 id="pre-head">Preferences form</h2>
  <p>If you want to change how you view this website, you can do that here.</p>
  <form class="form" action="/settings" method="post" accept-charset="utf-8">
    <fieldset>
      <legend>Site Preferences</legend>
      <label for="theme"><span class="ucode" aria-hidden="true">🌈</span> Theme</label>
      <select name="theme" id="theme" class="select">
      {{#each choices.themes}}
        <option value="{{this.value.value}}"{{#if this.is_selected}} selected{{/if}}>{{this.value.name}}</option>
      {{/each}}
      </select>
      <label for="size"><span class="ucode" aria-hidden="true">👓</span> Font size</label>
      <select name="size" id="size" class="select">
      {{#each choices.sizes}}
        <option value="{{this.value.value}}"{{#if this.is_selected}} selected{{/if}}>{{this.value.name}}</option>
      {{/each}}
      </select>
      <label for="width" class="hide-in-mobile"><span class="ucode" aria-hidden="true">🖵 </span> Content width</label>
      <select name="width" id="width" class="select hide-in-mobile">
      {{#each choices.widths}}
        <option value="{{this.value.value}}"{{#if this.is_selected}} selected{{/if}}>{{this.value.name}}</option>
      {{/each}}
      </select>
      <label for="opener"><span class="ucode" aria-hidden="true">🔗</span> External links</label>
      <select name="opener" id="opener" class="select">
      {{#each choices.link_openers}}
        <option value="{{this.value.value}}"{{#if this.is_selected}} selected{{/if}}>{{this.value.name}}</option>
      {{/each}}
      </select>
      <input type="hidden" value="{{page.url}}" name="sender">
      <input type="checkbox" name="clear" id="clear">
      <label for="clear" id="clear-cookies">Clear Cookies <span class="ucode" aria-hidden="true">🍪</span></label>
    </fieldset>
    <button type="submit">Submit</button>
    {{#if settings.is_open}}<hr><p>Preferences updated successfully!</p>{{/if}}
    <hr>
    <h3 id="pref-notes">Note: preferences uses HTTP cookies.</h3>
    <ul>
      <li>The preferences are saved using HTTP cookies because this website does not use Javascript.</li>
      <li>To clear the cookies, select <q><a href="#clear-cookies">Clear Cookies</a></q> and click submit, this will also reset all preferences.</li>
      <li>The cookies are not used for analytics, read the <a href="/privacy">privacy policy</a> if you need more details.</li>
    </ul>
  </form>
</details>
</aside>
