<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="author" content="{{meta.fullname}} ({{meta.display_name}})">
  <meta name="referrer" content="no-referrer">
  {{#unless settings.theme.metadata}}
  <meta name="theme-color" content="fff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="111" media="(prefers-color-scheme: dark)">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{meta.display_name}}">
  {{else}}
  <meta name="theme-color" content="{{settings.theme.metadata}}">
  {{/unless}}

  <title>{{#if settings.is_open}}Preferences updated - {{/if}}{{#unless (eq page.url '/')}}{{page.title}}{{else}}Home{{/unless}} {{#if page.status}} - {{page.status}}{{/if}} - {{meta.display_name}}</title>
  <meta name="description" content="{{page.desc}}">
  <meta name="title" content="{{page.title}}">
  <meta property="og:title" content="{{page.title}} - {{meta.display_name}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{meta.homepage}}{{page.url}}">
  <meta property="og:description" content="{{page.desc}}">

  {{#if page.banner}}
  <meta property="og:image" content="{{meta.homepage}}/images{{page.url}}/{{page.banner.file}}">
  {{else}}
  <meta property="og:image" content="{{meta.homepage}}/images/default-banner.webp">
  {{/if}}
  <meta name="keywords" content="{{#each page.tags as |tag|}}{{tag}}, {{/each}}">
  {{#each feeds as |feed|}}
  <link rel="alternate" type="{{feed.mimetype}}" href="{{feed.url}}" title="{{feed.name}}">
  {{/each}}
  <link rel="icon" href="/images/me.svg" type="image/svg+xml">
  <link rel="alternate icon" href="/images/me.png" type="image/png">
  <link rel="preload" href="/styles/index-v1.24.2.css" as="style">
  <link rel="stylesheet" href="/styles/index-v1.24.2.css">
  <link rel="authorization_endpoint" href="{{meta.homepage}}/indie-auth">
  <link rel="me" href="https://github.com/CodingOtaku" title="GitHub">
  <link rel="webmention" href="{{meta.homepage}}/webmention">
</head>

