<li class="li-entry">
  <article class="h-entry">
    <header>
      <h{{level}} class="p-name"><a class="u-url" {{#if (eq cat 'stories' ) }}rel="chapter" {{/if}}href="{{value.url}}">{{{value.title}}}</a>{{#if status}} - {{status}}{{/if}}</h{{level}}>
      <p>Published on <time class="dt-published" datetime="{{value.date}}">{{(strip-date value.date)}}</time>{{#if value.last_updated}}, Updated on <time class="dt-updated" datetime="{{value.last_updated}}">{{(strip-date value.last_updated)}}</time>{{/if}}.</p>
    </header>
      <p class="p-summary">
        {{{value.desc}}}
      </p>
      {{#if value.tags[0]}}
      <footer>
       <p class="tags">Tags:
        {{#each value.tags as |tag|}}
        <a class="p-category" href="/{{../cat}}/tags/{{tag}}">#{{tag}}</a>
        {{/each}}
       </p>
      </footer>
      {{/if}}
  </article>
</li>
