{{#if nav.has_any}}
  <section class="list">
    <h2 class="p-name" id="continue-reading">Continue Reading</h2>
    <p>Like this post? there's more where that came from! Continue reading.</p>
    <ul>
      {{#if nav.next}}<li><a href="{{nav.next.url}}">Next</a></li>{{/if}}
      <li><a href="/{{cat}}" rel="next"> See All {{cat_title}}</a></li>
      {{#if nav.previous}}<li><a href="{{nav.previous.url}}" rel="prev">Previous</a></if>{{/if}}
   </ul>
 </section>
{{/if}}
