<header>
  <h1 id="title" class="p-name"><a class="u-url" aria-current="page" href="{{page.url}}">{{page.title}}</a>{{#if page.status}} - {{page.status}}{{/if}}</h1>
  <p class="p-summary">{{{page.desc}}}</p>
  {{#unless hide_comments}}
  <ul>
    {{#if page.date}}
      <li>Published on <time class="dt-published" datetime="{{page.date}}">{{(strip-date page.date)}}</time>.</li>
      {{#if page.last_updated}}<li>Last updated on <time class="dt-updated" datetime="{{page.last_updated}}"> {{(strip-date page.last_updated)}}</time>.</li>{{/if}}
    {{/if}}
    {{#if page.ext_url}}
      <li>Source: <a rel="external" {{{settings.opener.metadata}}} href="{{page.ext_url}}">{{page.ext_url}}</a></li>
    {{/if}}
    {{#if page.tags}}
      <li class="tags">Tags:
        {{#each page.tags as |tag|}}
          <a class="p-category" rel="tag" href="/{{../cat}}/tags/{{tag}}">#{{tag}}</a>
        {{/each}}
      </li>
    {{/if}}
  </ul>
  {{/unless}}
<hr>
</header>
