<nav class="toc" aria-labelledby="toc-header">
  <details>
    <summary><strong id="toc-header">Toggle the table of contents <span class="ucode" aria-hidden="true">📖</span></strong></summary>
    <ol>{{{ contents }}}</ol>
  </details>
</nav>
