{{#*inline "page"}}
<p class="center-text"><strong>&lt;&lt;15 years ago&gt;&gt;</strong></p>

<p>It was a warm and sunny day, perfect for the school's annual tour. We were all happy and climbed in to the school bus like a horde of hamsters. School tours are awesome!, we will get to play many games on the way, see new things, play pranks and have fun. So we were all thrilled when our scary history teacher Ms. Aumis announced about it on last month, and we came well-prepared.</p>

<p>Ms. Aumis is very scary, she always scolds us for small things and gives us heavy homework.</p>

<p>The bus started, and we were all overjoyed when we heard the engine start, we could feel the vibration from the bus and every kid on the bus started shouting <q>MOVE IT ALREADY</q>; then Ms. Aumis came to us with an angry looking face and said <q>We will start, just wait for our homeroom teacher</q>. Then all the kids went silent, we didn't want a tour without our homeroom teacher. We call her Ms. Avery, she is very pretty and nice. All the kids loved her, and some even had a crush on her.</p>

<p><q>Wait, don't start without me…</q> Ms. Avery came to the bus running. She was wearing casual clothes, what a bummer we were expecting her to go all out, but still, she is very pretty. She had long brown hair and dark brown eyes. While we were all admiring her beauty, she got inside the bus and sat down with other teachers. The bus started to move.</p>

<p>After three long hours, we reached the mountain.</p>
<p>Ms. Aumis : <q>Now we have to trek for one hour to reach our spot</q></p>
<p>Kids : <q>Whaaat? Can't we just go on this bus</q></p>
<p>Ms. Avery : <q>I'm sorry kids, the path is very narrow, so our bus cannot go on that route. So we will have to trek. It'll be fun, I promise.</q> She said that with a smile. We all started trekking after that.</p>


<p>The path was filled with bricks and stones, the sides were covered with endless trees. It was very spooky. Even though the time was about 9 O'clock, there was no sunlight present because of the trees. Half an hour passed, we were all hungry and tired, so we decided to rest for a while.</p>
<p>We found a nice spot in the woods and sat down.</p>

<p>Suddenly, a gust of wind passed through us. It smelled like jasmine. A few seconds later, everyone started to fall down one by one. We tried to scream, but our voices did not rise. Everyone fell down including the faculties. I tried to get up and find some water, but my legs didn't move, every time I tried to move my vision became blurry and finally, I too collapsed down to the ground. I could still smell the jasmine everywhere around me…</p>

{{/inline}}
{{> (lookup this 'parent') }}
