{{#*inline "page"}}
<p class="center-text"><strong>&lt;&lt;1 week later&gt;&gt;</strong></p>

<p>Person one : <q>Hey, can you help me with this code?</q></p>

<p>Me : <q>Sure, let me debug it.</q></p>

<p class="center-text"><strong>&lt;&lt;2 hours later&gt;&gt;</strong></p>

<p>Me : <q>There... it's fixed.</q></p>

<p>Person one : <q>Thank you, you are a great help. I wouldn't have been able to complete this work without you</q> He said with a smile.</p>

<p>This is where I work now, after continues job changes and moving from town to town, I got settled in a small software company. The pay is manageable, it's enough to pay the taxes and live my daily sloppy life reading Manga and watching Anime.</p>

<p>Everyone here has something in common, since it is a small company, all are being exploited, used by their bosses and struggle to meet the deadlines. So everyone helps each other to feel at ease. But some people quit, saying they can't keep up with this struggle.</p>

<p>Yes, it is hard. But someone like me who was being taken advantage of since the childhood... I guess you can say that 'I am used to being used'. That is why I created that world when I was a teen, to escape from the realities.</p>

<p>However, I never knew that they were in such a predicament because of me...</p>

<p class="center-text"><strong>&lt;&lt;Last week&gt;&gt;</strong></p>

<p>Xenia : <q>So here we are, we were supposed to be the villains in this scene; you were supposed to defeat us and rescue the hostages also making us your friends by your 'wordplay' at the end, but we don't have time to play your old silly fantasies you made after watching some anime</q></p>

<p>Saburo : <q>She is right, we have a bigger problem here. Whether you are feeling out of place or can't recall your memories from childhood, it doesn't matter anymore, this place is falling apart all because of you.</q></p>

<p>Me : <q>Could you just please tell me what is happening here? I do remember creating a bunch of characters in my head after watching anime and movies, but what do you mean by it is my fault? Why did you say this place is falling apart? I thought this was just one of my dreams...</q></p>

<p>Maaria : <q>Well, it is good that you remember something. And this is not just one of your dreams; you are sleeping... it's a bit hard for me to explain...</q></p>

<p>Saburo : <q>Long story short, this is a world created by the dreams of people. Each dream you have, as long as it has enough detail, it will become a reality here. And we found a way to interact with others' dreams, and that's how you are ended up with us.</q></p>

<p>Chris : <q>You could say that right now, you are living your dreams... as well as the dreams of others. But to us, everything here is real.</q></p>

<p>Chris suddenly changed his face from being careless to being serious. It looked like he had been through a lot.</p>

<p>Xenia : <q>And YOUR dreams ruined EVERYTHING.</q></p>

<p>She is still angry, but she never told what she is so mad about and why.</p>

{{/inline}}
{{> (lookup this 'parent') }}
