{{#*inline "page"}}
<p>This is intense and a bit familiar.<br>
It seems I have been here before but somehow my memory is blurry.
</p>

<p><q>Where am I?</q></p>

<p>
  I can see a group of people on the other side of this hall trapped in a cage. With pale faces and narrow lifeless eyes they looked like they have met the death itself.<br>
  There were around 30 people inside, the cage had a weird blue light surrounding it like a force-field from those fictional movies.<br>
  I tried to move around but I was immobilised with a chain made of some kind of hard red metal that had the same blue light wrapping it. What is this light?
</p>

<p><q>Where we kidnapped? What is happening here? Where are we?</q><br>
   I asked to people in the cage.
</p>

<p>
  They where silent, I haven't seen them uttering a single word ever since I woke up.<br>
  They just stood there staring at me with their narrow eyes without showing any emotions. I tried to find if there are any familiar faces in the cage.
</p>

<p>The more I looked I could not discriminate their faces from one to another, it was similar to remembering the faces of people you saw on the side walk in the morning, they where vague and blurry, you know there is a person but you just can't remember the characteristics of their face.<br>
   How can such a thing happen when one look at a person right in front of them?
</p>

<p>They started to become more and more like mannequins as the time passes. This could be a dream, a nightmare that would go away if I could just wake up.</p>

<p>
  I could feel the atmosphere changing, the dark cold dungeon started to become warmer. [SLAM] a huge door was closed by force sending out massive vibration throughout the hall. It was then I realised that there was a door to my left.<br>
  There were 5 people standing there, three men and two women. All in their mid-twenties just like me.
</p>
{{/inline}}
{{> (lookup this 'parent') }}
