{{#*inline "page"}}

<p>Everyone was shocked, who wouldn't? Seeing an energy beam swirling through electric waves like a snake approaching its prey. It was an unimaginable sight, a light that lives, a light that has hunger…</p>

<p>I woke up hearing a rumble. Being barely able to lift my head up, I tried to move around. No, it is of no use, I can't move a muscle, somehow my head is feeling lighter.
</p>

<p>Viridian stepped back slowly, he was trying to avoid a direct contact with the Vi-Beam, yes he was afraid of it, but why? Countless thoughts passed through my brain, it was painful.
  Am I going to die? Before I knew it, all I could see was a bright light, and it began to fade into darkness, this might be it…
</p>


<p><q>What is happening?</q> No, I couldn't talk, I couldn't move, I couldn't do anything, I didn't know what was happening, I didn't understand why it was happening, I didn't know anything. Yes, that's right, I feel like a puppet, an empty vase without a purpose. Why am I here?
</p>

<p>The rumble is getting louder in every second that passes. It's loud enough to make me puke, somehow I managed to hold it in. I can hear my friends screaming. Yeah, something is definitely wrong.
</p>

<p><q>We gotta get outta here, Viridian, stop it. It's gonna explode</q> Chris screamed at the top of his lungs.</p>

<p><q>No, we managed to get this far, If it got out I will take the full responsibility and become the vase, you guys make sure to get out if it fails.</q> Viridian said while trying to hold the Vi-Beam in the glass box with his energy.</p>


<p><q>Are you nuts? We can come back again with better equipment, we still have time for…</q> Xenia shouted.</p>

<p><q>TIME FOR WHAT? We waited long enough for today, we will take it with us even if it causes my death, it's our only choice. Leaving it here will cause even more problems. We CANNOT let it grow any further.</q> Viridian keeps struggling to keep the box from breaking.</p>

<p><strong>The rumbling stopped, the box broke and Vi-Beam had escaped.</strong></p>

<p>I managed to get up somehow, my body still hurts, but my head has a relieving feeling, it's like a weight has been lifted.</p>

{{/inline}}
{{> (lookup this 'parent') }}
