{{#*inline "page"}}
<p>We woke up to find that we were all kidnapped,<br>
  Everyone is held captive inside a big cage in an even bigger dungeon. I could barely stand on my legs.<br>
  Ms. Avery was trying her best to call for help on her cellphone, but there was no signal to begin with, maybe that's why they didn't take our cellphone away. Where are we?
</p>

<p>I could see a gigantic door made of metal on the other side of the room and a six-foot tall glass box near it. The door opened with a loud long screech as I was looking at it and five teens entered into the dungeon.</p>

<p><em>Author Note: &lt;These teens are the younger versions of Chris, Xenia, Viridian, Saburo and Maaria, so I'll just skip introducing them again&gt;</em></p>

<p>Xenia : <q>Do you really think that it is one of these kids?</q></p>

<p>Chris : <q>You are a kid too, you know?</q></p>

<p>Xenia : <q>I'll be eighteen in five years, just shut up.</q></p>

<p><q>Let's just get it over with already, it's annoying to watch these two.</q> Maaria said to Saburo.</p>

<p>Saburo : <q>I couldn't agree more.</q></p>

<p>Viridian came forward with a machine which looked a lot like an AK47 but with something like a tesla coil attached to it's head and a couple of wires which were connected to Viridian's headphones. It looked like it was a handmade weapon from a kid's imagination.</p>

<p><q>You don't need to be afraid, one of you has something that we need, something priceless to us, and we are here to take it.</q> Saburo said to everyone in the cage.</p>

<p><q>Just what do you want? Why are you doing this to us? Please, at least let these kids go. I'm begging you.</q> Ms. Avery had tears running down her eyes when she said that.</p>

<p><q>I don't like playing bad guy here, so I will tell you something that will get you on our side, If we don't do this now, then all living things on this earth will be destroyed one day, it will happen in your lifetime, and it won't be pretty.</q> Saburo said that with a cold, harsh tone, even his eyes were lifeless.</p>

<p><q>You think I will believe that? All I see is a bunch of brainwashed kids being terrorists, doing what they were told to by their masters.</q> Ms. Aumis shouted, grabbing the steel bars of the cage.<br>
<strong>&lt;&lt;Bzzz&gt;&gt;</strong> *Ms. Aumis fell down hard on her back like she got shocked from those bars*</p>

<p><q>It's futile, I tried reasoning with you, but it seems you are not ready to listen. Maybe you will need to learn it the hard way. Viridian, could you please activate the extractor?</q> Saburo went back a few steps after saying that.</p>

<p>Viridian went forward and turned on the weird looking machine. It started and began to throw out electric discharges all around the room, most of them hit on the cage and disappeared.</p>

<p><q>We are picking up a lot of signals! It's definitely here. I will try to pinpoint the location</q> Viridian said while tuning the machine.</p>

<p>A sudden electric shock wave passed through the cage from the machine and hit on my head, but I didn't feel anything besides a slight numbness on my forehead. It started to become painful quickly, and I could see a blue light coming out of my head and passing back through the electric discharge like it was being absorbed by the machine. It hurts a lot, but I couldn't move, like I was completely immobilised by the shock. All I could do was scream with pain.</p>

<p><q>Finally, it's here, the Vi-Beam.</q> Viridian said with a smile.</p>

{{/inline}}
{{> (lookup this 'parent') }}
