{{#*inline "page"}}
<p>
  I think I remember them, or at least I have seen all five of them before somewhere, but my memory is vague and couldn't figure out who they are. So I decided to ask them before coming to any conclusions.
</p>
<p>
I asked the girl in the front because she seemed to be a gentle person.<br>
<q>Ahm... Have we met before? What are you all...</q>
</p>
<p>
<q><strong><q>HAVE WE MET?</q></strong> DO YOU REALLY NOT REMEMBER US?</q>
She said with an angry tone and charged at me with a knife.
</p>
<p>
One of the men stopped her, he looked very athletic but had an angry face.
</p>
<p>
<q>After all these years, you have forgotten the only people who had ever cared about you, I guess we should have prepared for this from the beginning.</q> said the other girl.
</p>

<p>
So we have met, then how did I forget them? It doesn't make much sense.
</p>


<p>
  <q>I'm really sorry, I can't get to remember you. But please let me know what is happening here...<br>
  Where are we? Who are you all? Who are those people in the cage? Why do they look like...</q>
</p>



<p>
<q>You are asking too many questions, shut it up or I'll show this knife down your throat</q><br>
She was still angry, guess I chose the wrong person to ask the questions.
</p>
<p>
A person wearing glasses comes forward
</p>


<p><q><em>*Sigh*</em> it is just as she said, you are asking too many questions. Maybe I can help.
One, we are not in your world anymore. It will feel a bit weird to hear, but bear with me, I'll explain why in a minute.<br>
Two, we are your friends or shall I say 'we were' since you don't remember us...<br>
Three, the people in the cage are hostages, and you put them in there, so you can save them<br>
Four..</q>.</p>

<p>
<q>Wait... I put them in there? So that I can save them? No, that's rubbish. You think I planned all this to play hero??</q>
The whole thing doesn't make sense anymore.
</p>

<p><q>Please be patient, I haven't done explaining yet,<br>
So where were we... hmm okay got it,<br>
Four, they look like mannequins because they aren't relevant to what is happening here.</q></p>


<p>
<q>*sigh* hold on four eyes... you are making this even harder for him to understand</q> said the athlete guy, and he cut off the odd chains around me.
</p>

<p>
  <q>
    Well first thing first, I'm Chris, the four eyes over there is Saburo, the silent one behind me is Viridian, and that innocent looking angry chick is Xenia.<br>
    And the other one is Maaria I don't really know <em>why</em> there's an extra 'a' in her name haha.<br>
    And we, including you, were very close friends once. In your dreams. And that's where you are now.
  </q>
</p>

{{/inline}}
{{> (lookup this 'parent') }}
