{{#*inline "page"}}
<p>Chris apologized while holding Viridian who is now unconscious.<br>
<q>Thank you! And… we are sorry…</q><br>
<em>*He put Viridian down gently*</em><br>
<q>We thought that this would help, leaving such a dangerous thing on earth unsupervised to a child was never a good idea. So we decided to capture and dispose it to the nearby star, But it seems that you are more than capable of handling it right now.</q></p>

<p><q>I-It is at least a t-thousand t-times bigger than the l-last time I saw it.</q> I was stuttering the whole time.</p>

<p><q>A THOUSAND? You are exaggerating, right?</q> Xenia asked nervously.</p>

<p><q>N-No, it was the s-size of a small b-bug when I s-saw it for the f-first time.</q> I was still stuttering.</p>

<p><em>*Everyone went quiet, Xenia didn't even blink for the next few minutes!*</em></p>

<p>My hands started to turn blue, I couldn't speak or move! I felt claustrophobic in that giant dungeon!</p>

<p>Everyone started running towards me, but their faces were vague, it felt like looking at a bunch of mannequins, but I could hear them shouting as my sight faded away into darkness.</p>

<p class="center-text"><strong>&lt;&lt;Present day&gt;&gt;</strong></p>

<p>I woke up in my cosy flat filled with instant ramen cups and unwashed cloths all over the floor</p>

<p>I was feeling hungover without having any drinks!</p>

<p>Was it a dream? It felt so real! I can't tell the difference any more!</p>

<p>I looked around the messy floor</p>

<p>At least I am back in my home in one piece!</p>

<p>I spent the next few hours cleaning up my room and thinking about what happened in the last night.</p>

<p>All I remember is coming back from my work thinking about my past, maybe that explains the dream.</p>

<p>But it was too brutal for a nightmare! Did I die in it? Or was it real? Did that all already happened? Or was it me just recalling an older dream? I can't tell any more, what is reality?</p>
{{/inline}}
{{> (lookup this 'parent') }}
