{{#*inline "page"}}

<p>Chris : <q>Xenia, it is not his fault. There's no way for him to know about all this.</q></p>

<p>Me : <q>Alright… we are getting nowhere… just tell me what happened.</q></p>

<p>Saburo : <q>I will have to start from the beginning, this world is created by people's dreams and fantasies.<br>
    Every dream that you have, even if it's just an everyday daydream or a complex lucid one, as long as the dreamer adds enough detail to it, that dream and its contents will become a part of this world.<br>
    There's not much of a rule for how much detail is needed, I guess the dreams should just make sense or the dreamer should be very passionate about it.</q></p>

<p>Viridian : <q>It is just like the world you live in, where 'survival of the fittest' determines which one will continue.<br>
   Sometimes they will fight over world domination, other times the fight is over a Barbie doll.<br>
   There's always a struggle, but the dreams will not die here, they just become a part of other ones when defeated, and they will continue moving forward.</q>
</p>

<p>Chris : <q>In short, this is a world where anything can happen, but everyone will be doing what the dreamer dreamed of.</q></p>

<p>Saburo : <q>There are a lot of issues with the world now, or should I call it a dream world?
Anyway, do you remember Xînâo?</q></p>

<p>Me : <q>Xînâo? Yeah., I guess I do remember him. I can think of his abilities, but not his face. I gave him some kind of hypnotic abilities to fight a villain with unstoppable strength.</q></p>

<p>Saburo : <q>Yes, that's the person, and he is…</q></p>

<p>Xenia : <q>AND YOU DON'T REMEMBER US?</q></p>

<p>Chris : <q>Do you even know what you are mad about? Is it because he doesn't remember you? Or because this world is coming apart?</q>
<em>*He asked it with a smirk.*</em></p>

<p>Xenia : <q>T-The world, of course, who wants a skinny nerd with no life wants to remember them.</q></p>

<p>Chris : <q>Now you are just playing tsundere haha.</q></p>

<p><em>*Xenia looked away with an angry face.*</em></p>

<p>Saburo : <em>*sighs*</em> <q>don't mind them. Now, back to what I was saying. Xînâo won that battle, and he ended up here afterwards, and he started to continue his battle here with other villains.</q></p>

<p>Me : <q>That's good to hear. I wanna meet him. I want to meet all of my creations here</q></p>

<p>Chris : <q>I'm afraid that's not the case here. We do want you to meet him, but… to tell you the truth, he is not the same guy you made him to be any more.</q></p>

<p>Xenia : <q>“He turned around, betrayed… ALL OF US.”</q>
<em>*She started crying*</em><br>
<em>*Maaria hugged her to calm her down*</em><br>
</p>

<p>Chris : <q>We are not actually sure about what happened to him or why he changed. By the time we realised that he was in this world… we were too late.</q><br>
He had a gloomy face when he said that.
</p>

<p>Saburo : <q>So as I said, the dreams will become a part of the world, but nobody can predict where it will be, we found out about Xînâo three years after he appeared in this world. So we tried to contact him but…</q></p>

<p>Maaria : <q>He… he is like a monster now.</q><br>
  <em>*She was holding her tears back.*</em>
</p>

<p>Viridian : <q>By the time we got there, he trapped millions of people under his power. And he was using them all like his slaves.</q></p>

<p>Saburo : <q>This is starting to create chaos across this world, this is the place where dreams become reality. Now because of his actions all of them are lost, the peace we had is being destroyed and no one here has the ability to stop him.</q></p>

<p>Viridian : <q>Many strong heroes tried to defeat him, but Xînâo made all of them his minions. Now it is even harder to lay a finger on him. Even some of our friends got trapped by him.</q></p>

<p>Xenia : “YOU are the one who created him, now you are the only one who can stop this.”<br>
  <em>*She was still crying when she said that.*</em>
</p>

<p>I was speechless.</p>

<p>Saburo : <q>We need your help, as the one who created him you should know his weak points or a strategy to defeat him.</q></p>

<p>Me : <q>I haven't given him any weak points… he was supposed to be a hero, if a specific strategy could have beaten him, then he will not survive as a hero either.</q></p>

<p>Maaria : <q>May be this whole thing was a waste of time. We were desperate to find a way and contacted you… but now…</q></p>

<p>Me : <q>Please don't take it a wrong way, I will think of something. This is my responsibility now, so I promise, no matter what happens or how long it takes, I will find a way.</q></p>

<p>Saburo : <q>okay, we were not expecting a quick solution but if you can find a way, just let us know because this is not a man we cannot defeat without a plan.</q></p>

<p class="center-text"><strong>&lt;&lt;Fast-forward to current time&gt;&gt;</strong></p>

<p>That was it, I woke up afterwards, but it has been a week and I haven't been able to come up with a solution nor find a way to contact the dream world, no matter how much I tried.</p>

<p>Xînâo has the ability to control others' mind and alter their memories, if he alters someone's mind, then it cannot be changed back even if Xînáo dies.<br>
And to make things even worse, he can expand his power up to ten kilometres wide, making anyone within that range technically his slaves.</p>

<p>Was that just a dream? Why can't I go back to the dream world… I better find a solution soon.</p>

{{/inline}}
{{> (lookup this 'parent') }}
