{{#*inline "page"}}
<p>My head is getting filled with old memories, and it hurts my brain, I remember things that I had forgotten long ago, the world I know right now is being replaced with my memories! Who am I? I am confused. All I know is that the thing right in front of me is a danger to the world! I have to stop it, but I don't know how…</p>

<p><q>Get back, you idiot! We have to escape.</q> Xenia shouted.</p>

<p>Viridian stood still, he was unable to move. Is he afraid? Or is he trying to be its vessel?</p>

<p>A vessel? Why did I think of that? Yes, I remember now, I remember that thing entering my head when I was a kid! It was smaller than a caterpillar at that time, how did it become so big? Is it a parasite? Or is it a virus?</p>

<p><q>WHAT THE HELL IS THAT THING?</q> Ms. Avery shouted.</p>

<p>I think I know what to do, I should do the same thing that Viridian is planning, it needs a vessel. Or it will go on a rampage!</p>

<p>Vi-Beam moved towards Viridian, it is slow, but you can feel the frightening aura even from a 1000-meter away!</p>

<p>Viridian charged towards the Vi-Beam, When he was about to touch it, Chris jumped in and pushed Viridian away, making him the target for the Vi-Beam. Then his scream rent the air, <q>It hurts I am going to explode!</q> his pale skin turned red, then to purple, it was a hideous sight that no one would dare to describe.</p>

<p>I can stop it, I just have to do what I did when I was a kid, let it flow into me. I moved towards Chris, pressed my hand on his shoulder. <q>I don't know if this will work, but this is the best I can do</q> I told him whilst my legs shivering from fear.</p>

<p>He stopped screaming, the Vi-Beam started flowing into me. It was a familiar feeling that I had when I was a kid. It hurts, but I feel home. I was meant to be its vessel.</p>

{{/inline}}
{{> (lookup this 'parent') }}
