{{#*inline "page"}}
<p>
  Brian is a young adult who was recently laid off from work. He was a researcher working for an advanced medical research centre, he was excellent at his work and found ways to read and edit the human genome like a computer program.
</p>

<p>His latest work enabled simplification of the human genome. It is a simple tool that can read the terabytes of Human DNA, find the easiest way to reduce the redundant and inactive sequence created by the evolution, and program nanobots to do that simplification.</p>

<p>Brian made the tool modular so that it would be easy to inject or edit DNA sequence while the simplification process is running. He expected the tool to help people with complex and still unknown genetic deceases. A simpler DNA will be easy to edit and fix.</p>

<p>After Brian's tool became widely popular, many plugins for his tool were created to enhance the human genome. The world has become less dysphoric, the boundaries set by the nature are no more to be found. Everyone is whomever they want to be.</p>

<p>Brian was once again tasked to work on a new project, developing a new human organ that is capable of reading electrical pulses and sending it to the brain.</p>

<p>The idea fascinated him, the human genome is complex, but Brian felt that the brain is even more complex as it centred around new neuron connections based on arbitrary rules and environmental factors.</p>

<p>After many years, Brian and the team were able to edit the DNA to develop a new organ, it grows behind the ear and can convert binary instructions into brain signals. They were able to create new long-term memories using this technology, but it will always be vague.</p>

<p>The accomplishment was ground-breaking, but Brian and the team were told to not report the success, instead, they were given a new task.</p>

<p>Brian thought that the new task was too inhuman, if implemented, it would allow one to control people with the new organ.</p>

<p>The task was to use the new organ to edit memories, control thoughts and actions to help people with mental disabilities. Brian was against this, he believed that human memories are not to be altered, and controlling them is the same as enslavement.</p>

<p>After week long debates, Brian was forced to quit, his principles no longer align with the research centre.</p>

<p>Now he is in his flat, thinking about what he has done, and afraid of what the world will become if his team completes the new task.</p>

<p><q>I must warn the world about this!</q> He thought to himself.</p>

<p>Brian opened his laptop to write an e-mail to his friend working for a medical journal.</p>

<p>As he started typing, his eyes became blurry, he felt dizzy, fell from the chair, and lost consciousness.</p>

<p>When he gained his consciousness back, he was unable to open his eyes, he couldn't feel anything, even fear.</p>

<p><q>Where am I?</q> He asked. But his voice did not come out.</p>

<p><q>I am back in the research centre.</q> His consciousness gave him the answer like it was holding a conversation.</p>

<p><q>What is happening? I am confused.</q> Brian had a gut feeling that his research was being used against him.</p>

<p><q>It is not just your research Brian, we have been working on many things for the past few years, one of them was to make humans immortal, how great is that? You will be the first human in history to experience this!</q></p>
<p>His consciousness is now talking to him like a third person, Brian is sure, his team has completed the research. The research centre prohibited testing on employees, and on paper it also prohibited all form of human testing. But Brian knows, there are loopholes to everything, and he used to do experiments on countless homeless people.</p>

<p><q>We are disappointed Brian, here we are telling you that you are now immortal, and all you can think of is the research you were not even part of.</q></p>

<p><q>Oh, my mistake, looks like we disabled some of your emotions. Let me fix that.</q></p>

<p><strong>Bzzt</strong>. Brian felt something in his head he had never felt before, but Brian was not thinking about it after a second. He was overwhelmed with fear, the fact that he was deprived of all his senses worsened it. He wanted to scream, but no voice came out, he wanted to cry, but no tears dropped, he wanted to escape, but he was unable to move.</p>

<p><q>You are now living in a computer, Brian. Looks like you want to move around, but we still need to research on that. For now, we can let you see, hear, and talk. Well, you are already talking, but you just can't hear yourself, I'll let you do that now.</q></p>

<p><strong>Bzzt</strong>. It is that feeling again, and Brian can now see, he saw his old lab, his old teams, they looked joyful. Brian would also have felt the same way if he was on the other side of the screen watching his research in action. But alas, the fear and anger didn't let him do that.</p>

<p><q>I still think disabling his emotions would not be efficient for us, let's alter a bit of his memory instead.</q></p>

<p><strong>Bzzt</strong>. <q>Welcome again Brian, you are the first-ever human to be immortal, how does that make you feel?</q></p>

<p><q>This is a dream come true! I can do a lot more research and live to see them in action. Did we complete that organ? I can think of ways to make it talk to a computer network without overloading with information!</q></p>

{{/inline}}
{{> (lookup this 'parent') }}
