{{#*inline "page"}}
<h2>Scene 1</h2>

<p>Wide view of a classroom with almost 40 students.</p>
<p>Students talking to each other while sitting, handing things over.</p>
<p>Tutor is sitting at the back of the classroom on a chair.</p>
<p>The tutor gets up and hands over a pile of papers to all students.</p>
<p>Students in disbelief - Absolute silence.</p>

<h2>Scene 2</h2>
<p>Students filling up the sheet.</p>
<p>Focus on Student A at the middle of middle right desk.</p>
<p><strong>The student sighs.</strong></p>

<h2>Scene 3</h2>

<p>Focus on the paper he is looking at.</p>
<p>The question is a conversation, asking you to fill in replies for person B.</p>
<p>Student A goes through all papers, all are asking to fill in replies.</p>
<p>Half of the students has same papers as him.</p>
<p>Student picks up first paper again.</p>
<p>The fields are already filled with sloppy and wrong answers (just Hi, Hello, how are you etc.) in light blue smudgy ink.</p>
<p>Student A gets up, goes to the back and shows it to the tutor and friends.</p>

<h2>Scene 4</h2>

<p>Student A is back on his desk.</p>
<p>Other students have a set of tasks to do in paper.</p>
<p>Some students aligning erasers on top of each other.</p>
<p>Some re-arranging pens according to their color.</p>
<p>Some cleaning up desk.</p>
<p>Some got up on their desks and stands on all fours.</p>
<p>Other students are also doing some random things.</p>

<h2>Scene 5</h2>

<p>A cute girl opens the class door and enters.</p>
<q>"Sorry, I was late"</q>
<p>The Classroom goes to pin drop silence.</p>
<p><q>It doesn't look like I missed anything</q> she smiles gently.</p>
<p><em>Heavy atmosphere</em></p>
<p>Student A Looks behind</p>
<p>Student B has her face too close to Student A, and she is staring at him.</p>
<p>Student B smirks</p>
<p>She pulls up a knife from behind her skirt.</p>

<h2>Scene 6</h2>

<p>All students who were doing tasks has knife on their hands.</p>
<p>Student B leans forward to stab Student A.</p>
<p><em>Students screaming</em></p>
<p>All students with knife start to stab the rest of the students.</p>
<p>The cute girl at the front smiles even more.</p>

<p><strong>THE END</strong></p>
{{/inline}}
{{> (lookup this 'parent') }}
