{{#*inline "page"}}
<p>Patient lying in a hospital bed</p>

<p>The Doctor comes in and gives the patient some papers. <q>Today will get to decide your last day on Earth.</q></p>
<p>Nurse: <q>Doctor! That's rude.</q></p>

<p>Patient: <q>Woo-hoo! Space programme.</q></p>

<p>The patient goes through the files</p>

<p>Patient: <q>No, it's not! This is euthanasia, I'm not going anywhere, I'll just stop existing.</q></p>

<p>Doctor: <q>Your body is struggling to work, any further struggles will give you unimaginable pain, there is an easy way out and that's the only help we can give your body at the moment.</q></p>

<p>Patient: <q>Why is my body struggling to work?</q></p>

<p>Doctor: <q>They do not have a good work environment, causing stress which makes the work environment worsen, and the cycle continues.</q></p>

<p>Patient: <q>What caused this? Do the cells not get enough food? I'm pretty sure that I give them enough.</q></p>

<p>Doctor: <q>Right now, you are unable to feed them on your own, are you not?</q></p>

<p>Patient: <q>Well, they do still get them, and there is a delivery system running in my body 24/7, and there is an internet to ask for resources and protection.</q></p>

<p>Doctor: <q>The system is down, you don't produce enough to deliver, and not enough delivery drivers either, your body is now in chaos.</q></p>

<p>Patient: <q>Not enough resources? Is it enough to send my body into chaos? Do I lack law enforcement?</q></p>

<p>Doctor: <q>Well, there are enough law enforcement officers, but they can't get to the troubled parts, those parts are now lawless and has no way to communicate.</q></p>

<p>Patient: <q>Is the internet down there? And the whole thing broke because the delivery drivers were leaving? Do they want to work from home like the rest of cells? If that's the case, can't we just get more delivery cells from outside? Because I'm pretty sure that we don't have teleportation yet.</q></p>

<p>Doctor: <q>Unfortunately, you are right, the whole thing <em>is</em> because they are leaving. We tried bringing more delivery drivers, but they are also leaving because of the work conditions. Nothing we can do until there is a teleportation mechanism, unfortunately for you, you are born too early for that.</q></p>

<p>Patient: <q>Well, that sucks.</q></p>
{{/inline}}
{{> (lookup this 'parent') }}
