<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

<title>{{title}}</title>
<subtitle type="html">My recent works can be found here. To know me more, go to &lt;a href="{{meta.homepage}}"&gt;{{meta.homepage}}&lt;/a&gt;</subtitle>
<link rel="self" href="{{feed_url}}"/>
<author>
  <name>{{meta.display_name}}</name>
  <email>{{meta.email}}</email>
  <uri>{{meta.homepage}}/</uri>
</author>
  <icon>{{meta.homepage}}/images/me.svg</icon>
  <id>{{meta.homepage}}/</id>
</feed>

