<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>{{title}}</title>
<subtitle type="html">My recent works can be found here. To know me more, go to &lt;a href="{{meta.homepage}}"&gt;{{meta.homepage}}&lt;/a&gt;</subtitle>
<link rel="self" href="{{feed_url}}"/>
<updated>{{updated}}</updated>
<author>
  <name>{{meta.display_name}}</name>
  <email>{{meta.email}}</email>
  <uri>{{meta.homepage}}/</uri>
</author>
<icon>{{meta.homepage}}/images/me.svg</icon>
<id>{{meta.homepage}}/</id>

{{#each pages as |page|}}
  <entry>
    <title>{{page.title}}</title>
    <link rel="alternate" type="text/html" href="{{../meta.homepage}}{{page.url}}"/>
    {{#if page.ext_url}}
      <link rel="related" type="text/html" href="{{page.ext_url}}"/>
    {{/if}}
    <id>{{meta.homepage}}{{page.url}}</id>
    {{#if page.last_updated}}
    <updated>{{page.last_updated}}</updated>
    {{else}}
    <updated>{{page.date}}</updated>
    {{/if}}
    <summary type="html">{{page.desc}}</summary>
    <content xml:lang="en" type="html">
    {{#unless (eq ../cat 'stories')}}
      {{(print-page ../cat page.url page.banner)}}
    {{else}}
    &lt;strong&gt;If you are reading this, then you are subscribed to the wrong feed, you should be subscribing to &lt;a href="{{../meta.homepage}}{{page.url}}"&gt;this page&lt;/a&gt; instead.&lt;/strong&gt;
    {{/unless}}
    </content>
    {{#each page.tags as |tag|}}
    <category term="{{tag}}" scheme="{{../../meta.homepage}}/{{../../cat}}/tags/{{tag}}"/>
    {{/each}}
  </entry>
{{/each}}
</feed>

