<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="/sitemap-style.xsl" type="text/xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  {{#each mains as |page|}}
  <url>
    {{#if (eq page.url '/') }}
    <loc>{{../meta.homepage}}</loc>
    <priority>1.00</priority>
    {{else}}
    <loc>{{../meta.homepage}}{{page.url}}</loc>
    <priority>0.80</priority>
    {{/if}}
    {{#if page.last_updated}}
    <lastmod>{{page.last_updated}}</lastmod>
    {{else}}
    <lastmod>{{page.date}}</lastmod>
    {{/if}}
  </url>
  {{/each}}
  {{#each blogs as |page|}}
  <url>
    <loc>{{../meta.homepage}}{{page.url}}</loc>
    {{#if page.last_updated}}
    <lastmod>{{page.last_updated}}</lastmod>
    {{else}}
    <lastmod>{{page.date}}</lastmod>
    {{/if}}
    <priority>0.64</priority>
  </url>
  {{/each}}
  {{#each stories as |page|}}
  <url>
    <loc>{{../meta.homepage}}{{page.url}}</loc>
    {{#if page.last_updated}}
    <lastmod>{{page.last_updated}}</lastmod>
    {{else}}
    <lastmod>{{page.date}}</lastmod>
    {{/if}}
    <priority>0.64</priority>
  </url>
  {{/each}}
  {{#each chapters as |page|}}
  <url>
    <loc>{{../meta.homepage}}{{page.url}}</loc>
    {{#if page.last_updated}}
    <lastmod>{{page.last_updated}}</lastmod>
    {{else}}
    <lastmod>{{page.date}}</lastmod>
    {{/if}}
    <priority>0.54</priority>
  </url>
  {{/each}}
  {{#each projects as |page|}}
  <url>
    <loc>{{../meta.homepage}}{{page.url}}</loc>
    {{#if page.last_updated}}
    <lastmod>{{page.last_updated}}</lastmod>
    {{else}}
    <lastmod>{{page.date}}</lastmod>
    {{/if}}
    <priority>0.64</priority>
  </url>
  {{/each}}
</urlset>
