{{#*inline "page"}}

<p>I stopped accepting comments in favour of <a href="https://www.w3.org/TR/2017/REC-Webmention-20170112/" rel="external" {{{settings.opener.metadata}}}>Webmentions</a> a while back. This was not a decision we made lightly, especially because I put a lot of time and energy in adding <a href="/blogs/adding-comments">comment support recently</a>.</p>

<h2 id="why-remove-comments">Why remove comments?</h2>
<p>While I was able to fully moderate the comments and reduced the spams to near zero, I also need to be aware of the privacy concerns of the people commenting on my website.</p>
<p>I tackled this by letting people comment anonymously, but I still allow them to share their name, email, etc., if they like.</p>
<p>There are some problems with this approach:</p>
<dl>
  <dt><strong>Validity:</strong></dt>
  <dd>I have no way to ensure that the person commenting on my website is really the person whom they are claiming to be.</dd>
  <dt><strong>Spams and trolls:</strong></dt>
  <dd>While I have managed to prevent all automated spams, people can manually troll my website, adding a gate like moderation to block this behaviour helps, but is still not good for my mental health.</dd>
  <dt><strong>Interactivity:</strong></dt>
  <dd>People usually comment and expect a response, but my previous system was treating it like shouting at the void, so it's not a good user experience.</dd>
  <dt><strong>Visibility:</strong></dt>
  <dd>If someone comments or mentions my website on <em>their</em> website, that is also a comment, there is no way for me to track it unless they enter their whole comment again on my website.</dd>
</dl>

<h2 id="why-Webmention">Why Webmention?</h2>
<p>Some of you already know this, <a href="/am-i-indieweb-yet">I partially support IndieWeb</a> on this website. One of the major things that I was missing for in it was Webmentions. Unlike supporting comments, Webmentions makes it easy to filter out things that I don't want and works as a better gatekeeper than manual moderation (though I still moderate the Webmentions I receive).</p>

<p>Webmention is a W3 standard to let websites talk to each other, it could be a comment, like, a simple reference, or whatever. The idea is that, if <q>Website A</q> has a link that mentions <q>Website B</q>, the <q>Website A</q> or someone else can tell <q>Website B</q> about that link being referred to and by whom.</p>

<p>This makes comments straightforward to manage, while also keeping the web do it's original purpose of connecting to each other.</p>

<h2 id="implementing-Webmention">Implementing Webmention</h2>
<p>Implementing the Webmention is simple, I initially used the code for adding comments, and also <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/codingotaku/website/src/commit/84fdb9bbfc13cb1d1852e790269cd4035be53311/src/routes/main_pages.rs#L451">automatically verified the link</a>, which would've made my website part of a DDoS network. So I decided to remove the link verification part on a <a href="https://codeberg.org/codingotaku/website/commit/0b39943064de72fe40a498fbb063fcecfb8bcea6" rel="external" {{{settings.opener.metadata}}}>later commit</a>. I also removed the comments in that same commit after thinking about the problems I described in the previous section.</p>

<p>This means that my current implementation for receiving Webmention is as simple as validating the URL format and storing it in a database. I have a dedicated admin page for manually verifying it and adding it to my posts. I have a script that extracts the mention from the links I save, but I have not opened it up for the public yet (it will be done in a few weeks, so stay tuned).</p>

<h2 id="next-steps">What next?</h2>
<p>I have not implemented sending Webmention from my website, I just use a <code>cURL</code> command for it currently, as it is just sending a <code>POST</code> request with the source and target links.</p>

{{#code lang="sh"}}
# curl command to send webmention
curl -si protocol://the-website.tld/webmention-endpoint \
  -d source=protocol://my-website.tld/my-mention \
  -d target=protocol://the-website.tld/the-page-being-mentioned
{{/code}}

<p>Ideally, I would have a way to crawl through my pages, extract all external links I have in it, and send a Webmention to them if I have not done that already. It's a lot of work, and I want to integrate it to my Webmention verification script so that it can be used by everyone. I am a bit preoccupied to do that at the moment.</p>

<p>Supporting <a href="https://indieweb.org/IndieAuth" rel="external" {{{settings.opener.metadata}}}>IndieAuth</a> is the next one on my list, I already have a way to log in to this website with a password, IndieAuth would be a wrapper around it to redirect to a URL and generate a token. If I don't end up redesigning this website, IndieAuth would be the thing you will see in my next blog post.</p>
{{/inline}}
{{> (lookup this 'parent') }}

