{{#*inline "page"}}

<p>After reading a recent post in Mastodon (not linking the post here) about <a href="https://discourse.mozilla.org/t/the-censorship-circumvention-extension-has-disappeared-from-the-russian-version-of-mozilla-addons/130914" rel="external nofollow" {{{settings.opener.metadata}}}>Mozilla silently removing</a> a helpful add-on named <a href="https://addons.mozilla.org/en-US/firefox/addon/censor-tracker/" rel="external nofollow" {{{settings.opener.metadata}}}>censor-checker</a> in Russia (citation needed, I never used it, so can't vouch for the helpfulness), I understood that many do not understand how a government authored censorship works, so I wanted to <del>blog</del> rant about it.</p>

<p>Everything I am telling here is considered obvious by people who have used internet for long time, but it may not be so for the younger generations, so keep that in mind when reading this.</p>

<h2 id="censorship-examples">Examples of Internet censorship</h2>
<p>Even if you are in one of those countries that are affected by censorship, you will most probably be able to read my blog. This is because, though I am having more visitors these days, this is still a small website that not many know about. Another reason is that, I haven't shared anything here that is censorship worthy.</p>

<p>But, there are places where some will not be able to access my website, they operate with an <a href="https://en.wikipedia.org/wiki/Whitelist" rel="external nofollow" {{{settings.opener.metadata}}}>allowlist/whitelist</a> method. These places could have a massive private internet (or <a href="https://en.wikipedia.org/wiki/Intranet" rel="external nofollow" {{{settings.opener.metadata}}}>Intranet</a> to be precise) and a selected few officials can access the outside world. An example of such a place is the <a href="https://en.wikipedia.org/wiki/Internet_in_North_Korea" rel="external nofollow" {{{settings.opener.metadata}}}>North Korea</a>.</p>

<h2 id="censorship-types">Types of Internet censorship</h2>
<p>There are two common types of Internet censorship.</p>

<p>The first type of censorship you face is when the websites are banned based on their domain name or the IP addresses through the local Internet Service Provider (ISP). This is done when a government (or sometimes just an <abbr title="Internet Service Provider">ISP</abbr>) decides that a whole domain is considered harmful for them or their beliefs. (You might be interested in reading my blog on <a href="/blogs/india-chinese-app-ban">the Chinese app ban done in India</a>)</p>

<p>The second type of censorship is similar to what we saw with Mozilla, where a specific page or a list of pages is hidden from a region. It can only be enforced by the government by sending a legal letter, and this is very efficient.</p>

<p>A government entity or a large organization could also do a [distributed]-denial-of-service attack to prevent others from accessing a service or a domain.</p>

<p>No matter which jurisdiction the organization operates in, they will need to comply with the local government to operate in that region. So the bigger the organization, the higher the chance that they are forced to comply with the censorship. There is no point in blaming their current leadership or the product, <strong>the blame should always be on the government restricting the freedom of their citizens</strong>.</p>

<h2 id="common-ways">The common method of circumvention</h2>

<p>The main reason for a government to censor a page or a domain is to prevent their citizen from gaining knowledge about some specific things, and this obviously includes the knowledge of censorship circumvention.</p>

<p>You will know more about this if you have used a Virtual Private Network (VPN) to access the internet before. In a nutshell, a <abbr title="Virtual Private Network">VPN</abbr> is a glorified proxy, your requests are sent through someone else's server and thus preventing the <abbr title="Internet Service Provider">ISP</abbr> from figuring out which website you are visiting.</p>

<p>In theory, this could also help you avoid the second type of censorship by telling the website that you are visiting from a place without censorship</p>

<p>Most websites will stay behind a firewall to block malicious requests and bad actors from exploiting the website, these firewalls usually block the VPNs. You will be surprised by the trivial websites behind such firewalls, often, the wall is Cloudflare, which kicks you out when your request is made through a proxy.</p>

<p><strong>Note</strong>, there are two things that you need to know when using such proxies:</p>
<ol>
<li>Depending on where you are, using a VPN or other proxies could potentially block your access to the internet as a whole.</li>
<li>Any attempt to bypass censorship could put you in a watch list, as not many uses such methods, it is easy for an ISP to find you are doing something suspicious, though they cannot know what you are doing.</li>
</ol>


<p>By now, you might have noticed a pattern, and figured out that the way to avoid censorship is to not get detected that you are circumventing it. But this is a bit paradoxical, do you know why?</p>

<h3 id="trust">The paradox</h3>

<p>To not get detected, you will need to use a good tool that hides you, but how will you know what a good tool is?</p>
<p>A technically apt person could read the source code of the software and understand it. They may even implement that protocol to use it. But what about the non-tech people?</p>

<p>The majority who are affected by censorship either do not have a way to circumvent it, or do not even know that they receive censored information.</p>

<p>This means that, for an average person to circumvent the censorship, they need to know that they are prevented from accessing certain types of knowledge, and must find a way to access it without getting caught.</p>

<p>It is impossible to let the common non-tech people know about the censorship without going through a publicly accessible and trusted medium, and that medium is usually censored to prevent such knowledge from being revealed. See the paradox now?</p>

<h2 id="ways-to-circumvent">The right way to circumvent it</h2>
<p>The right way to circumvent censorship is to do it physically and through the word of mouth.</p>
<ul>
  <li>Someone who knows about the Internet censorship discloses it to a trusted group.</li>
  <li>A tech-savvy individual informs the non-tech person about the censorship.</li>
  <li>Educate them on how serious the matter is and to keep the secrecy.</li>
  <li>Setting up the tools to circumvent the censorship</li>
  <li>Educating them on the dos and don'ts of the tool.</li>
</ul>

<p>Is this fool-proof? No, it never is, censorship and circumvention is a cat-and-mouse game, it will never end.</p>

<p>A distributed communication system is often resilient to censorship, as the information is duplicated, it is possible for one to find the censored information elsewhere. But the problem with such a system is that the data might be outdated, or sometimes even partially available.</p>

<p>For websites, both outdated and up-to-date information needs to be accessible for a successful censorship circumvention. This can be achieved by archiving the website periodically, one such place where you can archive a website is the <a href="https://archive.org" rel="external" {{{settings.opener.metadata}}}>archive.org</a>.</p>
<p>The reason for needing outdated information is that, the website admin can change the information to comply with the censorship laws and regulations, so it is a must to have a way of going back in time and reading it.</p>
<p>Anonymizing routers like tor helps to avoid detection to a certain level, as long as you stay within the tor network and do not identify yourself, you should be able to access the information.</p>
<p>There are many other ways of accessing decentralized and distributed content, checkout the <a href="https://letsdecentralize.org/" rel="external nofollow" {{{settings.opener.metadata}}}>letsdecentralize.org</a> (<a href="http://hikariu7kodaqrmvu3c3y422r6jc7gqtpvvbry6u7ajvranukx6gszqd.onion/" rel="external nofollow" {{{settings.opener.metadata}}}>onion link</a>).</p>

<h3 id="other-ways">When common circumvention is disallowed</h3>
<p>When the common methods are no longer viable, like what happened with the add-on bocked by Mozilla, it is important to know and understand that there are workarounds for them. For example, the said add-on can be installed manually by obtaining it from the developer instead of downloading from the Mozilla.</p>
<p>For anonymizing networks, the blocking is usually done against a known node/IP address, so you might be able to request for an alternative route (the tor browser has ways to do this, for example).</p>

<p>When a decentralized platform is blocked, you should be able to find an alternative node, a route, or a proxy to obtain the information, you will need to keep looking or ask for help from a trusted community/individual.</p>

<p>If none of this is a possible for you, the last option would be a peer-to-peer decentralized network, but it should also be routed through a proxy if you want to stay safe and anonymous.</p>

<p>The bottom line is, you cannot rely on an organization, no matter how good they are to circumvent censorship, what you need is a community of volunteers doing what they can to help others.</p>

<h3 id="problem-with-trust">The problem with trust</h3>
<p>The internet is filled with misinformation, because of this, it is near-impossible to know what you read is factual or not. It is up to the reader to be sceptical of everything and read things with a grain of salt.</p>
<p>Just like information being censored, it can also be altered by the people with power and audience, which is the root cause of some falsely believing that the mRNA Vaccine is bad or that coronavirus is made up.</p>

<p>When you get around the censorship, you will also find a lot of misinformation like this. So here is the next problem, if both censored and uncensored information can be fake, how will you know what to trust?</p>

<p>The simple answer is, you can't! You will need to judge it by yourself, by finding facts rather than trusting people you know or read. The easiest ones to filter out are the statements made without linking to sources, or linking to <em>debunked</em> sources. But it is still up to you to find and filter them.</p>

<h2 id="updates">Updates</h2>
<p><strong><time datetime="2024-09-15T21:30:34Z">{{(strip-date '2024-09-15T21:30:34Z')}}</time>:</strong> Jeffery Breed from onlinesafetymasters.com brought to my attention to an <a href="https://www.vpnmentor.com/news/report-russia-vpn-ban" rel="external nofollow" {{{settings.opener.metadata}}}>article at vpnmentor.com</a> about the reality of living behind a <q>Digital Iron Curtain</q>. Please use <a href="https://github.com/gorhill/uBlock" rel="external nofollow" {{{settings.opener.metadata}}}>uBlock Origin</a> and a good hardened web browser like <a href="https://librewolf.net/" rel="external" {{{settings.opener.metadata}}}>Librewolf</a> if you want to visit that link.</p>

<p>Note that, while I agree with their statement on being wary of free VPNs, and encourage you to read through the timeline of digital restrictions in Russia, I do not recommend the use of their promoted VPNs.</p>

<p>Any proprietary implementation of VPNs is also dangerous to use as you will never know the weakness it has. If you really want to use a VPN, try <a href="https://mullvad.net" rel="external nofollow" {{{settings.opener.metadata}}}>Mullvad VPN</a> with the <a href="https://mullvad.net/en/help/multihop-wireguard" rel="external nofollow" {{{settings.opener.metadata}}}>multihop feature</a>.</p>
<p>If you live in a restricted location, Mullvad has a guide on <a href="https://mullvad.net/en/help/connecting-to-mullvad-vpn-from-restrictive-locations" rel="external nofollow" {{{settings.opener.metadata}}}>other methods to use their VPN</a> (<a href="https://archive.is/6EzZr" rel="external nofollow" {{{settings.opener.metadata}}}>archived</a>)</p> 

<p>I suggest Mullvad VPN for three reasons:</p>
<ol>
  <li>They have a track record of handling zero logs to authorities because <a href="https://mullvad.net/en/blog/2023/4/20/mullvad-vpn-was-subject-to-a-search-warrant-customer-data-not-compromised" rel="external nofollow" {{{settings.opener.metadata}}}>they never had any</a>.</li>
  <li>MullvadVPN <a href="https://mullvad.net/en/help/why-wireguard" rel="external nofollow" {{{settings.opener.metadata}}}>uses WireGuard protocol</a> internally, it is fast, secure and FOSS. You can read about its <a href="https://www.wireguard.com/protocol/" rel="external nofollow" {{{settings.opener.metadata}}}>internal workings on their website</a>.</li>
  <li>Multihop through WireGuard helps you avoid detections if one or more servers are compromised.</li>
</ol>

<p>The no-log policies can never be trusted, the same goes for the privacy policy of any website, as the webmaster/ service administrator has a lot of control over things running on their own server than you think.</p>
</p>

<h2 id="notes">Closing notes</h2>
<p>Regardless of whether you are a tech-savvy or non-tech-savvy user, there are things you can do to prevent a dystopian future.</p>

<h3 id="notes-for-tech">Notes for the tech people</h3>
<ul>
  <li>If you can, please share everything you do on one or more alternative platforms.</li>
  <li>Self-host things if you can, or use a <abbr title="Virtual Private Server">VPS</abbr> from another country to do it.</li>
  <li>Find a way to normalize the usage of anonymizing networks so that everyone can easily access it.</li>
  <li>Stop promoting things that spy on the users.</li>
  <li>If you are apt, learn reverse engineering and write Linux or Hurd drivers for non-free hardware you use without adding binary blobs in them.</li>
  <li>Backup/archive everything.</li>
  <li>Do everthing I <a href="#notes-for-non-tech">noted for the non-tech people</a>.</li>
</ul>

<h3 id="notes-for-non-tech">Notes for the non-tech people</h3>
<ul>
  <li>Get away from proprietary operating systems like Windows and macOS, <a href="/blogs/why-do-i-say-gnu-linux">GNU/Linux</a> is now much easier to use, and is less intrusive.</li>
  <li>If you can, use the other small platforms and decentralizing networks, to help them grow.</li>
  <li>If you have money, support causes like <a href="https://www.eff.org/" rel="external nofollow" {{{settings.opener.metadata}}}>EFF</a>, <a href="https://www.fsf.org/" rel="external nofollow" {{{settings.opener.metadata}}}>FSF</a> and others like them.</li>
  <li>When you use a software or a service, go through its settings, understand what they do, and disable things you do not need.</li>
</ul>

<p>— Stay safe.</p>
{{/inline}}
{{> (lookup this 'parent') }}
