{{#*inline "page"}}
  <h1 id="what-is-hacktoberfest" class="title has-text-white">Hacktoberfest? Never heard of it :/</h1>
  <p>
    <a rel="external" href="https://www.digitalocean.com/blogs/announcing-hacktoberfest-2020" {{{settings.opener.metadata}}}>
      Hacktoberfest
    </a>
    is an annual event that occurs every October held by Digital Ocean.
    The event encourages developers to submit Pull Requests to Open Source repositories and as a reward
    you earn a limited-edition T-shirt.
  </p>
  <p>
    Developers must contribute to a minimum of 4 repositories, But there is no upper limit set by
    Digital Ocean, this is where they went wrong.
  </p>
  <p>
    Even though Digital Ocean has set up some
    <q><a rel="external" href="https://hacktoberfest.digitalocean.com/details#quality" {{{settings.opener.metadata}}}>Quality standards</a></q>, it wasn't enough for stop the
    <a rel="external" href="https://nitter.net/shitoberfest/status/1311646233128181760" {{{settings.opener.metadata}}}>spam flood</a>.
  </p>
  <h2 id="what-went-wrong" class="title has-text-white">What went wrong?</h2>
  <p>
    Right now it is a blame game, The tweets says it all began because of a YouTuber demonstrated how to
    do a PR, but he failed at doing a quality contribution.<br>
    But, This has happened in the past — every year around the same time (October) — GitHub gets flooded
    with spam PRs, and this was the reason Digital Ocean updated their rules for contribution.
  </p>
  <p>
    In the first glance, it seems that the YouTuber is at fault, Most of the PR Spam looks a lot like
    what he demonstrated.
    <em>(I am not linking the YouTube video here, it might get deleted by the time you read this article)</em><br>
    Searching GitHub for
    <q><a rel="external" href="https://github.com/search?q=%22Amazing+Project%22&amp;type=issues" {{{settings.opener.metadata}}}>Amazing Project</a></q>
    or <q><a rel="external" href="https://github.com/search?q=%22Improve+Docs%22&amp;type=issues" {{{settings.opener.metadata}}}>Improve Docs</a></q>
    (PR changes he demonstrated in his video) is being widely used for the PR spam!
    — here is an <a rel="external" href="https://github.com/pinax/symposion/pull/189/files">example</a>.
  </p>
  <p>
    But is he the only one responsible? No, the issue began with Digital Ocean Not being clear on what
    needs to be done to qualify.<br>
    Providing T-Shirts for PRs was not a good idea to begin with as it just screams the
    <a rel="external" href="https://en.wikipedia.org/wiki/Cobra_effect" {{{settings.opener.metadata}}}>
      <b>Cobra Effect</b>
    </a> at their face!
  </p>
  <p>
    The current implementation by Digital Ocean to fight spam is by labeling PRs with <q>invalid</q> or
    <q>Spam</q>.<br>
    This also means that, <strong>the people who never heard of this event will not be able to report this unless they
      go to Digital Ocean's post on figting spam and understand what's to be done.</strong><br>
    They also mentioned that they validate all PRs later in the event, but that will not stop anyone from this abuse.
  </p>
  <h2 id="the-solution" class="title has-text-white">Anyone can whine, what's your solution?</h2>
  <P>
    Before I get to my solution, see what GitHub proposed due to PR spam.
  </P>
  <figure class="figure">
    <blockquote>
      <p>
      Need to take a break, or limit which people can send a pull request to your repo?<br>
      You can now limit interactions for a period of time. Find it in your project settings ›
      moderation
      settings › interaction limits.
      </p>
      <a rel="external" href="https://t.co/ZCvQqBczVY" class="has-text-danger" {{{settings.opener.metadata}}}>pic.twitter.com/ZCvQqBczVY</a>
    </blockquote>
    <figcaption>
      — GitHub (@github) October 1, 2020
    </figcaption>
  </figure>
  <p>
    Very Microsoft-y way of tackling problems ;)  ...Okay, I'll stop.
  </p>
  <p>Here what can be done.</p>
  <ol>
    <li>
      Digital Ocean could stop current way of Hacktoberfest. But instead they can do a proper hackathon
      which promotes free and open-source software.
    </li>
    <li>
      Let the developers improve on some existing repositories or create one of their own on platform of their choice.
    </li>
    <li>
      Set a limiter on how many repositories are considered. (Right now There is no upper limit)
    </li>
    <li>
      Reward based on Quality of commits instead of quantity.
    </li>
  </ol>
  <p>
    Adding a <em>hactoberfest</em> label and mentioning DigitalOcean might help spread word about the hackathon, but it
    will eventually become a spam.
    Instead, let developers submit link to the contributed repositories and usernames of developers
    to validate commits. If anyone starts spamming with meaningless commits, disqualify them after a warning.
  </p>
  <p>
    Will this stop the PR spam? Yes, to an extent. But the internet will never run out of spammers.
  </p>
{{/inline}}
{{> (lookup this 'parent') }}

