{{#*inline "page"}}
  <p class="note">
    Images might look blury for some, you can open them on a new tab for better clarity.<br>
    I have edited the images to remove any personal information I could find, but the main content remains the same.
  </p>
  <p>
    Like any sane person, I once decided to delete my Amazon account.
  </p>
  <p>
    The process should be simple, providing an option to delete the account in the profile or account settings tab.<br>
    But that is obviously not the case for someone who does not have the privilege to make use of GDPR or CCPA because of where they live, so I decided to do this in a step by step basis.
  </p>
  <ol>
    <li>Removed all address and de-registered any device connected with Amazon.</li>
    <li>Tried deleting old orders → You cannot do that, there is no such option.</li>
    <li>Tried removing the phone number from settings → There is no such option either, you can replace the number if you want.</li>
    <li>Contact customer care through chat to delete my Amazon and AWS accounts → He was very friendly and gave me a link and asked me to type in the reason to close the account.</li>
    <li>I was greeted with this Mail to Contact through phone if you want to delete account.
      <figure class="figure">
	  <img class="img" src="/images{{page.url}}/contact-by-phone.webp" width="1749" height="852" alt="" loading="lazy">
	<figcaption class="image-caption">
	  Mail asking to Contact via Phone to delete amazon account
	</figcaption>
      </figure>
    </li>
    <li>I contacted them through a phone call and repeated the reason to close the account (I told them I want to delete the account since they are not allowing me to delete it through the UI) → received another mail with a link to close the account.
      <figure class="figure">
          <img class="img" src="/images{{page.url}}/link-to-close-account.webp" width="1750" height="985" alt="" loading="lazy">
	<figcaption class="image-caption">
	  Mail with a link to close the account
	</figcaption>
      </figure>
    </li>
    <li>Clicked on the link and entered reason to close my account.</li>
    <li>No reply, so I decided to wait for a few days before trying to log in.</li>
    <li>Waited for 9 days and send another request to close the account.</li>
    <li>Greeted with another mail saying that I have two accounts with same email id (HOW? They don’t even allow one to create another account with the same email!)
      <figure class="figure">
	  <img class="img" src="/images{{page.url}}/has-multiple-accounts.webp" width="1744" height="1021" alt="" loading="lazy">
	<figcaption class="image-caption">
	  Mail stating that I have got multiple accounts with the same E-mail
	</figcaption>
      </figure>
    </li>
    <li>Told them I want to delete all accounts by clicking on the link.</li>
    <li>Same replay as #10</li>
    <li>Told them again to close all accounts, and asked them reason for a separate de-registration request for mobile number.</li>
    <li>Got Another email telling me that I need to de-register my number before closing the account (WTH? That’s not what they told me in any of the mails above)
      <figure class="figure">
          <img class="img" src="/images{{page.url}}/deregister-mobile-first.webp" width="1742" height="901" alt="" loading="lazy">
	<figcaption class="image-caption">
	  Email asking to deregister mobile number first
	</figcaption>
      </figure>
    </li>
    <li>Called customer care and explained the situation, asked them to de-register the number and delete the account.</li>
    <li>Confused customer care told me that number will be de-registered after closing the account. I asked them to check the mail chain and de-register the number as per the latest mail I got.</li>
    <li>Call transferred to someone who talks like they lost interest in their life, his voice continuously broke, and was not clear what he was saying. I just asked him to delete the account and de-register the number. (Had to say it three times to him in the call).</li>
    <li>Received an OTP through the insecure SMS which I have to tell him so that he can proceed.</li>
    <li>Waited for a day and replied to the mail to confirm account deletion process.</li>
    <li>Got a reply to do the process mentioned in previous mails… :/
  <figure class="figure">
	  <img class="img" src="/images{{page.url}}/do-the-process.webp" width="1743" height="1569" alt="" loading="lazy">
	<figcaption class="image-caption">
	  E-mail asking me to follow the process in previous mails
	</figcaption>
      </figure>
    </li>
    <li>I replied saying that I have already done the process multiple times and I need a confirmation on the status of request.</li>
    <li>No reply next day.</li>
    <li>No reply for two more days.</li>
    <li>I tried to “Login”, it told me that “Account already exists” (WHAT?)</li>
    <li>Tried the login again and this time it said “Account doesn’t exist”.</li>
    <li>I’m still waiting for the confirmation of account deletion.</li>
  </ol>
  <p>
    The account seems to be deleted, at least from their main servers. But they never replied to my mails asking for confirmation.
  </p>
  <p>
    On the other hand, an AWS account my company asked me to take for a training with the same email address is still available (but I cannot access most things from it), I can’t remove any personal information, but was able to update some of my contact details with some random texts.
  </p>
  <figure class="figure">
    <img class="img" src="/images{{page.url}}/aws-account-personal-info.webp" width="1920" height="1042" alt="" loading="lazy">
    <figcaption class="image-caption">
      AWS personal information page, account id and name still available, cannot edit state, post code, or country
    </figcaption>
  </figure>
  <p>
    But I cannot update nor delete the billing information. The billing info contains my old address, but it is creepy that they won't let me remove it nor close the AWS account (they mentioned that I will <q>Loose access</q>, it's my bad for just glancing over it and assuming that it will be deleted.
  </p>
  <figure class="figure">
    <img class="img" src="/images{{page.url}}/cant-delete-billing-info.webp" width="1920" height="1042" alt="" loading="lazy">
    <figcaption class="image-caption">
      AWS billing management page, this shows an access denied page asking to contact the administrator
     </figcaption>
  </figure>
{{/inline}}
{{> (lookup this 'parent') }}

