{{#*inline "page"}}
  <p>
    37 years ago today, the initial announcement of the <a rel="external" href="https://www.gnu.org/" {{{settings.opener.metadata}}}>GNU</a>
    operating system was posted to <a rel="external" href="https://en.wikipedia.org/wiki/Usenet" {{{settings.opener.metadata}}}>Usenet</a>.
    Every day since then has brought them closer to their goal of a world where users can do their
    computing in complete freedom.
  </p>
  <p>
    At the end of this article you can see the original announcement of the GNU Project, posted by
    <a rel="external" href="http://www.stallman.org/" {{{settings.opener.metadata}}}>Richard Stallman</a> on September 27, 1983.
  </p>
  <p>
    The actual history of the GNU Project differs in many ways from this initial plan. For example, the
    beginning was delayed until January 1984. Several of the philosophical concepts of
    <a rel="external" href="https://www.gnu.org/philosophy/free-sw.html" {{{settings.opener.metadata}}}>free software</a>
    were not clarified until a few years later.
  </p>
  <p>
    The word <q><strong>free</strong></q> was a poor choice as many agree and some disagree. It's a never ending
    debate. But whenever I say free software, I mean the philosophical meaning Stallman meant and Free Software Foundation
    agreed upon.
  </p>
  <p>
    Free software means software freedom, which grants the ability to run/use, study, modify, and
    redistribute the software. More details can be found at
    <a rel="external" href="https://www.gnu.org/" {{{settings.opener.metadata}}}>gnu.org</a>.
  </p>
  <p>
    The original email is reproduced here, in its original form.
  </p>
  <pre tabindex="0">From CSvax:pur-ee:inuxc!ixn5c!ihnp4!houxm!mhuxi!eagle!mit-vax!mit-eddie!RMS@MIT-OZ
From: RMS%MIT-OZ@mit-eddie
Newsgroups: net.unix-wizards,net.usoft
Subject: new Unix implementation
Date: Tue, 27-Sep-83 12:35:59 EST
Organization: MIT AI Lab, Cambridge, MA

Free Unix!

Starting this Thanksgiving I am going to write a complete
Unix-compatible software system called GNU (for Gnu's Not Unix), and
give it away free to everyone who can use it.
Contributions of time, money, programs and equipment are greatly
needed.

To begin with, GNU will be a kernel plus all the utilities needed to
write and run C programs: editor, shell, C compiler, linker,
assembler, and a few other things.  After this we will add a text
formatter, a YACC, an Empire game, a spreadsheet, and hundreds of
other things.  We hope to supply, eventually, everything useful that
normally comes with a Unix system, and anything else useful, including
on-line and hardcopy documentation.

GNU will be able to run Unix programs, but will not be identical
to Unix.  We will make all improvements that are convenient, based
on our experience with other operating systems.  In particular,
we plan to have longer filenames, file version numbers, a crashproof
file system, filename completion perhaps, terminal-independent
display support, and eventually a Lisp-based window system through
which several Lisp programs and ordinary Unix programs can share a screen.
Both C and Lisp will be available as system programming languages.
We will have network software based on MIT's chaosnet protocol,
far superior to UUCP.  We may also have something compatible
with UUCP.


Who Am I?

I am Richard Stallman, inventor of the original much-imitated EMACS
editor, now at the Artificial Intelligence Lab at MIT.  I have worked
extensively on compilers, editors, debuggers, command interpreters, the
Incompatible Timesharing System and the Lisp Machine operating system.
I pioneered terminal-independent display support in ITS.  In addition I
have implemented one crashproof file system and two window systems for
Lisp machines.


Why I Must Write GNU

I consider that the golden rule requires that if I like a program I
must share it with other people who like it.  I cannot in good
conscience sign a nondisclosure agreement or a software license
agreement.

So that I can continue to use computers without violating my principles,
I have decided to put together a sufficient body of free software so that
I will be able to get along without any software that is not free.


How You Can Contribute

I am asking computer manufacturers for donations of machines and money.
I'm asking individuals for donations of programs and work.

One computer manufacturer has already offered to provide a machine.  But
we could use more.  One consequence you can expect if you donate
machines is that GNU will run on them at an early date.  The machine had
better be able to operate in a residential area, and not require
sophisticated cooling or power.

Individual programmers can contribute by writing a compatible duplicate
of some Unix utility and giving it to me.  For most projects, such
part-time distributed work would be very hard to coordinate; the
independently-written parts would not work together.  But for the
particular task of replacing Unix, this problem is absent.  Most
interface specifications are fixed by Unix compatibility.  If each
contribution works with the rest of Unix, it will probably work
with the rest of GNU.

If I get donations of money, I may be able to hire a few people full or
part time.  The salary won't be high, but I'm looking for people for
whom knowing they are helping humanity is as important as money.  I view
this as a way of enabling dedicated people to devote their full energies to
working on GNU by sparing them the need to make a living in another way.


For more information, contact me.
Arpanet mail:
  RMS@MIT-MC.ARPA

Usenet:
  ...!mit-eddie!RMS@OZ
  ...!mit-vax!RMS@OZ

US Snail:
  Richard Stallman
  166 Prospect St
  Cambridge, MA 02139
  </pre>
{{/inline}}
{{> (lookup this 'parent') }}

