{{#*inline "page"}}
  <p class="note">Disclaimer: This blog was written in frustration, the tone and content might
    offend some of you, but I guarantee you that it is NOT NSFW. But it's a bit
    political. I tried to avoid as many accusations as possible here.
  </p>
  <p>It's rather inconvenient when something that you use every day stops working
    all of a sudden. It's even more inconvenient when you know that it may never
    work again for you.<br>
    Then you start finding
    <a rel="external" href="https://alternativeto.net" {{{settings.opener.metadata}}}>alternatives</a>, hoping that you will never have to switch from the new thing
    that you found.
  </p>
  <p>
    Recently a handful of apps
    <a rel="external" href="https://pib.gov.in/PressReleseDetailm.aspx?PRID=1635206#" {{{settings.opener.metadata}}}>banned in India</a> for “being engaged in activities prejudicial to sovereignty
    and integrity of the nation“
  </p>
  <p>
    <strong>Banned apps list</strong>
  </p>
  <ol>
    <li>TikTok</li>
    <li>Shareit</li>
    <li>Kwai</li>
    <li>UC Browser</li>
    <li>Baidu map</li>
    <li>Shein</li>
    <li>Clash of Kings</li>
    <li>DU battery saver</li>
    <li>Helo</li>
    <li>Likee</li>
    <li>YouCam makeup</li>
    <li>Mi Community</li>
    <li>CM Browers</li>
    <li>Virus Cleaner</li>
    <li>APUS Browser</li>
    <li>ROMWE</li>
    <li>Club Factory</li>
    <li>Newsdog</li>
    <li>Beutry Plus</li>
    <li>WeChat</li>
    <li>UC News</li>
    <li>QQ Mail</li>
    <li>Weibo</li>
    <li>Xender</li>
    <li>QQ Music</li>
    <li>QQ Newsfeed</li>
    <li>Bigo Live</li>
    <li>SelfieCity</li>
    <li>Mail Master</li>
    <li>Parallel Space</li>
    <li>Mi Video Call – Xiaomi</li>
    <li>WeSync</li>
    <li>ES File Explorer</li>
    <li>Viva Video – QU Video Inc</li>
    <li>Meitu</li>
    <li>Vigo Video</li>
    <li>New Video Status</li>
    <li>DU Recorder</li>
    <li>Vault- Hide</li>
    <li>Cache Cleaner DU App studio</li>
    <li>DU Cleaner</li>
    <li>DU Browser</li>
    <li>Hago Play With New Friends</li>
    <li>Cam Scanner</li>
    <li>Clean Master – Cheetah Mobile</li>
    <li>Wonder Camera</li>
    <li>Photo Wonder</li>
    <li>QQ Player</li>
    <li>We Meet</li>
    <li>Sweet Selfie</li>
    <li>Baidu Translate</li>
    <li>Vmate</li>
    <li>QQ International</li>
    <li>QQ Security Center</li>
    <li>QQ Launcher</li>
    <li>U Video</li>
    <li>V fly Status Video</li>
    <li>Mobile Legends</li>
    <li>DU Privacy</li>
  </ol>
    <p>
      From this list of apps that were banned, I have used ES File explorer in the past,
      also played Mobile Legends, and have tried Bigo Live for a couple of days
      and uninstalled it.
    </p>
    <p>
      When I say past, I mean my young self who thought everything that's famous
      is cool and trendy!<br>
      ES wasn't bad before it got bought by another money hungry corporate and
      filled it with advertisements, Mobile legends was a cool game for time pass
      until levelling up gets harder without purchasing stuff, and <q>bigo live</q>
      was an eyesore.
    </p>
    <p>
      I am glad for these apps to be removed from the public use, <strong>but they were
	banned for the wrong reason,</strong> a political move <strong>against</strong> China.
    </p>
    <p>
      But, there are tons more of apps in the store which are even more troublesome. Which
      tracks your daily life activities:
    </p>
    <ul class="column">
      <li>
	<a rel="external" href="https://www.swiggy.com/privacy-policy" {{{settings.opener.metadata}}}>what food you eat?</a>
      </li>
      <li>
        <a rel="external" href="https://www.forbes.com/sites/josephsteinberg/2014/06/02/your-privacy-is-now-at-risk-from-search-engines-even-if-the-law-says-otherwise/" {{{settings.opener.metadata}}}
	  >what do you search?</a>
      </li>
      <li>
	<a rel="external" href="https://www.forbes.com/sites/daveywinder/2019/10/16/top-travel-apps-for-android-and-iphone-fail-privacy-and-security-tests/" {{{settings.opener.metadata}}}
	  >where do you go?</a>
      </li>
      <li>
	<a rel="external" href="https://www.amnesty.org/en/latest/news/2020/04/contact-tracing-apps-privacy-in-europe/" {{{settings.opener.metadata}}}
	  >who you frequently contact with?</a>
      </li>
      <li>
	<a rel="external" href="https://www.consumerreports.org/health-privacy/what-your-period-tracker-app-knows-about-you/" {{{settings.opener.metadata}}}
	  >is your menstrual cycle irregular?</a>
      </li>
      <li>
	<a rel="external" href="https://healthitsecurity.com/news/mental-health-apps-may-share-user-data-without-clear-privacy-policies" {{{settings.opener.metadata}}}
	  >do you have depression?</a>
      </li>
      <li>
	<a rel="external" href="https://www.bmj.com/content/364/bmj.l920" {{{settings.opener.metadata}}}>
	  what diseases do you have?</a>
      </li>
      <li>
	<a rel="external" href="https://qz.com/1740405/racial-bias-on-dating-apps-reflects-hollywood-stereotypes/" {{{settings.opener.metadata}}}
	  >what color are you?, what caste are you?</a>
      </li>
      <li>
	<a rel="external" href="https://www.latimes.com/business/technology/la-fi-tn-uber-privacy-20161102-story.html" {{{settings.opener.metadata}}}
	  >what's your address?, who is in your family?</a>
      </li>
    </ul>
    <p>
      <i class="text-success">(I stopped adding links after a while, you can search them on your own and update this list, it's not hard to find news on these)</i>.
    </p>
    <ul class="column">
      <li>what does your family do?</li>
      <li>when do you visit them?</li>
      <li>where do they live?</li>
      <li>what did you study?</li>
      <li>what do you watch and listen to?</li>
      <li>who is your crush?</li>
      <li>who is your sister?</li>
      <li>where does she stay?</li>
      <li>what does she want to buy for you on your birthday?</li>
      <li>whom do you hate?</li>
      <li>what political stands do you have?</li>
      <li>DO YOU YELL A LOT in comments for no reason?</li>
    </ul>
    <p>
      These and more are the data being collected by the apps that you use daily,
      <strong class="text-danger">every service that you use has answer for at least one of these questions
      </strong>.
      <br> All of it combined can provide a detailed profile of you that even you didn't
      know of. And all of them are <strong>connected</strong> in ways that a normal
      user is not aware or even thought of.
    </p>
    <p>
      Don't take my word for it, install a script blocker like
      <a rel="external" href="https://noscript.net/" {{{settings.opener.metadata}}}>noscript</a>, go to your favorite websites,
      <strong>even banking websites</strong> and check the scripts being blocked
      (and allowed). The horrible trio (Google, Facebook, and Amazon) analytics
      can be found everywhere! And there will be more unnecessory ads+tracking
      embedded to most of them.
    </p>
    <p>
      Making a website with
      <a rel="external" href="https://vanilla-js.com/" {{{settings.opener.metadata}}}>VanilaJS</a> is not hard (look at this website source code for example). Web
      development is my primary job, I do a good enough job of it without using all
      the bloted
      <a rel="external" href="https://www.gnu.org/philosophy/javascript-trap.html" {{{settings.opener.metadata}}}>non-free scripts
      </a> that consumes your bandwidth and privacy.
    </p>
    <p>
      If I say “privacy“ most people would say
      <span class="text-danger">“who cares? They will just use it for advertisements, I'm fine with those,
	and I can just block them with yada yada yada“</span>,
      <br> you forget that when a company sell your info, <strong>it can also go to
	anyone</strong>, including their government and it could also be yours.
    </p>
    <p>
      Usually the cover up for this massive threat is the sentence <strong class="text-danger">“As applicable by law“</strong>
      somewhere in the privacy policy and third party data collection section.
    </p>
    <p>
      Now people are worried when a Chinese app has a similar sentence in their policy.
      But isn't it the same for almost every other service that you use?
    </p>
    <p>
      A good example will be the
      <a rel="external" href="https://privacyguides.org/providers/#ukusa" {{{settings.opener.metadata}}}>
        Global Mass Surveillance
      </a> and
      <a rel="external" href="https://privacyguides.org/providers/#kdl" {{{settings.opener.metadata}}}>
        Key Disclosure Laws
      </a> (check if your country is in the list, if found, stop using all services
      from that country).
    </p>
    <p>
      I am attempting to put and end to this, and there are millions of others with the
      same thought process as mine.
      <br> To avoid a privacy leak of you, your family, your neighborhood, AND your nation,
      what you can do is very simple.
    </p>
      <p>
	You don't have to rebel against anything. You don't have to go on a riot and throw
	everything into flames, you don't have to blame the current or previous government.
	<br>
	Before installing anything to your system, before browsing your favorite shopping site, go to
	<a rel="external" href="https://alternativeto.net" {{{settings.opener.metadata}}}>https://alternativeto.net</a>,
	search for that privacy invasive program, filter it by open-source and the device that you use.
	<a rel="external" href="https://www.gnu.org/philosophy/free-sw.html" {{{settings.opener.metadata}}}>Free and Open source software (Free as in freedom)</a> will not be able to collect your data.
  </p>
  <p>Because the source code is public, and anyone can verify any malicious code
        going into it. I like this phrase
        <strong>“Dance like no one's watching. Encrypt like everyone is!“</strong>,
        which can ONLY be achieved by a Free and Open-Source Software.
  </p>
  <p> There are other sites like
	<a rel="external" href="https://privacyguides.org" {{{settings.opener.metadata}}}>privacyguides.org</a> which is made by the community for the community for enhanced
	privacy of all.<br>
	Once you start using them, <strong>spread the word</strong> like the same
	way you used to. you might find your life to be a bit peaceful one you get
	rid of proprietary software and services.
 </p>
 <p>
	- Be safe.
 </p>
{{/inline}}
{{> (lookup this 'parent') }}

