{{#*inline "page"}}
<h2 id="what-is-this-about">What is this about?</h2>
<p>
  This blog intends to list out <a rel="external" href="https://en.wikipedia.org/wiki/Free_and_open-source_software">FLOSS</a> (Free/Libre and Open-source) software products that can be used instead of the
  <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/Proprietary_software">proprietary</a>
  malware in your life.
</p>
<p>I see the proprietary software products as <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/Malware">malware</a> as it is impossible to know what they do, the ones that became industry standards have one way or the other started exploiting their users and disrupt them from doing their work, I tell more about it below.
</p>
<p>
  Please do note that just migrating to the alternatives mentioned in this blog is not enough for user privacy.
  For example, just <em>installing the operating systems mentioned here will not save you from the privacy exploits of the software you choose to install in them.</em><br>
</p>

<p>
  I have tried to list out every alternative that I am using. And some of the software products might not be maintained by the time you read this.
  If they are outdated, I recommend you to find alternatives from <a rel="external" {{{settings.opener.metadata}}} href="https://privacyguides.org">https://privacyguides.org</a> and
  <a rel="external" {{{settings.opener.metadata}}} href="https://alternativeto.net/">https://alternativeto.net</a>.
  You can also update this list with a pull request on my <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/codingotaku/website">Codeberg repository</a>
</p>
<h2 id="why-find-alternatives">Why find alternatives?</h2>
<p>It is hard to convince anyone to find alternatives, that is because everyone has different views and values. The thing about proprietary malware is that, the only thing they care about is pushing the limits of your values so that they do not have to cross them, and once they do, it will be too late! <a rel="external" {{{settings.opener.metadata}}} href="https://xkcd.com/743/">XKCD explains it better</a>.</p>
<p>
  The limits can be either <a rel="tag" href="/blogs/tags/Privacy">privacy</a> or <a rel="tag" href="/blogs/tags/Security">security</a>, you may not care about them until things start creeping you out, well, guess what? Things are creepy already, there is a site named <a rel="external" {{{settings.opener.metadata}}} href="https://spyware.neocities.org/articles/">Spyware Watchdog</a> that classifies spyware programs, so that users can be more aware of if they are installing spyware and how they are being spied on. I recommend you go through them once in a while.
</p>
<p>
  There’s a big difference between privacy and security, In a nutshell, security is the confidentiality of your data, while privacy is the appropriate use of your data.
  Of course, without confidentiality (encryption), your data can be intercepted and used inappropriately, so entirely unencrypted transmissions are always susceptible to privacy violations.
</p>
<p>
  But just encrypting your data is not sufficient for your privacy, a weak encryption or a backdoor will provide you a false sense of privacy and security. This is why you should always choose apps and services which you can read the source code and let you modify them.
  <strong>The best way to enforce privacy is to collect no data at all!</strong>
</p>
<p>
  I have sometimes talked to people who say that they have nothing to hide and that they don't care about using these proprietary services, but I call it hypocrisy because proprietary programs hide what they do from you, and what can you trust them with? Nothing. Things should be the other way around, you should know what your computer does, and the computer should not know anything that you don't tell it.
</p>
<h2 id="looking-for-alternatives">Looking for Alternatives</h2>
<p>
  <em>
    I strongly encourage you to click through all the links we provided for more detailed information. If some of them confuse you or go against your workflow, you might still be able to find better alternatives by using your preferred search engine.
  </em>
</p>

<section>
  <h3 id="operating-systems">Operating systems</h3>
  <h4 id="mac-and-windows-alternatives">Instead of Windows or macOS, use GNU/Linux</h4>
  <figure class="figure" aria-labelledby="fig-1desc">
    <blockquote>
      <p>Software is <strong>not</strong> like making a car. Once you've made one copy of your software, the production costs to make a million more are tiny
        (there's a reason Microsoft has so many billions in the bank).
      </p>
    </blockquote>
    <figcaption id="fig1-desc">
      <cite>
        - <a rel="external" {{{settings.opener.metadata}}} href="https://web.archive.org/web/20230315022333/https://www.debian.org/intro/about/#disbelief">
        Debian
        </a>
      </cite>
    </figcaption>
  </figure>
  <p>
    While it <em>does</em> make sense to pay/donate a little to the people who developed your favourite OS, if you are forced to pay, then the amount should be tiny (the cost of hosting and data transfer plus a bit extra), not 100s of Dollars, as what you receive is just a <q>copy</q> of existing software.<br>
    But that is just cost, there are other moral and ethical reasons for you to stay away from these operating systems.
  </p>
  <p>Do not use or trust an operating system where you can't see what is under the hood, use <a href="/blogs/why-do-i-say-gnu-linux">GNU/Linux</a> instead.</p>
  <p>
    Windows is a <a rel="external" {{{settings.opener.metadata}}} href="https://www.thepoint.online/windows-11-is-a-privacy-nightmare-in-new-video/">privacy nightmare</a>
    and a
    <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/proprietary/malware-microsoft.html">malware</a>, macOS <a rel="external" {{{settings.opener.metadata}}} href="https://www.theverge.com/2022/3/21/22989226/apple-mac-studios-removable-ssd-blocked-software-replacement"> does not care about user freedom! </a>
  </p>
  <p>
    But don't worry, There are other operating systems which exist which are free and much better. One alternative is GNU/Linux, and this is one of the operating systems I know which cares about user freedom.
  </p>
  <p>
    You can get a list of GNU/Linux Operating systems from
    <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/distros/free-distros.html">gnu.org</a>.
  </p>
  <p>
    <em>
      Personally, I feel Debian can be used as long as you don't install anything from its non-free repository. I used to use it as my system and it worked great!
    </em>
  </p>
  <p>
    But what if you just came from Windows or Mac and you want the OS to <q>Just Work</q> and install whatever you want? There are other GNU/Linux operating systems which are
    <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/distros/common-distros.html">not fully free</a>.
  </p>
  <p>
    These non-free distributions came with the cost of your freedom, but much less compared to the other two mainstream desktop operating systems.
  </p>
  
  <h4 id="android-and-ios-alternatives">Instead of Android or IOS, use Android forks</h4>
  <p>
    Checkout <a rel="external" {{{settings.opener.metadata}}} href="https://www.lineageos.org" class="text-success">LineageOS</a>, and other AOSP based <a rel="external" {{{settings.opener.metadata}}} href="https://www.privacyguides.org/en/android/">operating systems for Android</a>. Keep in mind that <strong>There are no privacy-friendly phones</strong> by design.
  </p>
  <p>
    iOS also restricts user freedom just like macOS,
      <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/proprietary/malware-apple.html#jails">
        The users are kept in a jail
      </a>
      with less access to the free world. It is basically the same as macOS in terms of user freedom.
      I do not recommend anyone to use Apple products if you wish to have a private life.
      They (Apple) might promise you security, but it is impossible for you to verify them unless they provide you with the source code which can reproduce their build.
    </p>
    <p>
      There are no good alternatives for Android, if you install the malware such as Google Play Services or Google Play Store, you will compromise your setup. Sadly, these come built-in with almost all mobiles.
    </p>
    <p>
      This is the reason I promote custom ROMs like <a rel="external" {{{settings.opener.metadata}}} href="https://www.lineageos.org">LineageOS</a> and <a rel="external" {{{settings.opener.metadata}}} href="https://divestos.org/">DivestOS</a> instead. The official LineageOS guide asks you to
      install GApps (Google apps), but if you avoid it and install <a rel="external" {{{settings.opener.metadata}}} href="http://f-droid.org/">F-Droid</a>
      instead of Google Play Store, you are good to go.
    </p>
    <p>
      You can always buy
      <a rel="external" {{{settings.opener.metadata}}} href="https://puri.sm/products/librem-5/">Librem 5</a> or
      <a rel="external" {{{settings.opener.metadata}}} href="https://www.pine64.org/pinephone/">PinePhone</a>
      if you wish to have a GNU/Linux system in your pocket!<br>
      But they are not yet a full-fledged mobile and need many improvements in terms of performance.
    </p>
</section>
<section>
  <h3 id="finding-programs">Finding programs</h3>
  <h4 id="playstore-and-app-store-alternatives">Instead of the Google Play Store or Apple App Store, use F-droid</h4>
  <p>
    <strong>Do not trust promises, trust the code!</strong> The pocket world is filled with <a href="/blogs/india-chinese-app-ban/">spyware</a>, but if you are an Android user you can install a custom ROM to avoid all proprietary apps and services!
     <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org">F-droid</a> is a repo for FLOSS Android Applications.
  </p>
  <p>
    For IOS users, though you do not have that freedom, you can still sideload apps with <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/rileytestut/AltStore">AltStore</a>
    <em>(there are other stores available now)</em> without <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/IOS_jailbreaking">jailbreaking</a>. But it is not a FLOSS repo like F-Droid.
  </p>
  <p>
    The <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org"> F-Droid</a> Repository is an easily installable catalogue of free and open-source apps for Android. With F-Droid, it's easy to browse and install apps on your device,
    and keep track of updates. You can also browse the repository with a web browser, and download the app directly from there, if you can’t or don’t want to run the F-Droid client on your device.
  </p>
  <figure class="figure">
    <blockquote>
      <p>
        All applications in the repository must be Free, Libre and Open Source Software (FLOSS) – for example, released under a GPL or Apache license. Every effort is made to verify that this is actually the case, both by visual inspection of the source, and by building the application from the published source.
      </p>
    </blockquote>
    <figcaption>
      <cite>
        - <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/docs/Inclusion_Policy/">
        F-Droid
        </a>
      </cite>
    </figcaption>
  </figure>

  <p>
    Software that reports user activity without permission (e.g. via Google Analytics) or tracks user behaviour (e.g. most advertising platforms) is specifically excluded from F-Droid’s own repository, as is software with
    the primary purpose of interacting with a non-Free network service.
  </p>
  <p>
    You are, of course, free to set up your own repository for this kind of software – the server source is available, and the client will allow addition
    or removal of repositories as you see fit.
  </p>
</section>
<section>
  <h3 id="web-browsers">Web browsers</h3>
  <h4 id="chrome-and-safari-alternatives">Instead of Google Chrome, Safari, Use a Firefox clone</h4>
  <p><strong>Browsers are as complex as an operating system, so choose them the same way.</strong>
    Just like mobiles, it is near impossible to find a privacy respecting browser, and if you do find one, it will be inconvenient to use with some of the popular websites.
  </p>
  <p>The browsers I recommended below are not perfect, you might be able to find a better one that suites your workflow.</p>

  <h5 id="mobile-browsers">Browsers for Mobile</h5>
  <ul>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/packages/us.spotco.fennec_dos/">Mull</a></li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://guardianproject.info/fdroid/">Tor Browser (Guardian Project)</a></li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/en/packages/org.mozilla.fennec_fdroid/">Fennec F-Droid</a></li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/en/packages/org.gnu.icecat/">IceCat Mobile</a></li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://www.mozilla.org/en-US/firefox/mobile/">Firefox Mobile</a></li>
  </ul>
  <h5 id="desktop-browsers">Browsers for Desktop</h5>
  <ul>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://librewolf.net/">Librewolf</a></li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://www.torproject.org/download/">Tor browser</a></li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://www.mozilla.org/en-GB/firefox/new/">Mozilla Firefox</a></li>
  </ul>

  <p>I did not add Chromium and other browsers based on it to this list purposefully. It has some of Google bloats that needs to be removed, and some folks have made
    <a rel="external" {{{settings.opener.metadata}}} href="https://ungoogled-software.github.io/pages/about/">ungoogled chromium</a> for that specific purpose.<br>
      But, the mobile users need to add an <a rel="external" {{{settings.opener.metadata}}} href="https://git.droidware.info/wchen342/ungoogled-chromium-android#user-content-f-droid-repository">unofficial repo</a> to F-Droid to install this.
  </p>
  <p>
    There are other chromium forks being popular these days, but no matter how good they are (they are not <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/gorhill/uBlock/wiki/uBlock-Origin-works-best-on-Firefox">if they cripple uBlock Origin</a>), they add to the Google Chrome's monopoly <a rel="external" {{{settings.opener.metadata}}} href="https://proton.me/blog/google-privacy-washing">to change the internet as they wish</a>, remember what I told at the beginning about industry standards?
  </p>
  
  <p>
    <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/WebKit">WebKit</a> engine based browsers are <a rel="external" {{{settings.opener.metadata}}} href="https://support.mozilla.org/en-US/questions/1101350">forced onto iPhone users</a>, Apple's policy does not allow developers to develop a browser that is not based on their tool (Another reason to stay away from Apple).
  </p>
  <p>
    While the source code for <a rel="external" {{{settings.opener.metadata}}} href="https://firefox-source-docs.mozilla.org/contributing/contribution_quickref.html#firefox-contributors-quick-reference">
       Firefox
      </a> from the Mozilla project is free software, they <a rel="external" {{{settings.opener.metadata}}} href="https://lwn.net/Articles/598749/">distribute</a> and recommend nonfree software as plug-ins and add-ons. Also, their trademark licence imposes requirements for the distribution of modified versions that make it inconvenient to exercise <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/philosophy/free-sw.html#redistribute">freedom 3</a>.
  </p>
  <p>
    <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/en/packages/org.mozilla.fennec_fdroid/">
      Fennec F-Droid
    </a>
    is based on the latest Firefox release. It's focused on removing any proprietary bits found in official Mozilla's builds. There might still be some binaries left, and the app (or some builds) might get removed or re-pushed anytime.
  </p>
  <p>
    But Fennec is also not fully Free-- it is just a variant of Firefox without the binary blobs. This is the reason why
    <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/en/packages/org.gnu.icecat/">IceCat Mobile</a>
    was developed. IceCatMobile is a Browser using the Gecko layout engine to render web pages, which implements current and anticipated web standards. This is a free software rebranding of the latest Firefox-ESR release.
    <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/software/gnuzilla/">read about IceCat to know more</a>.
  </p>
  <p>I use <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/packages/us.spotco.fennec_dos/">Mull</a> as my mobile browser, I see it as <a rel="external" {{{settings.opener.metadata}}} href="https://librewolf.net/">Librewolf</a> equivalent for mobile. Though it does have some binary blobs like Fennec, Mull aims to harden the browser as much as possible.
      It enables many features upstreamed by the <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.mozilla.org/Security/Tor_Uplift"> Tor uplift project</a> using preferences from the <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/arkenfox/user.js">arkenfox-user.js project</a>. It is compiled from source and proprietary blobs are removed using <a rel="external" {{{settings.opener.metadata}}} href="https://gitlab.com/relan/fennecbuild">scripts by Relan for the fennec project</a>.
  </p>
  <p>
    Another option is the Tor Browser, if you are on mobile, though it is
    <a rel="external" {{{settings.opener.metadata}}} href="https://support.torproject.org/tormobile/tormobile-7/">not in the official F-Droid repo yet</a>, you can enable the
    <a rel="external" {{{settings.opener.metadata}}} href="https://guardianproject.info/fdroid/">Guardian Project Official App Repository </a> in F-Droid to install it.
  </p>
</section>
<section>
  <h3 id="instant-messengers">Instant Messengers</h3>
  <h4>Instead of WhatsApp, Facebook Messenger, Duo, hike, line, etc., use Federated and/or FOSS alternatives</h4>
  <p>
    Using protocols instead of apps makes sure that you can talk to anyone, regardless of the app they use. This is the main reason I ask people to switch to <a rel="external" {{{settings.opener.metadata}}} href="https://matrix.org/ecosystem/clients/"> Matrix-based apps</a>, and some of the servers bridges to proprietary messengers too if you have a hard time inviting others.
  </p>
  <p>
     <a rel="external" {{{settings.opener.metadata}}} href="https://xmpp.org/">XMPP</a> is also a federated protocol like Matrix, It is the best for instant messaging in my opinion, you can find some <a rel="external" {{{settings.opener.metadata}}} href="https://xmpp.org/getting-started/">apps that use XMPP from their website</a>.
  </p>
  <p>
    Signal is another candidate, but I am adding it here half-heartedly. Unlike Matrix and XMPP, using it with other apps will be a hassle right now and requires you to use your phone number to create an account. The Signal app does not exist in F-doid, and the developer has been <a rel="external" {{{settings.opener.metadata}}} href="https://whispersystems.discoursehosting.net/t/how-to-get-signal-apks-outside-of-the-google-play-store/808/20">hesitant to do so for many years</a>. People were rushing to join Signal a while back, read my blog about why <a href="/blogs/switching-to-signal-is-not-enough">switching to Signal is not enough</a>.
  </p>
  <p>
    Signal once said that they are planning a phone number free feature, and until it is implemented, theoretically one could use a burner number to use it.
  </p>
  <p>
    Telegram also raises some concerns as the chat is not default end-to-end encrypted and requires you to identify yourself with your number. The encryption is done on the server side with their own solution. User will have to just <q>Trust</q> the maintainers, so I recommend you to use Telegram only if you need to part of a public channel - not for secure messaging.
  </p>
  <p>
     There is a widespread misconception that WhatsApp is secure and privacy-friendly. While WhatsApp can’t see what’s inside the messages, they can see your activities, who is sending a message to whom and when - which is a large risk (read more on their policies from the links below).
  </p>
  <p>
    According to the WhatsApp <a rel="external" {{{settings.opener.metadata}}} href="https://www.whatsapp.com/legal/?_fb_noscript=1">privacy policy</a>,
    <strong>
      the company reserves the right to record this information, known as message metadata, and share information with <q>others</q> including (but obviously not limited to) law enforcement and to respond to legal requests.
    </strong>
    If you use their service, please check their statements regularly.
  </p>
  <p>
    WhatsApp also designed the privacy policy page in a way that it is hard to point to a section of their statement through links.
    Details on information shared to law enforcement can be found at
    <a rel="external" {{{settings.opener.metadata}}} href="https://faq.whatsapp.com/general/security-and-privacy/information-for-law-enforcement-authorities?_fb_noscript=1">WhatsApp's privacy and security page</a>.
  </p>
  <p>
    But reading the privacy policy or even understanding them does not mean anything if you can't verify what they are doing, there is a reason why antitrust lawsuits are popping up every year for these companies. I recommend you to do research about it by yourself to understand better.
  </p>
</section>
<section>
  <h3 id="social-media">Social Media</h3>
  <h4>Instead of Facebook, use <a rel="external" {{{settings.opener.metadata}}} href="https://diasporafoundation.org/">Diaspora</a> or <a rel="external" {{{settings.opener.metadata}}} href="https://gnusocial.network/try/">GNU/Social</a></h4>
  <p> <strong>Everything is wrong with Facebook</strong>, the list is too long for me to add here, but I found an old <a rel="external" {{{settings.opener.metadata}}} href="https://web.archive.org/web/20230514185433/https://old.reddit.com/r/AntiFacebook/wiki/timeline">curated list on Reddit, so I archived it</a>.
  </p>
  <p>
    Though I have never used GNU/Social or Diaspora, if you really want/need a Facebook-like place, I recommend you and your friends to switch to one of them. Due to their federated nature, it is also possible to interact with them using other federated social networks like mastodon. You can even host it yourself and talk to someone else from a different server! But it is not necessary.
  </p>
  <h4>Instead of X (Twitter) or Threads, use <a rel="external" {{{settings.opener.metadata}}} href="https://joinmastodon.org/">Mastodon</a></h4>
  <p>
    Mastodon is a <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/Microblogging">microblogging</a> platform just like 𝕏 (formerly known as Twitter), Mastodon is also federated and has a wide range of instances for like-minded people, I suggest you to go through <a rel="external" {{{settings.opener.metadata}}} href="https://joinmastodon.org/servers">their public server list</a> and choose one that fits you the most instead of joining a generic one. I am currently at <a rel="external" {{{settings.opener.metadata}}} href="https://fosstodon.org">Fosstodon</a>, I might move from that instance if I find a better one.
  </p>
  <h4>Instead of YouTube, use PeerTube</h4>
  <p>YouTube is another platform that became a standard that exploits their users, the once divers platform is now forcing the users to play nice with the advertisers.</p>
  <p>
    There are other alternatives, but PeerTube is more federated and has a familiar user interface. Just like GNU/Social and Diaspora, is possible to host an instance by yourself (I have one at <a href="https://videos.codingotaku.com">videos.codingotaku.com</a>), or <a rel="external" {{{settings.opener.metadata}}} href="https://joinpeertube.org/">join a public PeerTube instance</a> if they allow creating new accounts.
  </p>
</section>
<section>
  <h3 id="video-conference">Video conference</h3>
  <h4>Instead of Skype, Zoom, etc., use <a rel="external" {{{settings.opener.metadata}}} href="https://meet.jit.si/">Jitsi</a>, <a rel="external" {{{settings.opener.metadata}}} href="https://jami.net/">Jami</a>, or <a rel="external" {{{settings.opener.metadata}}} href="https://bigbluebutton.org/">BigBlueButton</a></h4>
  <p>Sometimes you need to talk to a lot of people, and sometimes they are strangers. Jitsi, Jami, and BigBlueButton do not spy on you, and you can host both Jitsi and Jami yourself if you want to. This is the best thing an organization can do to ensure their <q>secrecy</q>.
  </p>
  <p>
    Jami is a peer-to-peer client, which means that the communication between you and the others is direct, without going through some server, for communication that needs maximum confidentiality, I suggest using Jami.
  </p>
  <p>
    Sadly, the proprietary programs are being introduced to students to make them stuck with using it, read my blog on <a href="/blogs/non-free-school">Use of Non-Free Software in School</a> to understand more and know what you can do to help avoid this.
  </p>
</section>
<p>
  - Be safe
</p>
{{/inline}}
{{> (lookup this 'parent') }}

