{{#*inline "page"}}
<p class="note">
 This article is not about current education system or what we can do to fix it, but it is one of a few
 things that can be done for a better education.
</p>
<p>
  Schools are the entry point for kids to see and know about the world they live in. It is the duty of
  teachers to make them understand what can be preferred as right and wrong.<br>
  In a way, a teacher can make student good or a bad member of the society through their teaching.
</p>
<p>
  Due to current pandemic, Students are forced to learn through online class rooms. It makes perfect sense —
  health and safety of students must be the highest priority right now.<br>
  What doesn't make sense is the use of tools and software in these classes, tools which are notoriously
  proved to be spying on people.
</p>
<p>
  Programs like
  <a rel="external" {{{settings.opener.metadata}}} href="https://www.eff.org/wp/school-issued-devices-and-student-privacy" >
      Google Classroom
  </a>,
  <a rel="external" {{{settings.opener.metadata}}} href="https://www.theverge.com/2020/5/1/21244058/google-meet-microsoft-teams-webex-personal-data-collection-privacy-policy-concerns" >
      Microsoft Teams
  </a>,
  or
  <a rel="external" {{{settings.opener.metadata}}} href="https://www.fsf.org/blogs/community/better-than-zoom-try-these-free-software-tools-for-staying-in-touch" >
      Zoom
  </a>
  invite a potentially malicious third-party into the educational environment, This also increases the risk of society being depended on
  <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/proprietary/" >
      proprietary software
  </a>,
  software that denies its users their freedom.
</p>
<p class="note">
  Students will get familiar with these programs which they are forbidden to study, share, or modify. And
  they also get used to more of these kinds of programs and it will be hard for them to move on to
  something
  <a rel="external" {{{settings.opener.metadata}}} href="https://jitsi.org/jitsi-meet/" >
      better
  </a>
  that respects user freedom and privacy.
</p>
<p>
  Almost all of us are a victim of this, we learned Microsoft Word instead of learning Word processing,
  Microsoft Excel instead of spreadsheet,
  <a rel="external" {{{settings.opener.metadata}}} href="https://fossbytes.com/heres-why-a-user-got-irritated-by-windows-10-and-installed-linux-mint/">
      A proprietary spying operating system
  </a> instead of
  <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/distros/free-distros.html" >
      one that respects users freedom
  </a>. So on and so forth.
</p>
<p>
  We grew up with this, we learned more of these in our computer science classes, and became depended on them.
</p>
<p>
  When a fresh graduate get a job in a computer industry they naturally think of Amazon AWS and other <q>cloud</q>
  services to do the job, making them and the company depended on that proprietary service and also forcing them
  to obey their disrespectful terms and conditions.
</p>
<p>
  Students learning programming must be taught to use self-hosting free services so that they understand what
  is going on in the backend, and potentially improve them to their needs.<br>
  This might also help them to be better programmers as they will end up creating quality patches to the software after learning from it.
</p>

<p>A <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/philosophy/free-sw.html" >free
  software</a>(free as in freedom) allows its users to:
</p>
<ul>
  <li>Use the program for any purpose, not discriminating against specific fields</li>
  <li>
      Study the source code of the program to understand how it works, and change it to fit their needs
  </li>
  <li>Share the program in order to help others</li>
  <li>
      Distribute modified copies of the program with others, giving the whole community a chance to benefit
  </li>
</ul>

<h2 id="what-can-we-do-about-this" class="title">What can we do about this?</h2>
<h3 id="petition" class="subtitle">Sign this
  <a rel="external" {{{settings.opener.metadata}}} href="https://my.fsf.org/give-students-userfreedom?pk_campaign=frspring2020&amp;pk_source=bagde">
    petition
  </a> for freedom in the classroom!
</h3>
<figure class="figure">
  <img class="img" src="/images/blogs/non-free-school/petition_rect.webp" width="650" height="400" loading="lazy" alt="">
  <figcaption class="image-caption">Fight for students' #UserFreedom. Sign the petition today!</figcaption>
</figure>

<blockquote>
<p>We call on school administrators at all levels to drop requirements for students to use proprietary
  software to participate in a course, and to adopt a free software replacement for every nonfree
  program being used. As students, teachers, parents, and concerned citizens, we stand together for
  the following principles:</p>
<ul>
  <li>
    It is an injustice to require students to sacrifice their freedom to proprietary software in
    pursuit of an education.
  </li>
  <li>
    Using free software in the classroom communicates the importance of values key to a free society: sharing, social responsibility, and independence.
  </li>
  <li>
    With its focus on study and collaboration, free software is far more suited to the spirit of pedagogy than the dependence and abuse caused by proprietary software.
  </li>
</ul>
<footer><cite>- FSF</cite></footer>
</blockquote>

<p>By signing this petition you are crating a better, free, and secure future for the next generation.</p>
{{/inline}}
{{> (lookup this 'parent') }}

