{{#*inline "page"}}
<p>
  Assume that a new version of internet is created. Where everyone has their mind connected to each other for information sharing.<br>
  It does not share your personal information or anything that can even remotely identify you, but it shares knowledge on the things that has been made before.
</p>
<p>
  Imagine not having to learn things that has already been done! Your mind is already connected to
  an open internet of human brains which already has the information you seek.
</p>
<p>
  You can just download the information directly to your brain and use it like you have already learned it!
</p>
<p>
  Now you can focus your attention on new innovations, but kids still has to go to school for
  learning how
  to use the knowledge the right way!
</p>
<p class="note">
  But I received question from <a rel="external" {{{settings.opener.metadata}}} href="https://fosstodon.org/web/statuses/102086437791889565"
   >fosstodon.org</a>:<br>
  <q>How are you sure it's open? It could be a totalitarian's
  dream to have everyone's mind combined, recorded, analyzed, manipulated, controlled.</q>
</p>
<p>
  It is a bit of stretch, the only way to keep it open is to make sure that it is maintained by a
  community, and also making sure that whatever they do during maintenance is also part of the
  knowledge
  that's being shared. Maybe we can make sure that no political or proprietary information is
  available...
  (only science and logic is shared). Any who, I was just talking about downloading the
  information not
  analyzing, manipulating or controlling users... I need to work on my communication skills.
</p>
<p>
  I did not give much thought about the technical and moral stuff! But any suggestions are welcome
  to make
  this
  fantasy-open-brain-network-thingy more open!
</p>
<p class="note">
  When the Internet was first to come out, there were the same expectations, but obviously it
  doesn't come
  out the way as we expected.
</p>
<p> True, internet and IOT (trust me, IOT were on paper with good intentions) are not what they are
  supposed
  to be, but I don't think that the problem was with just the internet or the people who used it
  for
  gathering personal information.
</p>
<p>
  Things went south because of lack of knowledge and ignorance of educated folks.
</p>
<p>
  We could learn from their mistakes and TRY to create something better, or keep whining about
  what we
  have without contributing anything to it.
</p>
<p>
  What could be the future? It is what we decide. It doesn't matter whether the technology is
  created by a
  massive corporation or a nonprofit organization, the only thing matter is what you
  do with the technology and the intentions behind it.
</p>
<p>
  So if we have somehow created the Open-Brain-Internet-Thingy (I should have thought of a name)
  It is
  guaranteed to be misused, and made profit with. No exceptions, it WILL happen.<br><br>
  If GPL violations come to an end, we can release this technology and it's complete source code
  under a
  valid GPL License!
</p>
<p>
  How do we prevent it? How do we know that the <b>*holds my breath*</b>
  Open-Brain-Internet-Thingy is not
  used to control what we think? The intention was to create a way for our humanity to advance by
  eliminating redundant work. But it is now forked and cloned by multiple massive corporations
  with
  service fees and targeted advertisements but with benefits of having more accurate data! What
  will you
  choose? What is wrong with us as humanity to make a profit out of learning? To add 80 different
  layers
  DRM to knowledge that should be publicly available?
</p>
<p>
  Basically, the following will be the welcome page of the evil service that cloned our wonderful
  Open-Brain-Internet-Thingy.</p>
<section class="note">
  <p><strong>Welcome to <del>Open</del>Closed-Brain-Internet-Thingy, please choose a plan you would like to
  proceed with!</strong>
  </p>
  <ol>
    <li>
      Premium plan: You have the benefit of having up to date knowledge with less hoax and
      more truth!
      You
      can choose what you want to learn and how much you could learn. — Costs $1000 per month.
    </li>
    <li>
      Tire 2 plan : This is the most popular plan, you can choose what to learn, but data
      might have
      some
      misinformation as it is mostly added by community, the topics that you learned might be
      tracked
      for
      targeted advertisements which will be transmitted to you while you learn new topics! —
      Costs
      $200
      per
      month.
    </li>
    <li>
      Free plan : You can choose up to three topics per month, the data is not validated and
      could
      contain
      potentially inappropriate content that could mislead you. Everything you do with the
      service is
      tracked and you will have to read at least one advertisement before learning a new
      chapter!
      Don't
      worry, you can change your plan at any point of time.
    </li>
  </ol>
  <p>
    Please accept the Terms of service and Privacy Policy before continuing.
  </p>
  <p class="subtitle">
    Would you like to continue learning?
  </p>
</section>
{{/inline}}
{{> (lookup this 'parent') }}

