{{#*inline "page"}}
<h2 id="prologue">Prologue</h2>
<p>Feel free to skip this and start reading from the <q><a href="#setting-up">setting up QCL</a></q> section, I am going to talk a bit about my fascination here.</p>

<p>When I was around 14-years-old, I read a book in <a href="https://en.wikipedia.org/wiki/Malayalam" rel="external" {{{settings.opener.metadata}}}>Malayalam</a> titled <a href="https://catalogue.statelibrary.kerala.gov.in/cgi-bin/koha/opac-detail.pl?biblionumber=28727" rel="external" {{{settings.opener.metadata}}}><ruby lang="ml">Sourayoodhavum<rp>(</rp><rt>സൗരയൂഥവും</rt><rp>)</rp> athinappuravum <rp>(</rp><rt>അതിനപ്പുറവും</rt><rp>)</rp></ruby></a> by Professor <ruby lang="ml">K.<rp>(</rp><rt>കെ.</rt><rp>)</rp> Sreedharan<rp>(</rp><rt>ശ്രീധരൻ</rt><rp>)</rp></ruby>. The title translates to <q>The solar system and beyond</q>, and was published by the <a href="https://en.wikipedia.org/wiki/Kerala_Sasthra_Sahithya_Parishad" rel="external" {{{settings.opener.metadata}}}><ruby lang="ml">Kerala<rp>(</rp><rt>കേരള</rt><rp>)</rp> Sasthra <rp>(</rp><rt>ശാസ്ത്ര</rt><rp>)</rp> Sahithya <rp>(</rp><rt>സാഹിത്യ</rt><rp>)</rp>Parishad<rp>(</rp><rt>പരിഷദ്</rt><rp>)</rp></ruby></a> (Kerala Science Literature Movement).</p>

<p>The book was written to create a grasp of our universe. It covered our solar system, neighbouring stars, galaxies, nebulas, black holes and so on. It was a well-written book, and easy to grasp for someone in their puberty. Well, I believe it was aimed at a younger audience.</p>
<p><em>Note: I'm just recalling things, my brain might be making some of it up. Sadly, I do not have that book with me anymore to cross-check, if you do, please let me know if I exaggerated about its content.</em></p>

<p>This book made me curious about how our universe works, and was the very reason for me to start watching science documentaries and read more about the universe.</p>
<p>What made me even more curious was how the General relativity, while explains how big things work, does not play well along with the small stuff, i.e, <a href="https://en.wikipedia.org/wiki/Subatomic_particle" rel="external" {{{settings.opener.metadata}}}>subatomic particles</a>.</p>
<p>Enter <a href="https://en.wikipedia.org/wiki/Quantum" rel="external" {{{settings.opener.metadata}}}>quantum</a>, the smallest physical entity involved in an interaction. While the concept of quantum and quantum physics has been around for a while, the way it works is still confusing, and the there are many misconceptions about it, like thinking that quantum entanglement can allow communication faster than light — which simply is not true.</p>

<p>Just like anyone else, I was fascinated by many things in my life. One thing led to another, and I ended up taking a career path in Software development. But whenever I see news or articles about quantum physics or general relativity, I become that kid again, just interested, curious, and overall fascinated.</p>

<h3 id="quantum-computers">Quantum in Computers</h3>
<p>Somewhere around 2014, when I was working at my first software job, I read a bit about QCL (Quantum Computation Language), I had a Windows machine at that time and had to install <abbr title="Quantum Computation Language">QCL</abbr> using <a href="https://cygwin.com/" rel="external" {{{settings.opener.metadata}}}>cygwin</a>. <abbr title="Quantum Computation Language">QCL</abbr> had some bugs. Well, it still has some annoying bugs that I will mention in the second part of this blog, but it wonderfully demonstrated the concepts of <a href="https://en.wikipedia.org/wiki/Quantum_computing" rel="external" {{{settings.opener.metadata}}}>quantum computing</a>.</p>

<p>There are some promissing quantum computers being developed by now, and the most famous ones are created by well-known industry giants, like IBM, Google, and Baidu.</p>
<p>But I do not want to talk about quantum computers right now, it is a whole another blog. I want to talk about quantum Computing, and <a href="http://tph.tuwien.ac.at/~oemer/index.html" rel="external" {{{settings.opener.metadata}}}>Dr. Bernhard Ömer</a>, the creator of <abbr title="Quantum Computation Language">QCL</abbr>, can explain it better. The below two paragraphs are copied from the <a href="http://tph.tuwien.ac.at/~oemer/qcl.html" rel="external" {{{settings.opener.metadata}}}><abbr title="Quantum Computation Language">QCL</abbr> project page</a>.</p>

<blockquote cite="http://tph.tuwien.ac.at/~oemer/qcl.html">
  <p>Despite many common concepts with classical computer science, quantum computing is still widely considered as a special discipline within the broad field of theoretical physics. One reason for the slow adoption of QC by the computer science community is the confusing variety of formalisms (Dirac notation, matrices, gates, operators, etc.), none of which has any similarity with classical programming languages, as well as the rather 'physical' terminology in most of the available literature.</p>

<p>QCL (Quantum Computation Language) tries to fill this gap: QCL is a high level, architecture independent programming language for quantum computers, with a syntax derived from classical procedural languages like C or Pascal. This allows for the complete implementation and simulation of quantum algorithms (including classical components) in one consistent formalism.
</p>
  <footer>—Dr. Bernhard Ömer,  <cite>QCL - A Programming Language for Quantum Computers</cite></footer>
</blockquote>

<p>Quantum computation is still in its baby steps, it has great potential in securing communication, improving privacy, and preventing <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack" rel="external" {{{settings.opener.metadata}}}>man-in-the-middle attacks</a>. Another good implementation, due to the <q>randomness</q> in quantum, is the creation of advanced AI and ML models. I hope that we can leverage quantum in the near future for better modals that can do things humans have never been able to, like curing deceases that are currently considered terminal.</p>

<h2 id="setting-up">Setting up QCL</h2>
<p>To set up <abbr title="Quantum Computation Language">QCL</abbr>, you need either a GNU/Linux system or a UNIX based system with <a href="https://gcc.gnu.org/" rel="external" {{{settings.opener.metadata}}}>gcc</a>, <a href="https://github.com/westes/flex" rel="external" {{{settings.opener.metadata}}}>flex</a>, <a href="https://www.gnu.org/software/bison/" rel="external" {{{settings.opener.metadata}}}>biosn</a>, and optionally <a href="https://git.savannah.gnu.org/cgit/readline.git" rel="external" {{{settings.opener.metadata}}}>GNU readline</a>. You may also need <a href="https://www.gnu.org/software/plotutils/" rel="external" {{{settings.opener.metadata}}}>libplotter</a> if you want to see some fancy graphs (I won't be using that here).</p>
<p>If you are on Windows, you could try it in <a href="https://cygwin.com/" rel="external" {{{settings.opener.metadata}}}>cygwin</a> or <abbr title="Windows Subsystem for Linux">WSL</abbr>, but I will not cover that here as I don't have a Windows system with me.</p>

<p>After installing those dependencies, you can get the latest <abbr title="Quantum Computation Language">QCL</abbr> from the <a href="http://tph.tuwien.ac.at/~oemer/qcl.html" rel="external" {{{settings.opener.metadata}}}>project website</a>. I am going to install it from the source using <a href="http://tph.tuwien.ac.at/~oemer/tgz/qcl-0.6.7.tgz" rel="external" {{{settings.opener.metadata}}}>QCL version 0.6.7 (tar file)</a>. Once the file is downloaded, untar that file using the command {{#inline-code lang='sh'}}tar -xvf qcl-<version-number>.tgz{{/inline-code}}.</p>
<p>After extracting, navigate to the extracted folder, the installation instructions are provided in the <code>README</code> file, basically, you just need just to run {{#inline-code lang='sh'}}make{{/inline-code}} and {{#inline-code}}make install{{/inline-code}}. If you do not have <code>libplotter</code> or <code>Xorg</code> libraries installed, you will need to comment out line 42 and 43 (<code>PLOPT = -DQCL_PLOT</code> and <code>PLLIB = -L/usr/X11/lib -lplotter</code>) in the <code>Makefile</code>.</p>

<p><strong>Note:</strong> If you are on Gentoo GNU/Linux, I have an ebuild for this project at my <a href="/projects/cowaybuilds">cowaybuilds repository</a>, feel free to use it.</p>

<p>Once installed, to see everyting is setup correctly, run <code>qcl --version</code>. The output should resumble something like this:</p>

<pre><samp>QCL version 0.6.4, (c) by Bernhard Oemer, 1998-2014
This program is free software under the terms of the GPL
</samp></pre>

<h2 id="classical-computing">Doing classical computing using QCL</h2>
<p>Before we dive into the advanced quantum concepts, we should first get familiarized with doing basic operations in <abbr title="Quantum Computation Language">QCL</abbr>. Like assignments, loops, functions, etc. <abbr title="Quantum Computation Language">QCL</abbr> has all of them and a <em>bit more</em> (if you know what I mean <span class="ucode">😉</span>)!</p>

<p>The <abbr title="Quantum Computation Language">QCL</abbr> programs can be run in two ways.</p>
<ol>
  <li>Interactive mode</li>
  <li>Non-interactive mode</li>
</ol>

<p>The interactive mode is similar to the Python or JavaScript console, it gives you an interactive shell to run commands on. Just type <code>qcl</code> in your terminal to enter the interactive mode, you will see something like this:</p>
<pre><samp>QCL Quantum Computation Language (64 qubits, seed 1712768575)
[0/64] 1 |0>
qcl> 
</samp></pre>

<p>you can type <code>exit</code> or press <kbd>Ctrl+D</kbd> to exit the interactive mode.</p>
<p>In the interactive prompt, you will be able to see the number of <q>qubits</q> (quantum bits) that you can use, and the <q>seed</q> to reproduce the same randomness. I will talk about them in the next section.</p>
<p>The non-interactive mode can take one or more files, parse it and execute it as a qcl script. The syntax is {{#inline-code}}qcl file-name{{/inline-code}}.</p>
<p>Everything I write from here onwards can be done in either interactive or non-interactive modes, but I prefer having a backup of everything I do, so I will be using the non-interactive one.
</p>

<p>There is a good enough documentation on how the statements work, the data types, and some quirks at <a href="http://tph.tuwien.ac.at/~oemer/doc/quprog.pdf" rel="external" {{{settings.opener.metadata}}}>Quantum Programming in QCL (PDF document)</a> in the project website. I couldn't find an HTML version of the document, So I will create one and share the link here later.</p>

<p>In order to assist the programmers familiar with classical computing to use quantum computing, <abbr title="Quantum Computation Language">QCL</abbr> is endowed with several features from most other languages like data types, including <code>int</code>, <code>boolean</code>, <code>string</code>, <code>vector</code>, and <code>matrices</code>. <abbr title="Quantum Computation Language">QCL</abbr> also includes support for complex and real numbers.</p>

<p>There are also some mathematical functions built-in to <abbr title="Quantum Computation Language">QCL</abbr>, like <code>sin</code>, <code>cos</code>, <code>tan</code>, etc. But using them is fairly straight forward, you can find some examples of all basic things you can do in <abbr title="Quantum Computation Language">QCL</abbr> at <a href="https://codeberg.org/codingotaku/QCL-examples" rel="external" {{{settings.opener.metadata}}}>my codeberg repository</a>.</p>

<h2 id="quantum-specific">Quantum specific programming</h2>
<p>The Quantum computers, are based on <a href="https://en.wikipedia.org/wiki/Qubit" rel="external" {{{settings.opener.metadata}}}>qubits</a>, or a <q>quantum bit</q>. This means that there is a <code>0</code>, <code>1</code>, and a state that can be either <code>0</code> or <code>1</code>. So none of the software that’s been written for a traditional computer will function on an entirely qubit-based processor.</p>

<p>I am no quantum expert here, but I read the third state as the spin or polarization of the electron, which you wouldn't know until measured, but when you do, superposition is disturbed and you know its state.</p>

<p>The qubits are stored in <abbr title="Quantum Computation Language">QCL</abbr> as <code>qureg</code>, it is considered to be the foundation quantum data type in <abbr title="Quantum Computation Language">QCL</abbr>. A <code>qureg</code> can store one or more qubits, yes it is an array of qubits, like how a  <code>string</code> is an array of  <code>chars</code>.</p>

<p>The code {{#inline-code}}qureg qubits[2];{{/inline-code}} will declare a <code>qureg</code> of size two, you can think of as an <strong>empty array</strong> of type <code>qureg</code> of size 2.</p>

<p><code>dump</code> is a command that dumps out the current state of all the qubits in the program in terms of their basis states. Let us try calling <code>dump</code> before and after creating a <code>qureg</code> of size 5:</p>

{{#code lang='txt'}}
dump;

qureg qubits[5];

dump;
{{/code}}

<p>When you execute the above code, you will see the quantum bits you can use and how many are allocated:</p>

<pre><samp>$ qcl qureg-example.qcl
QCL Quantum Computation Language (64 qubits, seed 1712837174)
: STATE: 0 / 64 qubits allocated, 64 / 64 qubits free
1 |0>
: STATE: 5 / 64 qubits allocated, 59 / 64 qubits free
1 |0>
</samp></pre>

<p>From the output, you can see that I can use 64 qubits, and at the end of the program I used 5 qubits, so I have only 59 left.</p>

<p>The <code>seed</code> you see at the beginning of the program is the seed for randomness. Note that <abbr title="Quantum Computation Language">QCL</abbr> in your system is just simulating how a quantum program will behave, so you get the privilege of creating predictable randomness!</p>

<p>Let us watch this in action, I will create a simple <code>for</code> loop and call the <code>random()</code> function in it.</p>

{{#code lang='txt'}}
int number;
for number = 0 to 10 {
  if random() >= 0.5 {
    print "red";
  } else {
    print "black";
  }
}
{{/code}}

<p>If you run the program, you will see an output with 10 lines, with the text <q>red</q> or <q>black</q> appearing randomly. Something like this:</p>

<pre><samp>$ qcl seed-example.qcl
QCL Quantum Computation Language (64 qubits, seed <strong>1712837723</strong>)
: red 
: black 
: black 
: black 
: red 
: black 
: black 
: black 
: black 
: red 
: black
</samp></pre>

<p>If you run this again, you will see a different output, something like this:</p>

<pre><samp>$ qcl seed-example.qcl
QCL Quantum Computation Language (64 qubits, seed <strong>1712837875</strong>)
: black 
: red 
: black 
: red 
: red 
: red 
: red 
: red 
: black 
: red 
: red
</samp></pre>

<p>But, if you copy the seed value, and run the {{#inline-code}}qcl --seed=<seed-value>{{/inline-code}} command, it will always show the result. Here, I am going to use the seed value from my last output with {{#inline-code}}qcl --seed=1712837875{{/inline-code}}.</p>

<pre><samp>$ qcl --seed=1712837875 seed-example.qcl
QCL Quantum Computation Language (64 qubits, seed <strong>1712837875</strong>)
: black 
: red 
: black 
: red 
: red 
: red 
: red 
: red 
: black 
: red 
: red
</samp></pre>

<p>This is helpful because it will help you test various scenarios in your program without depending on luck. Pretty cool, right?</p>

<p>It is also possible to <em>limit</em> the number of qubits that you can use by adding {{#inline-code}}qcl --bits=<qubit-count>{{/inline-code}}. This is set to <code>64</code> by default if your system can handle it.</p>

<p>If the number of qubits used exceeds the number of qubits allocated, <abbr title="Quantum Computation Language">QCL</abbr> with throw out of memory error.</p>

<p>In the following example, we will create 12 qubits.</p>

{{#code lang='txt'}}
qureg a[4]; // allocate 4 qubits to register

qureg b[3]; // allocate 3 qubits to register

procedure createAndPrintQbits() {
  qureg c[2]; // allocate 2 qubits to register local to this procedure
  print a,b,c; // print all qubits allocated
}

qureg c[5]; // Re-allocate c to a 5-qbit register

print c; // Print new register c

dump; //show actual qubit mappings
{{/code}}


<pre><samp>$ qcl memory-example.qcl
QCL Quantum Computation Language (64 qubits, seed 1712853382)
: &lt;7,8,9,10,11&gt;
: STATE: 12 / 64 qubits allocated, 52 / 64 qubits free
1 |0></samp></pre>


<p>Now I am going to restrict the <code>qubit</code> count to 10 and run it again with {{#inline-code}}qcl --bits=10 filename.qcl{{/inline-code}}</p>

<pre><samp>$ qcl --bits=10 memory-example.qcl
QCL Quantum Computation Language (10 qubits, seed 1712853723)
! memory error: out of quantum memory
</samp></pre>

<p>You can try out these and more using <a href="https://codeberg.org/codingotaku/QCL-examples" rel="external" {{{settings.opener.metadata}}}>my codeberg repository</a>. I will have a part 2 of this blog to deep dive into quantum programming. Stay tuned!</p>
{{/inline}}
{{> (lookup this 'parent') }}

