{{#*inline "page"}}
<h2 id="reason-for-the-delay">What took me so long to do this?</h2>
<p>
  Serving an RSS feed for my website was in my TO-DO list for far too long, I was just waiting for the right push.<br>
  I always thought that nobody reads my blog posts.
</p>
<p>About a month ago, I received 3 XMPP messages and an E-mail asking me for a feed to subscribe to, maybe they are the only people reading my blogs, who knows?  <a href="/blogs/why-do-i-not-use-analytics">Not me!</a>
</p>

<p>
  Anyway, I decided to add an Atom feed first instead of RSS, may be the name ticked me off a bit. Looking at the way I structured the project, it looked simple enough, so I managed to do it within an hour <a href="https://codeberg.org/codingotaku/website/commit/9deb3366105c9d3b23dd5669290afdd0a4e2924d" rel="external" {{{settings.opener.metadata}}}>with just a few lines</a>. Optimizing the logic, fixing bugs, and adding small features to it took a bit longer, so I did those over a few weeks whenever I got some spare time.<br>
</p>
<p>I now feel that it is good enough to be official, <strong>I now serve Feeds!</strong> I also have a <a href="/feeds">special page</a> to show you different feeds you can add to your feed reader.
</p>

<h2 id="how-did-i-do-it">How did I generate a Feed?</h2>
<p>
  The way you generate the feed depends on how you host your website and serve it, do you just have some HTML files bundled in some folder that's being served? You probably have to do it manually or write a script to copy the contents to the feed file, this might also be the simplest approach one could take compared to <a href="https://codeberg.org/codingotaku/website/src/commit/70d3e74feaf7fad4ba623a3c339be2bd2c3644b4/src/routes/feeds.rs#L91" rel="external" {{{settings.opener.metadata}}}>what I did.</a>
</p>
<p>
  To serve a feed, I need to know what a feed requires. For a list of blogs, we will need: <code>title</code>, <code>summary</code>, and <code>date</code>. I also took <code>last modified date</code>, a <code>banner-image</code>, <code>tags</code>, and <code>content</code> of the blog. 
</p>
<p>
  In my project, all this information except the actual content is stored in a <a href="https://codeberg.org/codingotaku/website/src/branch/main/resources/blogs.json" rel="external" {{{settings.opener.metadata}}}>small JSON file</a>, which I might move to an SQLite DB soon. The content is rendered to the page using the <a href="https://docs.rs/crate/handlebars/latest" rel="external" {{{settings.opener.metadata}}}>rust implementation of handlebars</a> and <a href="https://rocket.rs/" rel="external" {{{settings.opener.metadata}}}>rocket</a> (a rust framework to build websites).
</p>

<p>It was a bit tricky to figure out how to get the content to render as properly in the browser, but I after a lot of debugging, I found that I had it right the first time. The problem was a <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=98168" rel="external" {{{settings.opener.metadata}}}>Firefox bug that caused</a> the content to not render as HTML when I style it using <a href="https://codeberg.org/codingotaku/website/src/branch/main/static/atom.xsl" rel="external" {{{settings.opener.metadata}}}>an XSL file</a>.
</p>

<p>But it is not the end of the world, the feed still <a href="https://codeberg.org/codingotaku/website/src/commit/70d3e74feaf7fad4ba623a3c339be2bd2c3644b4/templates/atom.xml.hbs#L31" rel="external" {{{settings.opener.metadata}}}>contains the complete content</a>, it's just that I don't show it to you if you access the XML from a browser. A feed reader will be able to get the complete content without issues, you can also do a curl and see it for yourself {{#inline-code}}curl -s https://codingotaku.com/blogs/atom.xml | less{{/inline-code}}
</p>
<p>
  The next issue was the banner, I did not have a banner for all the blogs, and only a couple of projects have them. So I created a <a href="https://codeberg.org/codingotaku/website/src/branch/main/static/images/default-banner.webp" rel="external" {{{settings.opener.metadata}}}>default banner</a> which helps me add a banner image for every feed item but I only have it for the JSON feed at the moment.
</p>
<p>
  Making the JSON feed was much easier as I already prepared everything for the atom feed, I just had to create a <a href="https://codeberg.org/codingotaku/website/src/commit/70d3e74feaf7fad4ba623a3c339be2bd2c3644b4/src/routes/feeds.rs#L28" rel="external" {{{settings.opener.metadata}}}>proper structure for it</a> and bam! The JSON feed is ready to be consumed.
</p>
{{/inline}}
{{> (lookup this 'parent') }}

