{{#*inline "page"}}
  <h2 id="the-prologue">The prologue</h2>
  <p>
    I have changed my operating system a lot of times, and I finally settled with <a rel="external" {{{settings.opener.metadata}}} href="https://archlinux.org">Arch Linux</a>, or so I thought.<br>
    I mentioned the beginning of my journey in my <a rel="external" {{{settings.opener.metadata}}} href="/blogs/why-do-i-say-gnu-linux">Why do I say GNU/Linux?</a> blog, since then, I have moved on to many variants of GNU/Linux.
    After going through many <q>distro hopping</q> phases, I settled with both <a rel="external" {{{settings.opener.metadata}}} href="https://www.debian.org/">Debian</a>, and Arch Linux as they were to my liking.
  </p>
  <p>
    Contrary to what most people say, Arch Linux is very stable, you just need to install it right, and also read the <a rel="external" {{{settings.opener.metadata}}} href="https://archlinux.org/news/">Arch Linux news</a> before every update that has <strong>important</strong> packages. I stayed on Arch Linux for almost 6 years and I did not face any stability issues nor had to <a rel="external" {{{settings.opener.metadata}}} href="https://wikipedia.org/wiki/chroot">chroot</a> to fix problems.
  </p>
  <p>
    Debian is what I still use to run my server, an occasional system update and maintenance for the services I host are what I mostly do there. It is very stable, and I will probably never switch from Debian for servers.
  </p>

  <h2 id="why-switch">So why the switch to Gentoo?</h2>
  <p>
    Believe it or not, I did not really want to try out <a rel="external" {{{settings.opener.metadata}}} href="https://www.gentoo.org/">Gentoo</a>, all the memes about compiling Gentoo system kept me away from it.<br>
    What I really wanted to install was <a rel="external" {{{settings.opener.metadata}}} href="https://guix.gnu.org/">GNU GUIX</a>, yes, I use a modern system, and yes, GUIX will not work on my system unless I include the <q>nonguix</q> repository and install <a rel="external" {{{settings.opener.metadata}}} href="https://www.kernel.org/category/releases.html">mainline Linux</a> instead of <a rel="external" {{{settings.opener.metadata}}} href="https://www.fsfla.org/ikiwiki/selibre/linux-libre/">Linux-libre</a>.
  </p>
  <p>
    But I wanted to try out GNU GUIX anyway, so I backed up my system, and started installing GNU GUIX. It was fairly easy to install, I also had to look up an article written by <a rel="external" {{{settings.opener.metadata}}} href="https://dthompson.us">David Thompson</a> about <a rel="external" {{{settings.opener.metadata}}} href="https://dthompson.us/installing-guix-on-a-10th-gen-thinkpad-x1.html">installing nonguix on ThinkPad X1</a>.
    The article helped me install the system without needing to build a custom ISO!, I&apos;m very grateful for that.
  </p>

  <p>
    Soon after the installation, I started fumbling as I modify the configuration files which were in <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/software/guile/">Guile</a>, which is written in <a rel="external" {{{settings.opener.metadata}}} href="https://www.scheme.org/schemers/">Scheme</a> programming language, and that language is part of <a rel="external" {{{settings.opener.metadata}}} href="https://wikipedia.org/wiki/Lisp_(programming_language)">Lisp family</a>.<br>
    It wasn&apos;t easy, I still have not figured my way around lisp (though I am using <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/software/emacs/">Emacs</a> to write this article). I was making silly mistakes, needing to read the documentation multiple times, and copy-pasting things I don&apos;t fully understand.
  </p>

  <p>
    I decided that instead of doing something completely unknown and breaking my system, I should start learning more about the language before even trying out GNU GUIX.
    Going back to my Arch Linux setup was in my mind, but I was still in my distro hopping mood. So I tried out Gentoo, which was one of the mainstream distribution of GNU/Linux that I was yet to try.
  </p>

  <h2 id="installation">Installation</h2>
  <p>
    Installing Gentoo was not that hard, if I compare it to my previous Arch Linux installs, Gentoo is slightly more time-consuming, but it makes up for that with the power of <q>choice</q>, which is the <a rel="external" {{{settings.opener.metadata}}} href="https://www.gentoo.org/get-started/philosophy/">philosophy of Gentoo</a>. I am not documenting my installation steps here, <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.gentoo.org/wiki/Handbook:Main_Page">the official Gentoo handbook</a> already does a great job in doing that.
  </p>

  <h3 id="building-a-pure-wayland-system">Building a pure Wayland system</h3>
  <p>
    Since Gentoo is a source based distribution, and has the wonderful <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.gentoo.org/wiki/USE_flag">USE flag feature</a>, I decided to build a pure <a rel="external" {{{settings.opener.metadata}}} href="https://wayland.freedesktop.org/">wayland</a> system.
    I am not against the <a rel="external" {{{settings.opener.metadata}}} href="https://www.x.org/wiki/">X window system</a>, but I was curious to know where we are on using Wayland native programs in GNU/Linux, I was running everything on Wayland in my previous arch install anyway.
  </p>
  <p>
    Setting up the useflag was easy, remove the support of <code>X</code> and add support of <code>Wayland</code> in my {{#inline-code}}/etc/portage/make.conf{{/inline-code}} file.
  </p>
  {{#code lang='make'}}USE="wayland -X"{{/code}}
  <p>
    While I was at it, I also removed the <a rel="external" {{{settings.opener.metadata}}} href="https://systemd.io/">systemd</a> support from packages as I already use <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.gentoo.org/wiki/Project:OpenRC">OpenRC</a> as init system, which is 100% compatible with Gentoo init scripts. Additionally, I added the <code>-telemetry</code> flag to avoid telemetry that might enter my system as I install more packages.
  </p>
  {{#code lang='make'}}USE="wayland -X -systemd -telemetry"{{/code}}
  <p>
    There were many packages that I used in my previous Arch installs which runs on Wayland, I have the list archived in my <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/codingotaku/arch-post-install/src/branch/main/packages.csv">arch-post-install</a> repository. One could say that I was already running a pure Wayland system.
  </p>
  <p>
    I now use nearly the same base packages, with some minor changes, like using Emacs without GUI instead of <a rel="external" {{{settings.opener.metadata}}} href="https://neovim.io/">Neovim</a> as I want to learn more Lisp, and <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/haikarainen/light">light</a> (depricated) instead of <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/Hummer12007/brightnessctl">brightnessctl</a>, etc., they all work and has nothing to do with Wayland or X.
  </p>
  <h3 id="problems-i-faced">Problems I faced while building a pure Wayland system</h3>

  <p>I started adding more useflags as I choose and install more packages, and I realized that some packages pulls in the <code>libX11</code> (X headers) regardless of the <code>-X</code> flag.</p>
  <h4 id="firefox-x11">Firefox</h4>
  <p>The latest release when I wrote this blog was Firefox v112 and I wasn&apos;t able to compile it, but this must have been fixed by Firefox v115, I haven&apos;t tried it yet. But, <a rel="external" {{{settings.opener.metadata}}} href="https://gitlab.com/librewolf-community">LibreWolf</a> is my browser of choice, and I was able to build it without <code>X</code>.
  </p>

  <h4 id="qt-x11">QT</h4>
  <p>Some QT packages also fails to compile without the <code>libX11</code> library.
    I found the solution for QT packages in <a rel="external" {{{settings.opener.metadata}}} href="https://bugs.gentoo.org/show_bug.cgi?id=855164#c5">one of the resolved Gentoo bugs</a>, it was to add <code>-DQT_EGL_NO_X11</code> flag to the <code>CXXFLAGS</code> in the {{#inline-code}}/etc/portage/make.conf{{/inline-code}} file. With that, I was able to install all the packages that I use without any compile errors.
  </p>

  <h4 id="thunderbird-x11">Thunderbird (uses firefox)</h4>
<p><a rel="external" {{{settings.opener.metadata}}} href="https://www.thunderbird.net/">Thunderbird</a> requires parts of firefox source to build, so I lost hope for it. And, I did not manage to create an <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.gentoo.org/wiki/Ebuild">ebuild</a> (text file for package manager that contains instruction on how to install a package) for it.</p>
  <p>
  <em>Update: As of <time datetime="2023-07-13">13th July 2023</time>, Thunderbird v115 and above lets you build without X headers because it depends on Firefox v115 that has pure wayland support, I still have no hope for Signal as it provides a generic binary.</em>
  </p>

  <h4 id="signal-x11">Signal-desktop</h4>
  <p><a rel="external" {{{settings.opener.metadata}}} href="https://signal.org/">Signal</a> only distributes <code>signal-desktop-bin</code> <a rel="external" {{{settings.opener.metadata}}} href="https://bugs.gentoo.org/690894">which has X</a>. Oh well, I don&apos;t use it much these days anyway, 
  </p>

  <h4 id="nextcloud-x11">Nextcloud-desktop</h4>
  <p>
    <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/nextcloud/desktop">Nextcloud Desktop</a> was also not building without <code>x11-libs/libX11</code>, I do not use the Nextcloud GUI much, so I searched for ways to build the <code>nextcloud-desktop-cmd</code> instead. There is an <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/nextcloud/desktop/issues/1339">open issue</a> in their repository to build the <code>nextcloud-desktop-cmd</code> without the QT GUI libraries, for now, I use <a rel="external" {{{settings.opener.metadata}}} href="https://rclone.org/">rclone</a> to sync things with my Nextcloud instance.
  </p>

  <h3 id="missing-packages">Missing packages in gentoo</h3>
  <p>
    A couple of <em>nice-to-have</em> packages were missing in the official Gentoo repository, though I was able to find <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.gentoo.org/wiki/Ebuild_repository">an ebuild repository</a> for them, I decided to make one by myself for those packages, it is now available in <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/codingotaku/cowaybuilds">codeberg.org/codingotaku/cowaybuilds.</a>
  </p>
  <p>
    I also have some useful scripts that runs in <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/dnkl/fuzzel">fuzzel</a> menu to make some things easier to do, they can be found in <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/codingotaku/fuzzel-scripts">codeberg.org/codingotaku/fuzzel-scripts</a>
  </p>
  <h2 id="managing-configurations">Managing configurations</h2>
  <p>
    Useflags will pile up as you install more packages, I avoid adding a global useflag if it is used by only one package or the flags are tagged as a <code>Local Use Flags</code>. I still have a lot of useflags in my  {{#inline-code}}/etc/portage/make.conf{{/inline-code}}, so I split them into categories like below.
  </p>
  {{#code lang='make'}}nice_to_have_flags="hardened wayland iwd gsl dbus udev readline"
graphics_flags="vulkan eglfs sdl egl v4l vaapi gles2-only gles2 opencl"
image_formats="jpeg jpegxl png tiff webp svg gif exif heif ogg xml"
media_flags="pulseaudio screencast ogg dvb ${image_formats}"

allowed_flags="${nice_to_have_flags} ${graphics_flags} ${media_flags}"
disallowed_flags="-X -XWayland -systemd -telemetry -clang -vdpau -cuda -xvmc -alsa"

USE="${allowed_flags} ${disallowed_flags}"{{/code}}
  <p>
    The flags in {{#inline-code}}/etc/portage/package.use/{{/inline-code}} (Local Use Flags directory) are much simpler, they are created per package, and useflags for their dependencies are also included in their parent package.<br>
    Below is the output of {{#inline-code}}find /etc/portage/package.use/ -type f -exec echo -e "\n== {} ==" ';' -exec cat {} \;{{/inline-code}} command.
  </p>
{{#code}}
== /etc/portage/package.use/03installkernel-flags ==
>=sys-kernel/installkernel-24 dracut grub

== /etc/portage/package.use/sdl2-flags ==
media-libs/libsdl2 haptic
media-libs/sdl2-mixer wav flac fluidsynth midi mod mp3 opus -playtools timidity tremor vorbis

== /etc/portage/package.use/thunderbird-flags ==
>=virtual/rust-1.69.0 rustfmt

== /etc/portage/package.use/pass-flags ==
app-admin/pass emacs

== /etc/portage/package.use/trackma-flags ==
net-misc/trackma cli inotify -ncurses

== /etc/portage/package.use/sway-flags ==
gui-wm/sway tray swaybar -swaynag
sys-auth/seatd server
media-libs/freetype harfbuzz

== /etc/portage/package.use/rust-flags ==
dev-lang/rust clippy rustfmt rust-analyzer rust-src

== /etc/portage/package.use/pinentry-flags ==
app-crypt/pinentry gtk
app-crypt/gcr gtk

== /etc/portage/package.use/theme-flags ==
app-text/xmlto text
dev-python/PyQt5 gui widgets network -svg
gui-libs/gtk gstreamer
media-fonts/noto-emoji icons
media-libs/glew egl-only
sys-libs/zlib minizip
x11-themes/tela-icon-theme dracula

== /etc/portage/package.use/mesa-flags ==
media-libs/mesa -proprietary-codecs wayland osmesa zink
x11-libs/libdrm video_cards_radeon

== /etc/portage/package.use/00cpu-flags ==
*/* CPU_FLAGS_X86: aes avx avx2 f16c fma3 mmx mmxext pclmul popcnt rdrand sha sse sse2 sse3 sse4_1 sse4_2 sse4a ssse3

== /etc/portage/package.use/media-flags ==
media-gfx/gimp aalib jpeg2k mng openexr vector-icons
media-gfx/swayimg exr media-gfx/imagemagick djvu fftw fontconfig fpx graphviz hdri jbig jpeg2k lcms lqr openexr pango perl postscript q8 q32 raw truetype wmf zip
media-libs/babl lcms introspection
media-libs/gd truetype fontconfigapp-text/poppler cairo
media-libs/gegl cairo lcms introspection
media-sound/pulseaudio -X -daemon
media-video/ffmpeg x264 opus vpx
media-video/mpv lua sixel libcaca pipewire rubberband -xv
media-video/pipewire sound-server bluetooth modemmanager ffmpeg gstreamer lv2 echo-cancel extra pipewire-alsa

== /etc/portage/package.use/01compiler-flags ==
sys-libs/compiler-rt clang

== /etc/portage/package.use/fuzzel-flags ==
gui-apps/fuzzel cairo
app-misc/fuzzel-scripts context launcher picker sway
app-misc/fuzzmoji clipboard

== /etc/portage/package.use/iwd-flags ==
net-wireless/iwd standalone wired

== /etc/portage/package.use/02gcc-flags ==
sys-devel/gcc graphite rust

== /etc/portage/package.use/browser-flags ==
dev-lang/rust-bin rustfmt
media-libs/harfbuzz icu
media-libs/libpng apng
media-libs/libvpx postproc
www-client/firefox eme-free system-png system-jpeg system-av1 system-webp system-libvpx system-harfbuzz system-icu system-libevent openh264
www-client/librewolf eme-free system-png system-jpeg system-av1 system-webp system-libvpx system-harfbuzz system-icu system-libevent openh264
www-client/torbrowser eme-free system-png system-jpeg system-av1 system-webp system-libvpx system-harfbuzz system-icu system-libevent openh264 system-png

== /etc/portage/package.use/links-flags ==
www-client/links svga

== /etc/portage/package.use/emacs-flags ==
app-editors/emacs dynamic-loading json sqlite tree-sitter jit imagemagick gfile games harfbuzz threads sqlite gui gtk
app-emacs/emacs-common games gui
sys-devel/gcc jit

== /etc/portage/package.use/php-flags ==
dev-lang/php gd sockets xmlwriter curl

== /etc/portage/package.use/otp-client-flags ==
app-admin/otpclient cli gtk
app-crypt/gcr gtk
media-libs/libheif x265

== /etc/portage/package.use/speech-dispatcher-flags ==
app-accessibility/speech-dispatcher -espeak flite
{{/code}}

  <h2 id="what-did-i-learn">What did I learn?</h2>
  <p>
    Setting up a source based distribution like Gentoo is not hard, but it is a bit time-consuming. Once you have a setup that you are happy with, the maintenance work like updating packages and adding functionalities are very easy to do. The updates can be done in the background, or on weekends.
  </p>
  <p>
    It is not necessary to update the packages everyday like what most people do in Arch Linux, I update the system if there is a security update, or on weekends.
    The package updates can be run on background if I limit the number of CPU threads to build, so it never interferes with my tasks.
  </p>
  <p>
    Having control over what a package use to build is extremely useful, it keeps the system more secure by reducing the attack vector, while keeping the system minimal, usable, and stable.
  </p>
  <h2 id="will-i-ever-move-from-gentoo">Will I ever move from Gentoo?</h2>
  <p>
    Probably, I still want to give GNU GUIX another try, I may not do it anytime soon as I&quot;m feeling at home with Gentoo.
  </p>
{{/inline}}
{{> (lookup this 'parent') }}

