{{#*inline "page"}}
  <p>
    Switching to <a rel="external" href="https://signal.org/">Signal</a> is a good step towards the right direction, but it is not enough.<br>
    We are seeing a massive spike in Signal
    <a rel="external" href="https://www.msn.com/en-in/money/topstories/what-is-signal-why-is-it-trending-is-it-better-than-whatsapp/ar-BB1cCxgK"
      >
      installations
    </a> since WhatsApp introduced their new privacy policy.
  </p>
  <p>
    Though there are many other alternatives available, Signal is getting popular, but the hype is due to A celebrity's tweet to <q>Install Signal</q>.
  </p>
  <p>
    Unlike WhatsApp, Signal is a non-profit organization, and Signal is a free and open-source client.
    This makes Signal superior in terms of security as they have gone through multiple audits and anyone can verify that the encryption is done correctly.
  </p>
  <p>
    There are things in common for both of them, some are good and some are... not so much.
  </p>

  <h2 id="both-are-centralized">Con: Both are centralized</h2>
  <p>
    If Signal goes the wrong way, we cannot just switch a server and continue like what we can do with other decentralized, federated services like Mastodon, PeerTube, or Matrix.
  </p>
  <p>
    A wide adoption to a centralized service is never a good idea as moving from it means you have to convince everyone else using that service to move with you (isn't this what's happening with WhatsApp?).
  </p>
  <p>
    But if the service is decentralized, one can just switch from the server they don't like, it's like switching the e-mail, you'll just change the domain, and everyone can still mail you without installing another app or using a new different service.
  </p>
  <p>
    <b>Edit:</b> on 15th January 2020, Signal had a global
    <a rel="external" href="https://www.forbes.com/sites/rachelsandler/2021/01/15/so-many-people-are-using-signal-it-caused-an-outage/">
outage
    </a>
    due to the surge in its usage, this also demonstate how vulnerable Signal is to a takedown.<br>
    If a decentralized service had a similar issue, users could have moved on to another server without loosing functionality.
  </p>
  <h2 id="both-are-not-in-foss-stores">Con: Both are not available on F-Droid or other Foss stores</h2>
  <p>
    WhatsApp does not qualify the requirements to be included in the F-Droid store, this is because WhatsApp is a proprietary application and has non-free binaries included in it.
  </p>
  <p>
    But Signal does qualify (or it used to until Signal devs decided to included Google reCAPTCHA) and the developer Moxie is against having Signal published in F-Droid.</p>
  <p>
    Instead, He decided to provide a link on the website to download the android APK directly.<br>
    The link is not mentioned anywhere on the website, instead if you search for <q>Signal APK</q> in your search engine, you will be able to find the link to download the file.<br>
    But the page will warn you and try it's best to install the app from the privacy invading Google Play Store.
  </p>
  <p>
    F-Droid allows anyone to create custom repositories and that would be a much secure way to download the	application than a direct link.
  </p>
  <h2 id="uses-signal-protocol">Pro: Both uses Signal protocol</h2>
  <p>
    Signal protocol is one of the most secure cryptographic protocol that can be used to provide end-to-end encryption for voice, video and text conversations.<br>
    WhatsApp claims to use Signal protocol, but by design (proprietary service) there is a way for the user to verify if WhatsApp actually uses it or not.
  </p>

  <p>
    Instead of relying on applications, one should rely on protocols, this makes sure that anyone can use the app of their choice to contact you.
  </p>
  <p>
    Update <time datetime="2023-08-18T12:00:00Z">{{(strip-date '2023-08-18T12:00:00Z')}}</time>: I used to have a list of alternatives that you can use on this page (<a rel="external" {{{settings.opener.metadata}}} href="https://web.archive.org/web/20230818215524/https://codingotaku.com/blogs/switching-to-signal-is-not-enough">archived</a>), I've moved them to my <a href="/blogs/migrating-to-floss">migrating to floss</a> blog as it fits better there, make sure to check it out!
  </p>
{{/inline}}
{{> (lookup this 'parent') }}

