{{#*inline "page"}}
  <p>
   In summary, use uBlock Origin, disable notifications, avoid subscribing to sites, do not create unnecessary accounts, and visit simple websites.
  </p>
  <h2 id="install-ublock-orgin">Install uBlock Origin – One time activity.</h2>

  <p><a href="https://github.com/gorhill/uBlock" rel="external" {{{settings.opener.metadata}}}>uBlock Origin</a> <a href="https://github.com/gorhill/uBlock/wiki/uBlock-Origin-works-best-on-Firefox" rel="external" {{{settings.opener.metadata}}}>works best in Firefox</a>, but you can have it on any popular browsers. It is not an extension to block ads, <a href="https://github.com/gorhill/uBlock/wiki/Blocking-mode" rel="external" {{{settings.opener.metadata}}}>it is a content blocker</a> that helps you avoid plenty of inversive tracking, ads, network requests, and more.</p>
  <p>You can also <a href="https://github.com/gorhill/uBlock/wiki/Element-picker" rel="external" {{{settings.opener.metadata}}}>block any element</a> from the site you are visiting that you find unusable with just a few clicks. As uBlock Origin also blocks ads, you do not need a separate AdBlock extension, in fact, <a href="https://github.com/arkenfox/user.js/wiki/4.1-Extensions#-dont-bother" rel="external" {{{settings.opener.metadata}}}>it is not necessary to use many other privacy add-ons if you have uBlock Origin</a>.
  </p>

  <h2 id="disable-notifications">Disable notifications – One time activity.</h2>

  <p>One of the most distracting things an operating system (and browser, which I would argue is also an operating system) has is notification. It is designed to capture your attention, and it does it well. You do not need notification for all news articles, random social media, and that one site you visited today to help you solve the problem you encountered.
  </p>
  <p>Nothing should distract your work unless there is an emergency. If you don’t know how to remove existing notifications or cannot find it in the browser settings, do a quick search on your favourite search engine like this <strong>“&lt;the browser name&gt; disable web notifications”</strong>.
</p>

  <h2 id="use-reader-view">Use Reader view – Regular activity.</h2>

  <p><a href="https://support.mozilla.org/en-US/kb/firefox-reader-view-clutter-free-web-pages" rel="external" {{{settings.opener.metadata}}}>Firefox</a> and <a href="https://support.apple.com/en-gb/guide/safari/sfri32632/mac" rel="external" {{{settings.opener.metadata}}}>Safari</a> have had Reader View for years, and chrome has it <a href="https://www.howtogeek.com/423643/how-to-use-google-chromes-hidden-reader-mode/" rel="external" {{{settings.opener.metadata}}}>hidden behind a flag</a>. If you are reading an article such as this one, try using reader view and see how much of a difference it makes. If you start using it, all articles you ever read will always have the same layout and theme.</p>
  <p>No more squinting because of bad contrast, no more pop-ups, no more video or audio that plays in the background or moves around the screen when you scroll. It will be just you and the article that the author spent so much time writing, how awesome is that?
  </p>

  <h2 id="close-tabs">Close unused tabs – Regular activity.</h2>

  <p>This is a hard one, especially if the task you do depends on looking at many things at once, or if you have ADHD. Try putting more effort to clean up the unused tabs, your RAM, and programs you use will thank you.
  </p>
  <p>If you want to re-visit a page from time to time, bookmark it, it is also possible to categorize bookmarks in most browsers. You might need to clean up the bookmarks too, but you can just schedule to do it once in a year or so.</p>
  <p>PS: <a href="https://en.wikipedia.org/wiki/List_of_software_using_Electron" rel="external" {{{settings.opener.metadata}}}>Most programs'</a> people currently use are a <a href="https://en.wikipedia.org/wiki/Electron_(software_framework)" rel="external" {{{settings.opener.metadata}}}>browser in disguise</a>, and almost all programs <a href="https://federicoterzi.com/blog/why-electron-is-a-necessary-evil/" rel="external" {{{settings.opener.metadata}}}>fill up the RAM and not be a good neighbour to others</a>. This causes things to run slow, heat up the system, crash browser tabs, etc. While you close the browser tabs to reduce the burden on your system, Also close those browser apps and find alternatives when possible to reduce the burden further.
  </p>
  <h2 id="delete-accounts">Delete unnecessary accounts – Scheduled activity.</h2>

  <p>Do not delete just apps, go to the site and search for ways to delete the accounts you don’t need, ways to delete the most famous services are documented on a site called <a href="https://justdeleteme.xyz/" rel="external" {{{settings.opener.metadata}}}>JustDeleteMe</a>. If you do need to create an account for some service, opt-out of all emails.</p>
  <p>If they don’t have an option to unsubscribe, or they keep sending you mails afterwards, mark those mails as spam.
  </p>

  <h2 id="avoid-ims">Avoid discord, slack, like communities – Need active attention.</h2>

  <p>They won’t provide any value, questions asked are repeated because it is near-impossible to search for information, many forget <a href="https://nohello.club/" rel="external" {{{settings.opener.metadata}}}>how to properly ask questions</a> or even communicate due to these chat-based communities becoming popular.
  </p>
  <p>If you really need to join a community, see if they have a forum to join where things are properly categorized by topic and type, otherwise, stay away from them to avoid further distractions.
  </p>

  <h2 id="avoid-seo">Avoid sites with long articles for simple answers – Need active attention.</h2>

  <p>Ever searched for a recipe or wanted to know the answer to a specific question? It is very likely the article you opened does not give you a solution right away, in fact, the most important part is always at the bottom of the article. I believe they are ruining the Internet, and I saw <a href="https://news.ycombinator.com/item?id=22792054" rel="external" {{{settings.opener.metadata}}}>many agreeing with this on an ironic Hacker News post</a>. (<a href="https://web.archive.org/web/20200407141800/https://www.superhighway98.com/seo" rel="external" {{{settings.opener.metadata}}}>the blog post is archived as the link in HN is broken</a>).</p>
  <p>If you see such articles, avoid it and look somewhere else; they are written to make you spend time on their website, not to give you answers.
  </p>
{{/inline}}
{{> (lookup this 'parent') }}

