{{#*inline "page"}}
  <p>
    My <a href="https://github.com/codingotaku" rel="me nofollow" {{{settings.opener.metadata}}}>GitHub profile</a> exists because I used to have a GitHub account which I deleted due to reasons that you can think of (M$).<br>
    There were some <a href="https://github.com/Halium/docs/pull/142" rel="external nofolow">commits linked to my username</a>, and I don't want them to have a weird linking to my other profiles or it be owned by someone else creating an account with my username.
  </p>
  <p>
    I will only use this new profile to contribute to the repositories that cannot be found elsewhere, so the only repos you can see in my account (if you see any) are ‘GitHub forks’™ for contributing…
  </p>
  <p>
    I find that sending patch files directly to the developer (via e-mail or other means) avoids showing my contribution in my profile, so that's what I will continue to do unless some developer does not want to learn how <a href="https://git-scm.com/docs/git-format-patch" rel="external nofollow" {{{settings.opener.metadata}}}>git-patch</a> works.
  </p>
{{/inline}}
{{> (lookup this 'parent') }}

