{{#*inline "page"}}
  <p>
    <a href="https://themarkup.org/blacklight?url=codingotaku.com" rel="external" {{{settings.opener.metadata}}}>This website does not have analytics.</a>
  </p>
  <p>
    My reason to not use analytics was not for technical or moral reasons. There are analytics available now that captures details in truly anonymous way and I chose to not use those either.
  </p>
  <ul>
    <li>
      If I had few readers, it would discourage me and I would find it difficult to continue writing.
    </li>
    <li>
      If some of my posts gets more attention, I will probably start writing things similar to those posts.
    </li>
    <li>
      If I had many readers who spend time on my blogs then I would potentially think that I am some kind of celebrity who is followed by many, which I am obviously not.
    </li>
    <li>This is my personal site, I treat it like my home, and I want it to be spyware free!</li>
  </ul>
  <p>
    There are other moral reasons for me to include them, but the above list came up first to me and the choice was obvious.
  </p>
{{/inline}}
{{> (lookup this 'parent') }}

