{{#*inline "page"}}
  <p>
    I have used computers ever since I was in my teens. I don't remember the specs and I usually play some
    platform or indie games in it.
    It was a slow piece of potato, and we later had a dial-up internet connection which took ages to load even
    an Image. Of course, it was running Windows XP!
  </p>
  <p>
    Information technology was one of the subject I had to study. Fortunately, with <a rel="external" {{{settings.opener.metadata}}}
      href="https://web.archive.org/web/20061208075556/http://www.financialexpress.com/fe_full_story.php?content_id=138464"
     >Richard M. Stallman's influence</a>, GNU/Linux was used in our
    computer labs from the year 2006 onwards.
  </p>
  <p>
    I am not sure why or how, but the operating system was introduced to us as <q>Linux</q> not GNU/Linux or
    GNU+Linux. Probably because of lack of knowledge or misinformation, our faculties did
    not teach much on GNU/Linux history back then (understandable).
  </p>
  <p>
    The system we used was very slow and had significantly fewer permissions for a student for <q>Security reasons</q>,
    most kids disliked the so-called <q>Linux</q> operating system because of that restrictions...<br>
    And this still continues, I am yet to find someone who comes out of school and say <q>Linux is cool!</q>.
  </p>
  <p>
    When upgrading my system or when buying a new one, I always choose a Windows system. It's not that hard to
    find one due to their huge market.<br>
    I used to play a lot of games, watch videos, create and edit documents, research about things, and
    everything you could think of a teenager could do with a computer.
  </p>
  <p>
    That was until I started living on my own and had to worry about money, my job didn't pay me enough, and I had to
    struggle to meet ends with what I have.<br>
    When I thought about buying a new laptop, I wanted it to be as cheap but well-equipped as possible.
    The cheapest machine came with Free DOS, which just operates in CLI.
  </p>
  <p>
    I thought maybe I could just copy the Windows system to my new one. So I started searching on how to
    do it.<br>
    I ended up wondering “why do I have to pay for a <q>license</q> when I want to replace my old
    system with a new one? Why can't I just copy or move it?“
  </p>
  <p>
    Then I went into a rabbit hole of understanding licenses and why a few sentences written somewhere in the
    program forbids me to copy it to somewhere else.<br>
    It made no sense to me. A program is just doing some computation, it is all mathematics in its core, how can
    one not copy or share it?
  </p>
  <p>
  It is then I found out about open-source software, open-source software licenses will let users copy the
  code and share it. it made me wonder why Microsoft Windows doesn't share its source code.
  </p>
  <p class="note">
    I eventually had to stick with the most-hated-among-us-students operating system <q>Linux</q>.
    I did what anyone new to the <q>Linux world</q> does, <strong class="text-danger">install
      Ubuntu</strong>.
  </p>
  <p>
    I stumbled upon <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/philosophy/free-sw.html">Free Software</a>
    after a few months of installing Ubuntu.
    And I realized how ignorant everyone was about Linux. I along with many others always had thought it
    is a <del>Free</del> gratis operating system, but it is not!<br><br>
    I learned the <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/History_of_Linux#Linux_under_the_GNU_GPL">history</a>
    (a subject I hated the most) of Linux, and
    <q>Notes for Linux release 0.01</q>, Torvalds lists the GNU software that is required to run Linux.
  </p>
  <figure class="figure">
    <blockquote>
      <p>Sadly, a kernel by itself gets you nowhere. To get a working system you
    need a
    shell, compilers, a library, etc.
    These are separate parts and may be under a stricter (or even looser) copyright. Most of the tools
    used with Linux are GNU software and are under the GNU copyleft. These tools aren't in the distribution
    - ask me (or GNU) for more info.</p>
    </blockquote>
    <figcaption>
      - Linus Torvalds
    </figcaption>
    </figure>
  <p>
    There you have it, Linux is <strong><a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/Linux_kernel">Just a kernel</a></strong>.
    It needs GNU to make it a complete operating system.
    So I started learning about the <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/gnu/gnu-history.en.html">history of GNU</a>.<br>
    This learning made me understand even more about the Free-Software philosophy and how Linux completed the
    GNU project and <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/gnu/linux-and-gnu.en.html">not the vice versa</a>.
  </p>
  <p>
    <strong>The Linux kernel is not entirely Free, it has binary blobs for drivers.
      Thus, we have <a rel="external" {{{settings.opener.metadata}}} href="https://www.fsfla.org/ikiwiki/selibre/linux-libre/">Linux-Libre</a> -
      an attempt to create a 100% Free Linux kernel.</strong>
  </p>
  <p>
    The reason I call the operating system popularly known as <q>Linux</q> by the name
    <q>GNU/Linux</q> is not
    because of the history.
    It is not because of the respect towards Richard Stallman. It is because having GNU in the name let the
    user know and learn about Free-Software and the work done to it much faster (and possibly to free
    them).<br>
    <strong>So that it wouldn't take them as long as the ignorant me did!</strong>
  </p>
  <p>- Be safe and be Free</p>
{{/inline}}
{{> (lookup this 'parent') }}

