{{#*inline "page"}}
  <h2 id="recipie">Why a Recipe?</h2>
  <p>Creating a project is like cooking. You need the right ingredients, follow a process, and have a bit of patients. Just like it is unhealthy to consume instant food, it is not good for one to rely on a service to publish their content.</p>
  <p>There are an interesting number of people even amoung techies who thinks that owning a website is hard and costs a lot. But it is not true, Domain names are cheep, and hosting a website can be done on a low end hardware with 1GB ram and enough GB to run an OS.</p>
  <p>Yes, you can host a website on a raspberryPI or other single board computers, but that's not what I'm about to tell you here. I will give you the recipe, and just like any other recipe, how you cook is up to you!
  </p>
  <h2 id="ingredients">Ingredients</h2>
  <ol>
    <li>Domain (optional)</li>
    <li>Hosting provider (optional)</li>
    <li>Content for the website.</li>
  </ol>

  <h2 id="instructions">Instructions</h2>
  <dl>
    <dt><h3 id="step-1">Step 1: Get a domain</h3></dt>
    <dd>
      <h4 id="step-1-option-1">Option 1: Using someone elses domain</h4>
      <p>
        Some code hosting services like <a href="https://docs.codeberg.org/codeberg-pages/" rel="external" {{{settings.opener.metadata}}}>codeberg</a>, <a href="https://docs.gitlab.com/ee/user/project/pages/" rel="external" {{{settings.opener.metadata}}}>gitlab</a>, and <a href="https://pages.github.com/" rel="external" {{{settings.opener.metadata}}}>github</a> let you create a <strong>subdomain</strong> to their site with your username and host your website at the same place, you can choose this option <strong>if you do not want to pay for a domain</strong>. The catch is that you will <a href="#step-2-option-1">need to create a static website</a>.
      </p>
      <p>
        There are also other options like <a href="https://ichi.city/" rel="external" {{{settings.opener.metadata}}}>ichi.city</a> and <a href="https://neocities.org/" rel="external" {{{settings.opener.metadata}}}>neocities</a> where you can use a subdomain to create sites.
      </p>
      <h4 id="step-1-option-2">Option 2: Owning a domain</h4>
      <p>
        I suggest buying a domain, it is cheep and helps you create an identity. The challenging part is choosing a domain name that is not already taken by someone else, and some will <a href="https://en.wikipedia.org/wiki/Cybersquatting" rel="external" {{{settings.opener.metadata}}}>squat on a domain</a> and ask you to pay more for it, avoid them no matter how much you like that domain.</p>
      <p>I prefer <a href="https://njal.la/" rel="external nofollow" {{{settings.opener.metadata}}}>njalla</a> or <a href="https://www.netcup.eu/" rel="external nofollow" {{{settings.opener.metadata}}}>netcup</a> when buying a domain. Search for a domain regisrtar and find one that suites you (make sure to read the terms, some cheep registrars have very concerning terms).
      </p>
    </dd>
    <dt><h3 id="step-2">Step 2: Decide how it behaves</h3></dt>
    <dd>
      <p>Before you go search for <em>free website builders without code</em>, you need to know a few things.</p>
      <p>How a website behaves for a user decides the best way <strong>you</strong> can write it.<br>
         Ignoring most of the techinal stuff, for a user there are two types of websites, <strong>static</strong> or <strong>dynamic</strong>.
      </p>
      <h4 id="step-2-option-1">Option 1: Static website</h4>
      <p>A <strong>static webpage</strong> is a simple text file usually formatted in HTML format to include images, videos, and styles.<br>
         A <strong>static website</strong> is a collection of static webpages stored in sub folders.
      </p>
      <p>
        Static websites are usually faster as it is not doing much computation, and it will be easier for you too as you don't need to worry about writing code to handle different user inputs or changing what you show to the user based on it. There are ways to do the latter using JavaScript, but it is not needed for a majority of websites like blogs.
      </p>
      <p>
        It is perfectly possible to create a website without JavaScript or a code running in some server. <a href="https://codeberg.org/codingotaku/codingotaku.github.io-archive" rel="external nofollow" {{{settings.opener.metadata}}}>My previous website</a> did this, <a href="/projects/website">the current one</a> is hosted on a virtual private server and runs in <a href="https://www.rust-lang.org/" rel="external" {{{settings.opener.metadata}}}>rust</a> (still no JavaScript).
      </p>

      <h4 id="step-2-option-2">Option 2: Dynamic website</h4>
      <p>
        A dynamic website, as the name suggests, is a generated at runtime. For example: when a user requests for a page, you can decide how to show it and what content it should have based on some logic.
      </p>
      <p>
        For a dynamic website, you most likely need to rely on JavaScript. The basic things that you want to do can probably be written in vanilla JavaScript, but there are some JavaScript frameworks out there that claims to make things easier, search and find one that you feel comfortable with.
      </p>
      <p>
        It is usually not necessary to create a dynamic website. But if you want the page to contain a user-driven flow like dashboards, fancy action-driven user interface (like <a href="https://desktop.exeami.com" rel="external nofollow" {{{settings.opener.metadata}}}>desktop.exeami.com</a>), etc, you can choose to build a dynamic website.
      </p>
    </dd>
    <dt><h3 id="step-3">Step 3: Host the website</h3></dt>
    <dd>
      <h4 id="step-3-option-1">Option 1: Let someone else host it for you</h4>
      <p>For both static and dynamic websites, if you are not doing anything fancy like handlig user input for search, comments, forums, etc,. You can use some code hosting services like I mentioned in <a href="#step-1-option-1">using someone elses domain</a> section. The links I provided there shows you how to build and host a webiste in their platform.
      </p>
      <h4 id="step-3-option-2">Option 2: Use a hosting provider</h4>
      <p>There are many reasons for one to choose a hosting provider, usually it is to store things like comments, user generated images and videos, etc. And the ISP does not give you enough bandwidth for your traffic. In these cases, you might be able to use a hosting provider, and usually, this is also cheep (starting around $5 per month).
      </p>
      <p>
        I have used <a href="https://njal.la/" rel="external nofollow" {{{settings.opener.metadata}}}>njalla</a> and <a href="https://www.vultr.com/" rel="external" {{{settings.opener.metadata}}}>vultr</a> before, they are great. I currently use <a href="https://www.netcup.eu/" rel="external nofollow" {{{settings.opener.metadata}}}>netcup</a> to host things.
      </p>
      <h4 id="step-3-option-3">Option 3: Self-host</h4>
      <p>
        If your website is small and has less traffic (this is you if you just started a blog), it might be possible to host the site at your own house if your Internet Service Provider (ISP) let you have a static IP address and enough bandwidth.
      </p>
    </dd>
    <dt><h3 id="step-4">Step 4: Finishing touch</h3></dt>
    <dd>
      <h4 id="a11y">Accessibility</h4>
      <p>Now that you have a website, you need to make it usable by others, a fancy animation that you liked and added could be trippy for someone, some colors you used might be unreadable due to low contrast, I recommend using <a href="https://wave.webaim.org/extension/" rel="external" {{{settings.opener.metadata}}}>WAVE tool</a> or <a href="https://www.ibm.com/able/toolkit/tools#develop" rel="external" {{{settings.opener.metadata}}}>IBM Able extension</a> to fix them, don't worry, they guide you on how and why you should do the changes they recommend.
      </p>
    </dd>
  </dl>
  <p>Read the <a href="/blogs/writing-a-website-part-2">part 2 of this series</a> to learn about writing a website using simple HTML and CSS.</p>
{{/inline}}
{{> (lookup this 'parent') }}

