{{#*inline "page"}}
<ul class="feed-list">
  <li class="note"><a href="/admin-page/get-all-comments">View comments</a></li>
  <li class="note"><a href="/admin-page/update-username">Update username</a></li>
  <li class="note"><a href="/admin-page/update-password">Update password</a></li>
  <li class="note"><a href="/logout-from-site">Logout</a></li>
</ul>
{{/inline}}
{{> (lookup this 'parent')}}

