{{#*inline "page"}}
<form class="form" action="/login-to-site" method="post" accept-charset="utf-8" aria-label="Login">
  <fieldset>
    <legend>Login</legend>
    <label for="username">Username</label>
    <input class="input" type="text" name="username" id="username" placeholder="username" required>
    <label for="password">Password</label>
    <input class="input" type="password" name="password" id="password" placeholder="password" required>
    {{#if page.redirect_path}}
    <input type="hidden" name="redirect_path" value={{page.redirect_path}}>
    {{/if}}
  </fieldset>
  <button>Login</button>
</form>
{{/inline}}
{{> (lookup this 'parent')}}

