{{#*inline "page"}}
<p class="center-text"><strong>&lt;&lt;In Samantha's perspective&gt;&gt;</strong></p>

<p>It was a beautiful evening, I was playing with Jane, and she introduced me to her Imaginary friend Tommy for the twentieth time.</p>

<p>Tommy is actually a plush toy that looks like a giraffe her Jeffery gave to her. He is a scientist working for the government, because of the confidential nature of his work, he is unable to come home. I know very little about what he does for the same reason, but he is really loving and caring when it comes to family.</p>

<p>After watching the sunset, we stopped playing and went back into our home.<br>
  I turned on the TV for Jane and went to make a sandwich in the kitchen.
</p>

<p><q>Tommy, NO!</q> I ran to the living room as I heard Jane screaming out of her lungs.</p>

<p>She was laying down on the floor with her plush toy, its head was ripped off, and I couldn't find it anywhere on the floor at first glance.</p>

<p>I picked up Jane. <q>What happened dear? Are you okay?</q> I asked her while I was searching for wounds and scratches on her.</p>

<p><q>T-Tommy ripped my giraffy's head off and ate it.</q> She sobbed.</p>

<p><q>But I thought Tommy was the giraffe, wasn't he?</q> I asked in confusion.</p>

<p><q>NO HE IS NOT! Tommy ate its head and pushed me away when I tried to stop him</q> she started weeping.</p>

<p>I was confused and worried, but I had to try to console her and let her know that it was all an imagination.</p>

<p>I took Jane with me to the kitchen so that she won't be alone.</p>

<p><strong>*CLANG*</strong>, A plate fell down from the kitchen island making a loud noise.</p>

<p>When I turned around, I saw a boy chewing on the head of a giraffe toy. He is thin, has a pale face, dark blue eyes and has white shaggy hair, he was wearing nothing but a worn out shorts.</p>

<p><q>TOMMY, I HATE YOU!</q> Jane started throwing plates at him.</p>

<p>I tried to hold her down, nothing is making any sense, all I know is that Jane's Imaginary friend is not really Imaginary. He is real, and I have to protect Jane.</p>

<p>A cold hand pressed on my shoulder from behind, turning around I couldn't believe my eyes! It was like looking in a mirror. Like a nightmare, she looks just like me!</p>

<p>Jane was holding my hand and her grip became tighter. I looked at the boy, his whole body was changing. Like he is transforming into someone else. He transformed within seconds, and now he looks just like Jane, and he has an evil look on his face, Evil Jane!</p>

{{/inline}}
{{> (lookup this 'parent') }}
