{{#*inline "page"}}
{{#unless page.comments}}
<p>No comments available!</p>
{{/unless}}
<ul class="feed-list">
  {{#each page.comments as |comment|}}
  <li class="note h-{{comment.type}}" id="{{comment.id}}">
    {{#unless comment.is_moderated}}<a href="/admin-page/approve-comment?comment_id={{comment.id}}">Approve</a>{{/unless}}
    <a href="/admin-page/edit-comment?comment_id={{comment.id}}">Edit</a>
    <a href="/admin-page/delete-comment?comment_id={{comment.id}}">Delete</a><br> 
    <a href="{{comment.website}}">{{comment.name}}</a>
    mentioned about <a href="{{comment.post}}">{{comment.post}}</a> on their <a href="{{comment.source}}">post</a>
    {{{comment.comment}}}
  </li>
  {{/each}}
</ul>
{{/inline}}
{{> (lookup this 'parent')}}
