{{#*inline "page"}}
<p class="p-summary">{{{page.desc}}} made on <a href="{{meta.homepage}}/{{page.comment.post}}">{{page.comment.post}}</a>.</p>
<form class="form" action="/admin-page/update-comment" method="post" accept-charset="utf-8" aria-label="Comment form">
  <fieldset>
    <legend>Edit the webmention here. Leaving the comment as blank will delete it.</legend>
    <input type="hidden" name="id" id="id" value="{{page.comment.id}}">
    <input type="hidden" name="sender" id="sender" value="{{page.comment.post}}">
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="{{page.comment.name}}">
    <label for="source">Source</label>
    <input class="input" type="url" id="source" name="source" value="{{page.comment.source}}">
    <label for="mention_type">Mention type</label>
    <input class="input" type="text" id="mention_type" name="mention_type" value="{{page.comment.mention_type}}">
    <label for="website">Website</label>
    <input class="input" type="url" id="website" name="website" value="{{page.comment.website}}">
    <label for="comment">Mention in plain text</label>
    <textarea class="input" id="comment" name="comment" rows="20" maxlength="1500" >{{page.comment.comment}}</textarea>
  </fieldset>
  <button type="submit">Submit</button>
</form>
{{/inline}}
{{> (lookup this 'parent')}}
