{{#*inline "page"}}
<form class="form" method="post" action="/admin-page/update-username" aria-label="Update username">
  <fieldset>
    <legend>Update username</legend>
    <label for="updated">New username</label>
     <input id="updated" class="input" type="text" name="updated" required>
    <label for="retype">Retype new username</label>
     <input id="retype" class="input" type="text" name="retype" required>
    <label for="password">Current password</label>
    <input id="password" class="input" type="password" name="password" required>
  </fieldset>
  <button type="submit">Submit</button>
</form>
{{/inline}}
{{> (lookup this 'parent')}}

