{{#*inline "page"}}
<form class="form" method="post" action="/admin-page/update-password" aria-label="Reset Password">
  <fieldset>
    <legend>Reset password</legend>
    <label for="updated">New password</label>
     <input id="updated" class="input" type="password" name="updated" required>
    <label for="retype">Retype new Password</label>
     <input id="retype" class="input" type="password" name="retype" required>
    <label for="password">Current password</label>
     <input id="password" class="input" type="password" name="password" required>
  </fieldset>
  <button type="submit">Submit</button>
</form>
{{/inline}}
{{> (lookup this 'parent')}}

