{{#*inline "page"}}
<p>I am committed to producing accessible websites for all people. This website adheres to <a href="https://www.w3.org/TR/WCAG22/" rel="external" {{{settings.opener.metadata}}}>Web Content Accessibility Guidelines (WCAG) 2.2</a> AA (and AAA where possible). Testing was done manually and with the automated tools such as <a href="https://www.ibm.com/able/" rel="external" {{{settings.opener.metadata}}}>IBM Equal Access Toolkit</a> and <a href="https://github.com/opena11y/ainspector-for-firefox" rel="external" {{{settings.opener.metadata}}}>AInspector for Firefox</a>.</p>

<p>When the automated tools provide conflicting test results, I validate them against the <a href="https://www.w3.org/WAI/standards-guidelines/" rel="external" {{{settings.opener.metadata}}}>guidelines from W3C</a> and do them manually.</p>

<h2 id="tech-spec">Technical specifications</h2>

<p>I rely on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:</a>

<ul>
  <li><a rel="external" {{{settings.opener.metadata}}} href="https://html.spec.whatwg.org/multipage/">HTML</a></li>
  <li><a rel="external" {{{settings.opener.metadata}}} href="https://www.w3.org/WAI/standards-guidelines/aria/">ARIA</a></li>
  <li><a rel="external" {{{settings.opener.metadata}}} href="https://www.w3.org/Style/CSS/">CSS</a></li>
  <li><a rel="external" {{{settings.opener.metadata}}} href="https://www.w3.org/TR/SVG2/">SVG</a></li>
</ul>

<p>This website is written in <a href="https://developer.mozilla.org/en-US/curriculum/core/semantic-html/" rel="external" {{{settings.opener.metadata}}}>semantic HTML</a> as much as possible and without using JavaScript.</p>
<p>For the best experience, visitors might want to use the latest version of their preferred browser.</p>

<h2 id="known-issues">Known issues</h2>
<ol>
  <li>Due to the use of latest CSS features, themes will not work on browsers not supporting CSS variables, I have set the fallback as light theme.</li>
  <li>As the site preferences are set using cookies, they will not be read when accessing this website using a link from another website for security reasons, refreshing the page will fix it.</li>
  <li>As this is a personal website, I regularly update the user interface, while I try to avoid big changes, it could hinder the muscle memory.</li>
</ol>

<p>Note that even content that conforms at the highest level (AAA) will not be accessible to individuals with all types, degrees, or combinations of disability, particularly in the cognitive, language, and learning areas.</p>

<h2 id="reporting">Reporting</h2>
<p>If you notice an issue or improvement related to this site's accessibility please reach out to me through one of the medium in my <a href="/contact-me">contact me</a> page or the webmention form below.</p>

{{/inline}}
{{> (lookup this 'parent')}}
