{{#*inline "page"}}


<p>My last login to this website was on <strong><time datetime="{{page.last_updated}}"> {{(strip-date page.last_updated)}}</time> (UTC)</strong>.</p>

<p><strong>You do not need to read this page if I have updated a <a href="/blogs">blog</a>, <a href="/projects">project</a>, or a <a href="/stories">story</a> recently.</strong></p>

<p>If I have <strong>not</strong> been active recently, check the following, in order:</p>

<ol>
  <li>
    <details name="checker"><summary>If the last login was done <strong>within the past 3 months</strong></summary>
      <p>If the last login was done <strong>in the past 3 months</strong>, assume that I am just not actively updating this website. I try to login at least once a month.</p>
    </details>
  </li>
  <li>
    <details name="checker">
      <summary>If the last login was done <strong>more than 3 months</strong> ago</summary>
      <p>If the last login was done <strong>more than 3 months</strong> ago, I might have lost the capacity to login or update this website. It could be health related, finance related, or even a legal reason. I suggest you to archive this whole website if it has been more than 3 months since the last login.</p>
      <p>To archive this website as a local copy, you could either clone <a href="https://codeberg.org/codingotaku/website" rel="external" {{{settings.opener.metadata}}}>my repository from codeberg</a>, or run the below command on Terminal to save the HTML files. You will need <code>wget</code> installed.</p>
      {{#code lang='sh'}}wget --recursive --adjust-extension --convert-links --no-clobber {{meta.homepage}}{{/code}}
      <p>You can also archive this website using <a href="https://archive.org/" rel="external" {{{settings.opener.metadata}}}>archive.org</a> if it is not already done after the last login.</p>
    </details>
  </li>
  <li>
    <details name="checker">
      <summary>If the last login was done <strong>more than 6 months</strong> ago</summary>
      <p>If the last login was done <strong>more than 6 months</strong> ago, it would be a problem, it could mean that I need to be checked upon. You can try <a href="/contact-me">contacting me</a> if 6 months passed from the last login date, and you are worried.</p>
    </details>
  </li>
  <li>
    <details name="checker">
      <summary>If the last login was done <strong>more than 12 months</strong> ago</summary>
      <p>Finally, if the last login was done <strong>more than 12 months</strong> ago, there is a high chance that my domain registrar has already tried to contact me for payments. So if the site is still up, it won't be for too long, and assume that the site either got hacked or that I am deceased.</p>
    </details>
  </li>
</ol>

<h2 id="why">Why does this page exist?</h2>
<p>Today (<time datetime="2024-05-18")>2024-05-18</time>) my website was running a bit slow, and from the nginx logs I found that I am getting more traffic from non-bots than I assumed I ever would for the past two weeks!</p>
<p>The spike in visitors means that though I don't usually promote my website, it is popular enough to be considered having an audience. If I stopped updating this website, the visitors might think that I abandoned it -- which is something that I don't intend to do.</p>
<p>This made me thinking, what would happen at my death? I don't have much online presence, and I do not have many people that I interact with in real life either. Which also means that my disappearance from this world would not affect many.</p>
<p>But what about the regular visitors or the ones subscribed to my feed? Well, the fact is that it is unlikely that they would be concerned. But I would like them to stop wasting their time checking for updates. So this page is for that, for you to stop visiting this website and to unsubscribe from my feeds.</p>

<p>So you do not need to be concerned about my wellbeing, I do not have suicidal thoughts, depression, or the midlife crisis <span class="ucode">😊</span>.</p>
{{/inline}}
{{> (lookup this 'parent')}}

