{{#*inline "page"}}
<fieldset>
  <legend>Checklist</legend>
<ul>
  <li><label><input type="checkbox" name="personal-domain" checked disabled><a href="https://indieweb.org/personal-domain" rel="external" {{{settings.opener.metadata}}}>Get a Personal domain</a></label></li>
  <li><label><input type="checkbox" name="web-sign-in-group" checked disabled><a href="https://indieweb.org/Web_sign-in" rel="external" {{{settings.opener.metadata}}}>Setup Web sign-in</a></label>
    <ul>
      <li><label><input type="checkbox" name="rel-me" checked disabled><a href="https://indieweb.org/rel-me" rel="external" {{{settings.opener.metadata}}}>rel-me</a></label></li>
      <li><label><input type="checkbox" name="indieauth" checked disabled><a href="https://indieweb.org/IndieAuth" rel="external" {{{settings.opener.metadata}}}>IndieAuth</a></label></li>
    </ul>
  </li>
  <li><label><input type="checkbox" name="posts-group" checked disabled><a href="https://indieweb.org/posts" rel="external" {{{settings.opener.metadata}}}>Posts</a></label>
    <ul>
      <li><label><input type="checkbox" name="permalinks" checked disabled><a href="https://indieweb.org/permalinks" rel="external" {{{settings.opener.metadata}}}>Permalinks</a></label></li>
      <li><label><input type="checkbox" name="h-entry" checked disabled><a href="https://indieweb.org/h-entry" rel="external" {{{settings.opener.metadata}}}>h-entry</a></label></li>
    </ul>
  </li>
  <li><label><input type="checkbox" name="search-group" checked disabled><a href="https://indieweb.org/search" rel="external" {{{settings.opener.metadata}}}>Search</a></label>
    <ul>
      <li><label><input type="checkbox" name="robots" checked disabled>Allow robots to index (have robot.txt file)</label></li>
      <li><label><input type="checkbox" name="no-js" checked disabled>Post content in HTML (Don't use Javascript to render text)</label></li>
      <li><label><input type="checkbox" name="search-in-site" checked disabled>Site-specific searchability</label></li>
      <li><label><input type="checkbox" name="search-ui" checked disabled>UI for searching posts</label></li>
    </ul>
  </li>
  <li><label><input type="checkbox" name="h-card" checked disabled><a href="https://indieweb.org/h-card" rel="external" {{{settings.opener.metadata}}}>Use h-card</a></label></li>
  <li><label><input type="checkbox" name="posse" disabled><a href="https://indieweb.org/POSSE" rel="external" {{{settings.opener.metadata}}}>POSSE to silos</a></label></li>
  <li><label><input type="checkbox" name="pagination" checked disabled>Can navigate across posts</label></li>
  <li><label><input type="checkbox" name="webmention" disabled><a href="https://indieweb.org/Webmention" rel="external" {{{settings.opener.metadata}}}>Webmention</a></label>
    <ul>
      <li><label><input type="checkbox" name="webmention" checked disabled>Receive Webmention</label></li>
      <li><label><input type="checkbox" name="webmention" disabled>Send Webmention</label></li>
    </ul>
  </li>
  <li><label><input type="checkbox" name="comments" checked disabled><a href="https://indieweb.org/comments" rel="external" {{{settings.opener.metadata}}}>Comments</a></label></li>
</ul>
</fieldset>
{{/inline}}
{{> (lookup this 'parent')}}

