{{#*inline "page"}}

<p>You are receiving a request to authenticate to <a href="{{page.client_id}}">{{page.client_id}}</a></p>
<p>After authentication, this page will be redirected to <code>{{page.redirect_uri}}</code></p>
<p>If this request looks suspicious, please manually verify them, or avoid authenticating the request.</p>

<h2>Request details</h2>
<dl>
  <dt><strong>Client ID</strong></dt>
  <dd>{{page.client_id}}</dd>
  <dt><strong>Redirect URI</strong></dt>
  <dd>{{page.redirect_uri}}</dd>
  <dt><strong>Response type</strong></dt>
  <dd>{{page.response_type}}</dd>
</dl>

{{#if settings.is_logged_in}}
<form class="form" action="/authentication" method="post" accept-charset="utf-8" aria-label="Authentication">
  <input type="hidden" name="redirect_uri" value={{page.redirect_uri}}>
  <input type="hidden" name="response_type" value={{page.response_type}}>
  <input type="hidden" name="state" value={{page.state}}>
  <input type="hidden" name="client_id" value={{page.client_id}}>
  <input type="hidden" name="me" value={{page.me}}>
  <button type="submit" class="submit-button">Authenticate</button>
</form>
{{else}}
<p><a href="/login-to-site?redirect_path={{page.escaped_uri}}">Login to Authenticate this request</a>, close this tab if you don&apos;t want to authenticate.</p>
{{/if}}
{{/inline}}
{{> (lookup this 'parent')}}

