{{#*inline "page"}}
<p>I have a few undisclosed and very strict criteria before adding people to this page. If you like to be included, send me a webmention to this page.</p>

<p>It is possible to subscribe to the RSS/Atom feeds of these people by pointing your Feed reader to this page, if you don't understand what a feed is, I have a <a href="/feeds">dedicated page about feeds</a> to learn more.</p>
<ul class="feed-list">
  <li class="li-entry">
    <h2 id="alm">
      <a class="entry-title" rel="muse external" {{{settings.opener.metadata}}} href="https://www.alm.website/me">Athena Lilith Martin</a>
    </h2>
    <p>Athena's posts are sometimes chaotic, and sometimes thought-provoking.</p>
    <p>You can also subscribe to her <a rel="alternate" type="application/atom+xml" href="https://www.alm.website/blog.atom">Atom feed</a>.</p>
  </li>
  <li class="li-entry">
    <h2 id="darek"><a class="entry-title" rel="muse external" {{{settings.opener.metadata}}} href="https://darekkay.com/">Darek Kay</a></h2>
    <p>I visit Darek's digital garden for web and accessibility related topics.</p>
    <p>You can also subscribe to Darek's <a rel="alternate" lang="fr" type="application/atom+xml" href="https://darekkay.com/atom.xml">Atom feed</a>.</p>
  </li>
  <li class="li-entry">
    <h2 id="exeami"><a class="entry-title" rel="friend external" {{{settings.opener.metadata}}} href="https://exeami.com/">Exeami</a></h2>
    <p>If you have read through my <a href="/uses">uses page</a>, you would&apos;ve figured out that I know Exeami in real life.</p>
    <p>Exeami has atom feeds for both <a rel="alternate" type="application/atom+xml" href="https://exeami.com/blogs/atom.xml">blogs</a> and <a rel="alternate" type="application/atom+xml" href="https://exeami.com/posts/atom.xml">posts</a>.</p>
  </li>
  <li class="li-entry">
    <h2 id="haelwenn">
      <a class="entry-title" rel="muse external" {{{settings.opener.metadata}}} href="https://hacktivis.me/home"><ruby lang="br"><rb>Haelwenn</rb><rp>[</rp><rt>ɛlwən</rt><rp>]</rp></ruby></a>
    </h2>
    <p>
      Haelwenn work on interesting projects, and most of Haelwenn's articles' resonance with my views. 
    </p>
    <p>Haelwenn has two atom feeds, one <a rel="alternate" type="application/atom+xml" href="https://hacktivis.me/feed.atom">in English</a>, and another
      <a rel="alternate" type="application/atom+xml" href="https://hacktivis.me/flux.atom">in French</a>.</p>
  </li>
  <li class="li-entry">
    <h2 id="ru">
      <a class="entry-title" rel="muse external" {{{settings.opener.metadata}}} href="https://rusingh.com/">Ru</a>
    </h2>
    <p>Some time ago, my website theme was influenced by her old website. I also learned about Indieweb through her!<br>
        Ru blogs about a lot of things, I mostly read about user experience and interfaces.
    </p>
    <p>
      She provides multiple RSS feeds, one for <a rel="alternate" type="application/rss+xm" href="https://rusingh.com/feed/">all types of posts</a>, one for <a rel="alternate" type="application/rss+xml" href="https://rusingh.com/category/post/article/feed/">all articles</a>, and one for <a rel="alternate" type="application/rss+xml" href="https://rusingh.com/category/post/response/feed/">all responses</a>.
    </p>
  </li>
</ul>
{{/inline}}
{{> (lookup this 'parent')}}

