<!DOCTYPE html>
<html data-theme="{{settings.theme.value}}" data-size="{{settings.size.value}}" data-width="{{settings.width.value}}" lang="en">
{{> partials/head}}
<body>
  {{> partials/header}}
  <main id="content">
    {{~> content}}
  </main>

  {{#if recents}}
    {{> recent-template cat=cat cat_title=cat_title items=recents}}
  {{/if}}
  {{> partials/footer}}
</body>
</html>
