{{#*inline "page"}}
<p><strong>Note:</strong> Please stick to sending emails if your preferred way of communication includes using/installing proprietary software.</p>

<p>I have been told before that this page contains too much information, if you find this page dificult to navigate, please let me know via email on how I can improve it.</p>

<p>Refer to the <a href="/am-I-alive">am I alive</a> page if you are contacting regarding the lack of updates for this website.</p>

<h2 id="mail">Email <span class="ucode" aria-hidden="true">📬 </span></h2>
<ul class="feed-list">
  <li class="li-entry">
    <h3>email: <a href="mailto:contact@codingotaku.com">contact@codingotaku.com</a></h3>
    <p>If you received any another mail address with the same codingotaku.com domain from one of your contacts, please use that one to send the mail.<br>
      If you want an official talk (work, hiring), please do send the mail from your (or company's) domain to not lose credibility.
    </p>
  </li>
</ul>

<h2 id="instant-messaging">Instant Messaging <span class="ucode" aria-hidden="true">🗨️ </span></h2>
<p><abbr>IM</abbr> (Instant Messaging) must only be chosen when the communication is unofficial, all official communications must be done through email for better record keeping for all of us.<br>
  Keep in mind that I don't respond to strangers through <abbr title="Instant Messaging">IM</abbr>, so email me first. Also, have a look at <a rel="external" {{{settings.opener.metadata}}} href="https://nohello.net/">nohello.net</a>.
</p>
<ul class="feed-list">
  <li class="li-entry">
    <h3>XMPP: <a rel="me" href="xmpp:codingotaku@member.fsf.org">codingotaku@member.fsf.org</a></h3>
    <p>You will need an account on a server that is compatible with <a rel="external" {{{settings.opener.metadata}}} href="https://xmpp.org/">XMPP Protocol</a>.<br>
        Just like an email, XMPP is a decentralized way of doing communication, and it has support for end-to-end encryption. I am using the FSF maintained server for now, but I may self/cloud-host it later. So keep a watch on this page if you are saving me as a contact.
    </p>
  </li>
  <li class="li-entry">
    <h3>Matrix: <a rel="me" href="matrix:u/codingotaku:matrix.org">@codingotaku:matrix.org</a></h3>
    <p>
      Just like an email, Matrix is a decentralized way to contact me, and it also has support for end-to-end encryption. 
    </p>
    <p>To use Matrix, you will need an account on a server that is compatible with  the <a rel="external" {{{settings.opener.metadata}}} href="https://matrix.org/">matrix Protocol</a>.</p>
  </li>
  <li class="li-entry">
    <h3>Signal: @codingotaku.01</h3>
    <p>Unfortunately this one is not decentralized, meaning we cannot switch apps or the server if we want to. So I generally don't prefer signal.</p>
    <p>If you prefer this mode of communication, please let me know via an email so that I can add you as a contact, I do not respond to people not in my contact list.</p>
    <p>I have written a blog post on <a href="/blogs/switching-to-signal-is-not-enough/">why Switching to Signal is Not Enough</a>.</p>
  </li>
</ul>
<h2 id="video-call">Video Call <span class="ucode" aria-hidden="true">📹 </span></h2>
<p>Usually there is no reason to have a video call, but if that is what you need for some reason, please send me an email first.<br>
  I avoid most propriatory video call services, and if it is absolutly necessary (like job interviews where a platform is set in stone), I will use a sandboxed environment so the quality will be low.</p>
<ul class="feed-list">
  <li class="li-entry">
    <h3>Jitsi Meet:</h3>
    <p>One do not require an account for this (depends on where it is hosted), any server that hosts a Jitsi server will be sufficient, just share me the link via an email.<br>
    If you don't have one hosted, I can share you a link to my instance to join as a guest (again, send me an email). No qualty guaranteed as this is running on a slow <abbr title="Virtual Private Server">VPS</abbr> in Germany.
    </p>
  </li>
  <li class="li-entry">
    <h3>BigBlueButton:</h3>
    <p> <abbr>BBB</abbr> (Big Blue Button) is a conferencing service, if you want to invite me to a video conference, I preffer <abbr title="Big Blue Button">BBB</abbr>. I do not host one (yet). If you have a server and would like to get rid of privacy invading conference services, please use <abbr title="Big Blue Button">BBB</abbr>.
      <a rel="external" {{{settings.opener.metadata}}} href="https://docs.bigbluebutton.org/install">Installation instructions</a>
    </p>
  </li>
  <li class="li-entry">
    <h3>Jami : <span class="wrap-word">674286597de4e38c2a72d23dfb3a5783966794a3</span></h3>
    <p>Yeah, that weird combination of letters and numbers is the ID, you most definitely want to copy it instead of typing it in.</p>
    <p>  
      Though I really like the Idea, Jami is unreliable most of the time for me. Since the program is peer-to-peer, both parties are required to be online to start a conversation, plase let me know via an email if you want to use this. I try to be always online on Jami.</p>
  </li>
</ul>
<h2 id="audio-call">Audio Call <span class="ucode" aria-hidden="true">🎧 </span></h2>
<p>I dislike audio calls, many who does this give no warning at all prior to calling, please avoid this if you can.</p>

<ul class="feed-list">
  <li class="li-entry">
    <h3>Mumble</h3>
    <p><a rel="external" {{{settings.opener.metadata}}} href="https://www.mumble.info/">Mumble</a> is a <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/philosophy/free-sw.html">free software</a> just like all other programs I use, treat it as an alternative to Discord. I have not used this in a while, so let me know via email if you want to talk using mumble.
    </p>
  </li>
  <li class="li-entry">
    <h3>Phone call</h3>
    <p>I do not trust most people with my number as they might have installed programs that pulls, stores, and use numbers without the permission of all the unfortunate people in the contact list (e.g.: WhatsApp, true caller, Gmail, LinkedIn, etc.).
    </p>
    <p>
      I have fewer issues to share my number with the employer if the job is guaranteed. But please use it only for record keeping and for emergencies.<br>
      If for some reason I shared my number with you, do notify me before you call, I do not save numbers unnecessarily and usually avoid calls from unknown numbers for my sanity.
    </p>
  </li>
</ul>

<h2 id="social">Social Media <span class="ucode" aria-hidden="true">🎴 </span></h2>
<p>This is the last one in the list because I generally do not take part in one. But if you would like to <q>follow</q> me, follow my <a href="/feeds">Atom/RSS/JSON feeds</a> instead, continue reading if you are not satisfied with it.</p>

<ul class="feed-list">
  <li class="li-entry">
    <h3>Mastodon: <a rel="me external" {{{settings.opener.metadata}}}  href="https://fosstodon.org/@CodingOtaku">@codingotaku@fosstodon.org</a></h3>
    <p>I am one of those people who joined Mastodon before it became famous, I have never had an X (the ex Twitter) account. The mastodon community was small and had wonderful people. Now it is like any other social media, so I don't use it as much as I used to.
    </p>
    <p>If you would like to follow me on mastodon, please read <a rel="external" {{{settings.opener.metadata}}} href="https://fosstodon.org/@CodingOtaku/112724447813707013">my pinned post</a> first, and also know that social media is not meant to be used for private communication</p>
  </li>
  <li class="li-entry">
    <h3>LinkedIn: <a rel="me external" {{{settings.opener.metadata}}} href="https://www.linkedin.com/in/rahul-sivananda">rahul-sivananda</a> (read before following please.)</h3>
    <p>Yes, LinkedIn is a social media, I once deleted my account long ago, and I was kind-of forced to create a new one as the resume-filtering bots don't like it if I don't add one.</p>
    <p>If you already follow me on LinkedIn, that is fine, but I don't really care about that account, and I will probably delete it in a few months.</p>
    <p>I will never be positing anything in the LinkedIn social media, so while you can send me a connection request, do not follow me, as I will not follow you either.</p>
  </li>
  <li class="li-entry">
    <h3>Stack Overflow/Stack Exchange: <a rel="me external" {{{settings.opener.metadata}}} href="https://stackexchange.com/users/4391848/coding-otaku?tab=accounts">coding-otaku</a></h3>
    <p>Don't ask me why I have this one, I just do, and I will probably delete this one too.</p>
    <p>Stack Exchange is a community, so it is correct to call it a social media, and just like LinkedIn, I don't care about this one either, so don't follow me there.</p>
  </li>
</ul>

<section>
  <h2 id="why-go-through-this-hassle">Why Go Through This hassle?  <span class="ucode" aria-hidden="true">😫</span></h2>
  <p>
    This is a way of taking back the freedom not just for me, but also for anyone who will interact with me in the future.<br>
    I also found that not using <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/philosophy/free-software-intro.html">free-software</a> is inconvenient and frustrating.
  </p>
  <ol>
    <li>You have to trust a service/company to keep their promise without any guarantee. (read recent antitrust lawsuits)</li>
    <li>You do not know what is running in your system.</li>
    <li>Need to switch between platforms when once they do something bad (remember WhatsApp/Facebook/Zoom, etc.)</li>
    <li>Does not rely on an established protocol, this makes it difficult to convince others to switch with you.</li>
    <li>Does not play well with <a href="/blogs/why-do-i-say-gnu-linux/">GNU/Linux</a> systems.</li>
    <li>Need to keep reading the Privacy Policy since they can change at any time.</li>
    <li>Difficult to delete an account, even with GDPR/CCPA, there is no guarantee that the data will be deleted.</li>
  </ol>
  <p>
    WhatsApp, Zoom, Microsoft Teams, Skype, Discord and other proprietary programs are inconvenient for me as I have to create and account for to use it, and raise a deletion request to remove my personal data when I don't want to continue it, then wait and hope that the account and personal information will be deleted.
  </p>
  <p>
   And most of these proprietary programs invades user privacy. Going to privacy settings, reading them, and unchecking hundreds of checkboxes are I used to do when I used those services.
   <strong>Why do I have to go through those hassles?</strong> I couldn't find a reason, so I sent deletion requests to all those services and never looked back.
  </p>
</section>
<section>
  <h2 id="this-is-extreme">This Is Extreme! <span class="ucode" aria-hidden="true">⚠️ </span></h2>
  <p>
   All this privacy and security talks are for the systems I use personally.<br>
   For a job, if an organization wants me to use any proprietary service, the organization must provide an account and a machine for me to run that piece of software (this is what's being done in my current job). By this way, all my work can be separated from my private life.
  </p>
  <p>
   If the organization is willingly giving away their freedom, I can't do much about it other than to promote <a href="/blogs/migrating-to-floss/">free alternatives</a> when possible and promoting them to my colleagues.
  </p>
  <p>
   So if you are trying to recruit me, please do not suggest me to install a proprietary program to contact me or send a link to privacy disrespecting services for coding challenges. I will most probably refuse.
  </p>
  <p> Also, you might be interested in reading some of my <a href="/blogs/tags/Ethics">blogs on ethics</a>.</p>
</section>
{{/inline}}
{{> (lookup this 'parent')}}

