{{#*inline "content"}}
<article class="container h-entry">
  <header>    
    <h1 id="title">{{page.title}}</h1>
  </header>
  <section class="blog-box e-content">
    <p class="center-text">
      <strong>The server denies the existence of this page.</strong><br>
      The page might have moved, removed, or it might have never existed!<br>
      <strong>Please note that persistent bad requests will result in a temporary ban of your IP address!</strong>
    </p>
  </section>
</article>
{{/inline}}
{{> boilerplate}}
