{{#*inline "page"}}
<h2 id="what-is-it">What is a feed?</h2>
<p>A <strong>feed</strong> is a data format used for providing frequently updated content, it is also known as a <q>web feed</q>.</p>
<p>Many use the term <q><strong>RSS</strong> feed</q> to refer to web feeds, this is because RSS is a popular format. There are many other formats on the web, other popular types are <strong>Atom</strong> and <strong>JSON</strong> feeds.</p>

<p>To read a web feed, you will need a program that can understand the feed format, checks for updates, and update it regularly, we call it a newsreader program. Some (including me) like to refer to it as a feed reader program.</p>

<p>
  Since the web feed is so common and has been here for a long time, you can find good feed readers regardless of which operating system you use.
</p>

<h2 id="how-to-add-feeds">How to add feeds to the reader?</h2>

<p>The feeds are discovered by the reader by looking for a few special links on the website.</p>
<p>A good feed reader would detect all feeds from the website's home page link and provide you the list of feeds you can subscribe to. Some might even ask you to enter the complete feed URL instead.</p>

<h3 id="my-feeds">Where to find feeds for this website?</h3>
<p>
  I provide Atom and JSON feeds for <a href="/blogs">blogs</a> and <a href="/projects">projects</a> pages.
  The <a href="/stories">Stories</a> feed might feel a bit special, it is usually not what you want to subscribe to. To get the latest chapters for a story, you will need to subscribe to that individual story.
</p>

<p>
   I also have dedicated pages for all the tags (<a href="/blogs/tags">blog tags</a>, <a href="/stories/tags">story tags</a>, and <a href="/projects/tags">project tags</a>).
</p>

<p>To subscribe to any of these feeds, just click on the type of feed you want, and either point your feed reader there or copy the feed link from that page and add it to your reader.</p>

<p>If you would like to subscribe to all of my main feeds, you can import <a href="/codingotaku-feeds.opml" download="codingotaku-feeds.opml">this OPML file</a> to your feed reader.</p>

<h2 id="what-do-I-use">What feed readers do I use?</h2>
<p>On my Android phone, I use <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/spacecowboy/Feeder">Feeder</a>, which is lightweight and easy to use.</p>

<p>On my GNU/Linux system, I use <a rel="external" {{{settings.opener.metadata}}} href="https://newsboat.org/">Newsboat</a>. It is possible to connect it to a newsreader services like <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/nextcloud/news/">Nextcloud News</a>.</p>

<p>But don't use just the ones I mentioned here, go out and search the web, there are many nice-looking feed readers out there!</p>
{{/inline}}
{{> (lookup this 'parent')}}

