{{#*inline "page"}}
{{> partials/card}}
<h2 id="about-this-website">About this website</h2>
<p>This is my personal website containing my <a href="/blogs">blogs</a>, <a href="/projects">projects</a>, <a href="/stories">stories</a>, other things I do, and <a href="/contact-me">ways to contact me</a>. It <a href="/am-i-indieweb-yet">partially supports</a> the <a href="https://indieweb.org/" rel="external" {{{settings.opener.metadata}}}>IndieWeb</a> while keeping accessibility, minimalism, and your privacy in mind.</p>

<p>To know more about how I develop this website and to build it for yourself, checkout the <a href="/projects/website">project page</a>.</p>

<h3 id="accessibility">Accessibility</h3>
<p>If you are having difficulties navigating this website or accessing its content, please <a href="/contact-me">contact me</a> with details so that I can fix it for everyone.</p>

<p>You should be able to customise this website to your liking by using the site preferences form after clicking the <a href="#toggle-settings">toggle preferences option</a> at the top of every page.</p>

<p>You can read my <a href="/accessibility-statement">accessibility statement</a> to know more about how I ensure the accessibility, the technical specification, and the known issues.</p>

<h3 id="why">What made me create this website.</h3>
<p>
  The Internet used to be a lovely place where people could share their views and ideas in the public domain. But it has now become a <a href="https://danluu.com/slow-device/" rel="external" {{{settings.opener.metadata}}}>slow and bloated mess</a> made by developers who are following the latest buzzwords for <a rel="external" {{{settings.opener.metadata}}} href="https://www.wearedevelopers.com/magazine/resume-driven-development">resume-driven development</a>.
</p>

<p>I also believe that it is acceptable to use buzzword technologies as long as the people using/visiting the project/site are not burdened. It is too easy to create bloated and heavy software and too difficult to make slim and light ones.</p>

<p>I am hoping to inspire new and young developers to take the right path by making this website, showing that you can still make a functioning,
  beautiful, ethical, and light-weight website without making it <a rel="external" {{{settings.opener.metadata}}} href="https://mobiforge.com/research-analysis/the-web-is-doom">the size of doom</a>.
</p>

<h3 id="behind-the-name">Behind the name</h3>

<p>I like watching Anime just as much as I love tinkering with software.
  So, I wanted to choose a name that&apos;s related to both programming and Anime.
</p>

<p>I had a few candidates for a good name, but none of them rolled out of the tongue like <strong>Coding Otaku</strong>. To my surprise, no one bought <q>codingotaku.com</q> as a domain name, and I could not find anyone on social media going by that name.
</p>

<p>While what I do is <strong>programming and not coding</strong>, the name stuck with me long enough that I&apos;m not bothered by it any more.</p>

<p>
  <a rel="external" {{{settings.opener.metadata}}} href="https://en.wikipedia.org/wiki/Otaku">Otaku</a>
   is a Japanese term for people with consuming interests, In modern
   Japanese slang, the term Otaku is mostly equivalent to <q>geek</q> or
  <q>nerd</q>. But it is now widely used as a term to refer to people who are
  obsessed with Anime and Japanese culture (though that&apos;s not the proper way to use it).
</p>

<h2 id="elsewhere">Elsewhere</h2>
<p>You might be able to find me on the wild, the clubs and webrings below are websites I willingly added myself to after careful evaluation. To find other places I have account on, visit my <a href="/contact-me">contact page</a>.</p>

<h3 id="clubs">Clubs</h3>
<p>This website is part of the following clubs. If you would like me to be part of one of your clubs, please let me know <a href="/contact-me#email">via email</a>.</p>
<details>
  <summary>Toggle club list</summary>
  <ol>
    <li><a rel="external" href="https://250kb.club/" {{{settings.opener.metadata}}}>250 KB club home page</a></li>
    <li><a rel="external" href="https://512kb.club" {{{settings.opener.metadata}}}>512 KB club home page</a></li>
    <li><a rel="external" href="https://darktheme.club/" {{{settings.opener.metadata}}}>Darktheme club home page</a></li>
    <li><a rel="external" href="https://no-js.club/" {{{settings.opener.metadata}}}>no-JS club home page</a></li>
  </ol>
</details>

<h3 id="webrings">Webrings</h3>
<p>Just like clubs, this website is also part of a few <a href="https://en.wikipedia.org/wiki/Webring" rel="external" {{{settings.opener.metadata}}}>webrings</a>. If you would like me to be part of one of your webrings, please let me know <a href="/contact-me#email">via email</a>.</p>
<details>
  <summary>Toggle webring list</summary>
  <ol>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://a11y-webring.club/">a11y-webring webring home page</a>
      <ol>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous a11y-webring website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next a11y-webring website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random a11y-webring website</a></li>
      </ol>
    </li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://webring.bucketfish.me">Bucket webring home page</a>
      <ol>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://webring.bucketfish.me/redirect.html?to=prev&name=Coding%20Otaku">Previous Bucket website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://webring.bucketfish.me/redirect.html?to=next&name=Coding%20Otaku">Next Bucket website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://webring.bucketfish.me/redirect.html?to=random&name=Coding%20Otaku">Random Bucket website</a></li>
      </ol>
    </li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://fediring.net/">Fediring webring home page</a>
      <ol>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://fediring.net/previous?host=codingotaku.com">Previous fediring website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://fediring.net/next?host=codingotaku.com">Next fediring website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://fediring.net/random">Random fediring website</a></li>
      </ol>
    </li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://xn--sr8hvo.ws">IndieWeb Webring home page</a>
      <ol>
        <li><a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/previous" {{{settings.opener.metadata}}}>Previous IndieWeb website</a></li>
        <li><a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/next" {{{settings.opener.metadata}}}>Next IndieWeb website</a></li>
        <li><a rel="external" referrerpolicy="strict-origin" href="https://xn--sr8hvo.ws/random" {{{settings.opener.metadata}}}>Random IndieWeb website</a></li>
      </ol>
    </li>
    <li><a rel="external" {{{settings.opener.metadata}}} href="https://baccyflap.com/noai">no ai webring home page</a>
      <ol>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://baccyflap.com/noai/?prv&s=cot">Previous no ai website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://baccyflap.com/noai/?nxt&s=cot">Next no ai website</a></li>
        <li><a {{{settings.opener.metadata}}} rel="external" referrerpolicy="strict-origin" href="https://baccyflap.com/noai/?rnd">Random no ai website</a></li>
      </ol>
    </li>
  </ol>
</details>
{{/inline}}
{{> (lookup this 'parent')}}
