{{#*inline "content"}}
<article class="h-feed">
  {{{(breadcrumbs)}}}
  <header>
    <h1 class="p-name" id="title"><a class="u-url" aria-current="page" href="{{page.url}}">{{{page.title}}}</a></h1>
    {{#if (eq ../cat "projects")}}
      <p class="p-summary">These are just some of my {{cat}}, to see more, checkout my <a rel="external" href="https://codeberg.org/codingotaku/" {{{settings.opener.metadata}}}>codeberg repository</a>.</p>
    {{else}}
      <p class="p-summary">{{{page.desc}}}</p>
      {{/if}}

    {{#unless (eq ../cat "all")}}
      {{#if page.tag}}
        <p>To find all pages in this website with the tag <q>{{page.tag}}</q>, go to <a href="/all/tags/{{page.tag}}">all {{page.tag}}</a>.</p>
      {{/if}}
      <p>You can subscribe to this page via <a href="{{feeds.[0].url}}" rel="alternate">Atom</a> or <a href="{{feeds.[1].url}}" rel="alternate">JSON</a> feeds (both with full text).</p>
   {{/unless}}
   <hr>
  </header>
  <ul class="feed-list">
  {{#each items as |value|}}
   {{> partials/list-item-template cat=../cat value=value level=2}}
  {{/each}}
  </ul>
  <section aria-label="All tags" class="list tile">
    <h2 id="choose-a-tag">Choose a <a href="/{{cat}}/tags">Tag</a></h2>
    <span class="center-text tags">
      {{#each page.tags as |tag|}}
        <a class="p-category" href="/{{../cat}}/tags/{{tag}}" rel="tag">#{{tag}}</a>
      {{/each}}
    </span>
  </section>
  {{> partials/page-footer}}
</article>
{{/inline}}
{{> (lookup this 'parent')}}
