{{#*inline "content"}}
<article class="h-entry">
  {{{(breadcrumbs)}}}
  {{> partials/page-header}}
  {{{(print-toc)}}}
  <section class="blog-box e-content">
    {{~> page}}
  </section>
  {{> partials/page-footer}}
</article>
{{> partials/page-nav-template cat=cat cat_title=cat_title nav=nav}}
{{/inline}}
{{> boilerplate}}

