{{#*inline "page"}}
<h2 id="cookies">Cookies</h2>
<p>This website uses cookies to store the website preferences if you update it.</p
<p>Ideally this can be saved in local storage using JavaScript, but this website do not use JavaScript, and the HTML specifications do not provide other ways to preserve this information in the browser.</p>

<p>No cookies will stored in any other scenario, and no cross-site or tracking cookies are used by this website.</p>

<p>To clear the cookies, click on <q><a href="#toggle-settings">Toggle Preferences</a></q> from the top of the page, select the <q><a href="#clear-cookies">Clear cookies</a></q> checkbox and click on the <q>submit</q> button. You may also do this via your browser by clearing the cookies for the domain <code>codingotaku.com</code>.</p>

<p><strong>Note:</strong> Clearing cookies will reset the site preferences to default.</p>

<h2 id="ip-logging">IP Logging</h2>
<p>
  This website is served via nginx, and the access logging <em>is</em> enabled. The <code>fail2ban</code> tool uses these logs to block bad request and to do rate limiting for bad bots.</p>

<p>I clear these logs once every two weeks and is not inspected for any other purposes other than to block bad actors.</p>
{{/inline}}
{{> (lookup this 'parent')}}

