<section aria-label="Recent {{cat_title}}" class="h-feed centre">
  <h2 class="p-name" id="recent-{{cat}}">Recent <a class="u-url" href="/{{cat}}">{{{cat_title}}}</a></h2>
  <p class="center-text">Subscribe via <a href="/{{cat}}/atom.xml" rel="alternate">Atom</a> or <a href="/{{cat}}/feed.json" rel="alternate">JSON</a> feeds.</p>
  <ul class="feed-list">
    {{#each items as |item|}}
      {{> partials/list-item-template cat=../cat value=item level=3}}
    {{/each}}
  </ul>
</section>
