{{#*inline 'content'}}
<article class="h-feed">
  <header>
    <h1 id="title">{{page.title}}</h1>
  </header>
  <ul class="feed-list">
  {{#each items as |item|}}
  <li class="li-entry">
    <article class="h-entry">
      <header>
        <h2><a href="{{item.url}}">{{{item.title}}}</a></h2>
      </header>
      <p class="p-summary">{{{item.summary}}}<br>{{{item.content}}}</p>
      {{#if item.tags}}
      <footer>
        <p class="tags">
          {{#each item.tags as |tag|}}
          <span class="p-category">#{{{tag}}}</span>
          {{/each}}
        </p>
      </footer>
      {{/if}}
    </article>
  </li>
  {{/each}}
  </ul>
</article>
{{/inline}}
{{> boilerplate}}
