{{#*inline "content"}}
<article class="h-feed">
  <header>
    <h1 id="title" class="p-name"><a class="u-url" aria-current="page" href="{{page.url}}">{{page.title}}</a>{{#if page.status}} - {{page.status}}{{/if}}</h1>
    {{#if page.banner}}
    <figure class="figure">
      <img class="banner u-url" src="/images{{page.url}}/{{page.banner.file}}" alt="">
      <figcaption class="image-caption">
        Cover Image {{#if page.banner.credit}}by <a href="{{page.banner.credit.link}}" rel="external" {{{settings.opener.metadata}}}>{{page.banner.credit.author}}</a>{{/if}}
      </figcaption>
    </figure>
    {{/if}}
    <p class="center-text p-summary" id="subtitle">
      {{page.desc}}
    </p>
    <p class="center-text">
    <span class="tags">
      {{#each page.tags as |tag|}}
        <a class="p-category tag" href="/{{../cat}}/tags/{{tag}}">#{{tag}}</a>
      {{/each}}
    </span>
    </p>
    <p class="center-text">You can subscribe to this story via <a href="{{feeds.[0].url}}" rel="alternate">Atom</a> or <a href="{{feeds.[1].url}}" rel="alternate">JSON</a> feeds.</p>
  </header>
  <ul>
    <li><a href="{{oldest.url}}" rel="start chapter">Read First chapter</a></li>
    <li><a href="{{items.[0].url}}" rel="chapter">Read Latest chapter</a></li>
  </ul>
  <section>
    <h2 id="chapters">Chapters</h2>
    <ul class="feed-list">
    {{#each items as |value|}}
     {{> partials/list-item-template cat=../sub_cat value=value level=3}}
    {{/each}}
    </ul>
  </section>
  {{> partials/page-footer}}
</article>
{{/inline}}
{{> boilerplate}}

