{{#*inline "content"}}
<article class="h-feed">
  <header>
    <h1 class="p-name site-title" id="all-tags-on-{{cat}}">All tags on {{cat_title}}</h1>
  </header>
  <section class="center-text tags">
  {{#each page.tags as |tag|}}
   <span><a class="p-category" href="/{{../cat}}/tags/{{tag.0}}" rel="tag">#{{tag.0}}</a>({{tag.1}})</span>
   {{/each}}
  </section>
</article>
{{/inline}}
{{> (lookup this 'parent')}}

