{{#*inline "page"}}
<h2 id="workstation">Workstation <span class="ucode" aria-hidden="true">🖥️ </span></h2>
<ul class="feed-list">
  <li class="li-entry">
    <h3 id="w-hw">Hardware <span class="ucode" aria-hidden="true"> 🛠️ </span></h3>
    <p>I use a <strong>ThinkPad E15 Gen 3</strong> with the following spec:</p>
    <ol>
      <li>AMD Ryzen 7 5700U Processor</li>
      <li>AMD Radeon RX Vega 8 Graphics</li>
      <li>500GB NVMe storage by TOSHIBA</li>
      <li>24 GB DDR4 SODIMM RAM with 3200 MT/s speed
        <ol>
          <li>8GB soldered memory by <em>Micron Technology</em></li>
          <li>16GB extended memory by <em>Samsung</em></li>
        </ol>
      </li>
    </ol>
  </li>
  <li class="li-entry">
    <h3 id="w-os">Operating system <span class="ucode" aria-hidden="true">💿 </span></h3>
    <p>
      After doing a lot of distro hopping, I settled with <a rel="external" {{{settings.opener.metadata}}} href="https://www.gentoo.org/">Gentoo</a>.
      I save the
      <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/codingotaku/Dotfiles">Dotfiles in git</a>, feel free to copy it.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="w-de">Desktop environment <span class="ucode" aria-hidden="true">🖥️ </span></h3>
    <p>
      <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/swaywm/sway">SwayWM</a> -
      A tiling window manager and Wayland compositor. I don't use desktop environments anymore, sway is launched directly from TTY.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="w-br">Browser <span class="ucode" aria-hidden="true">🌐 </span></h3>
    <p>
      <a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/librewolf">Librewolf</a> -
      In a nutshell, this is a hardened Firefox, I use multiple profiles and use a less hardened profile for the websites that breaks (like banks).
    </p>
  </li>
  <li class="li-entry">
    <h3 id="w-em">Email <span class="ucode" aria-hidden="true">📧 </span></h3>
    <p>
      I use <a rel="external" {{{settings.opener.metadata}}} href="https://proton.me/">Proton Mail</a> for this domain (though I prefer a self-hosted one ).
        <a rel="external" {{{settings.opener.metadata}}} href="https://www.thunderbird.net">Thunderbird</a> is the mail client I use with Proton Mail.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="w-ed">Code/Text editor <span class="ucode" aria-hidden="true">🗒️ </span></h3>
    <p>
      <a rel="external" {{{settings.opener.metadata}}} href="https://www.gnu.org/software/emacs/">GNU Emacs</a> is my preferred text editor. Though I am tempted to, I don't live in it at the moment.
    </p>
    <p>
      For work, I sometimes use <a href="https://vscodium.com/" rel="external" {{{settings.opener.metadata}}}>VSCodium</a>, but only for pair programming with colleagues who don't use Emacs.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="w-ie">Image editors <span class="ucode" aria-hidden="true">🖼️ </span></h3>
    <p>
      I don't edit images much, but when I do, I use either
      <a rel="external" {{{settings.opener.metadata}}} href="https://www.gimp.org">GIMP</a> or <a rel="external" {{{settings.opener.metadata}}} href="https://inkscape.org/">Inkscape</a>.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="w-te">Terminal emulator <span class="ucode" aria-hidden="true">⌨️ </span></h3>
    <p><a rel="external" {{{settings.opener.metadata}}} href="https://codeberg.org/dnkl/foot">Foot</a>, because this one does not stink much.</p>
  </li>
  <li class="li-entry">
    <h3 id="w-api">API testing <span class="ucode" aria-hidden="true">🔗 </span></h3>
    <p>
      I use  <a rel="external" {{{settings.opener.metadata}}} href="https://curl.se/">cURL</a> mostly, but <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/frigus02/RESTer">RESTer</a> is helpful when I'm lazy.
    </p>
  </li>
</ul>
<h2 id="mobile">Mobile <span class="ucode" aria-hidden="true">📱 </span></h2>
<ul class="feed-list">
  <li class="li-entry">
    <h3 id="m-hw">Hardware <span class="ucode" aria-hidden="true">🛠️ </span></h3>
    <p>I use a <strong>Pixel 7a</strong> as daily driver, all software I mentioned below runs in it.</p>
  </li>
  <li class="li-entry">
    <h3 id="m-os">Operating system <span class="ucode" aria-hidden="true">📲 </span></h3>
    <p><a rel="external" {{{settings.opener.metadata}}} href="https://grapheneos.org/">GrapheneOS</a> - This is based on the default AOSP, but more hardened, many of the GraphineOS changes got upstreamed and are now part of AOSP. GraphineOS also gives a sandboxed Google services.</p>
    <p>&lt;rant-start&gt; The only reason I am forced to use the Google Play is due to the banking apps needing a false sense of security. Why anyone would trust it is beyond me, all google services run as privileged applications, they can install programs without your knowledge, have access to the data of other applications, and they are an advertising company. At least GrapheneOS will sandbox it and not run it as a privileged program.&lt;rant-end&gt;
    </p>
    <p>
      I also run <a href="https://postmarketos.org/" rel="external" {{{settings.opener.metadata}}}>postmarketOS</a> on my Nokia n900, OnePlus6T, and PinePhone.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="m-l">Launcher <span class="ucode" aria-hidden="true">🚀 </span></h3>
    <p>
      <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/fAndreuzzi/TUI-ConsoleLauncher">T-UI</a> - A launcher that gives a terminal like feel,
      I'm very spoiled by this launcher that anything else feels like a step backwards. <em>T-UI is no longer maintained, I may fork it at some point.</em>
    </p>
  </li>

  <li class="li-entry">
    <h3 id="m-br">Browser <span class="ucode" aria-hidden="true">🌐 </span></h3>
    <p>
      I use
      <a rel="external" {{{settings.opener.metadata}}} href="https://gitlab.com/divested-mobile/mull-fenix">Mull</a> as preferred mobile browser, it is a Firefox clone, but hardened (just like Librewolf).
    </p>
  </li>

  <li class="li-entry">
    <h3 id="m-em">Email Client <span class="ucode" aria-hidden="true">📧 </span></h3>
    <p>
      Just like on desktop, I use <a rel="external" {{{settings.opener.metadata}}} href="https://github.com/ProtonMail/android-mail">Proton Mail</a> on mobile, I also use 
      <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/en/packages/com.fsck.k9/">K9 Mail</a> for non-proton mails.
    </p>
  </li>

  <li class="li-entry">
    <h3 id="m-as">App store <span class="ucode" aria-hidden="true">🈸 </span></h3>
    <p>I use <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org">F-Droid</a> for all my apps, I also use Aurora Store for a couple of banking apps.</p>
  </li>
  <li class="li-entry">
    <h3 id="m-te">Terminal emulator <span class="ucode" aria-hidden="true">⌨️ </span></h3>
    <p>
      Why a terminal in mobile you ask? I use <a rel="external" {{{settings.opener.metadata}}} href="https://f-droid.org/en/packages/com.termux/">Termux</a> for quick server management. It is also possible to use it as a launcher, but I am going to stick with T-UI for that.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="m-ot">Others <span class="ucode" aria-hidden="true">🐈 </span></h3>
    <p>I also own a few other devices, which I sometimes mess with, they are:</p>
    <dl>
      <dt><strong>OnePlus6T</strong></dt>
      <dd>This used to be my daily driver that used <a rel="external" {{{settings.opener.metadata}}} href="https://divestos.org/">DivestOS</a>, I now run <a rel="external" {{{settings.opener.metadata}}} href="https://postmarketos.org/">postmarketOS</a> in it using <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.postmarketos.org/wiki/Phosh">Phosh</a> as the user interface.</dd>
      <dt><strong>Nokia n900</strong></dt>
      <dd>It is bricked at the moment, I haven't had the time to figure out what's wrong with it.</dd>
      <dt><strong>PinePhone</strong> (developer edition)</dt>
      <dd>This was gifted to me by <a href="https://exeami.com">ExeAmi</a>, it now runs <a href="https://wiki.postmarketos.org/wiki/Plasma_Mobiles" <a rel="external" {{{settings.opener.metadata}}} href="https://postmarketos.org/">postmarketOS</a> with <a rel="external" {{{settings.opener.metadata}}} href="https://wiki.postmarketos.org/wiki/Plasma_Mobile">Plasma Mobile</a> as the user interface.</dd>
    </dl>
  </li>
  
</ul>
<h2 id="cloud-host">Cloud Host <span class="ucode" aria-hidden="true">☁️ </span></h2>
<p>I cloud host <em>some</em> of the things that I use, and I have a long-term goal to self-host everything I use, but problems with ISPs and bandwidth forces me to depend on a cloud provider for now.</p>
<ul class="feed-list">
  <li class="li-entry">
    <h3 id="ch-this">This website <span class="ucode" aria-hidden="true">👈 </span></h3>
    <p>
      <a href="/">My website</a> is served over nginx and written in rust, <a href="/am-i-indieweb-yet">partially supporting Indie Web</a>.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="ch-v">Videos <span class="ucode" aria-hidden="true">🎥 </span></h3>
    <p>I host some videos in my <a href="https://videos.codingotaku.com" rel="external" {{{settings.opener.metadata}}}>PeerTube instance</a>,
    it is a federated video streaming platform that uses P2P technology.
    </p>
  </li>
  <li class="li-entry">
    <h3 id="ch-vc">Video calls <span class="ucode" aria-hidden="true">📹 </span></h3>
    <p>
      After <a rel="external" {{{settings.opener.metadata}}} href="https://jitsi.org/">Jitsi Meet</a> added mandatory authentication to reduce DDoS attacks, I started hosting it on my VPS, it is a very handy and simple video conferencing tool. My instance also needs login, but at the moment only I can login, everyone else will be treated as a guest (not linking my instance to avoid DDoS)
    </p>
  </li>
  <li class="li-entry">
    <h3 id="ch-cs">Cloud Storage <span class="ucode" aria-hidden="true">🗄️ </span></h3>
    <p>Another thing I host is a <a rel="external" {{{settings.opener.metadata}}} href="https://nextcloud.com/">Nextcloud</a> instance, for me, it is a wonderful all-in-one server, it stores my documents, notes, and pictures.
    </p>
  </li>
</ul>
<p>PS: All these runs on potatoes! <span class="ucode" aria-hidden="true">🥔🥔🥔</span></p>
{{/inline}}
{{> (lookup this 'parent')}}

