:root {
  --bg: #fff;
  --color: #000;
  --alt-bg: #222222;
  --alt-color: #fff;
  --border: thin #c0c0c0 solid;
  --warn: #b22222;
  --info: #1e2e70;
  --tag: #1e2e70;
  --success: #1d7337;
  --link: rgb(29, 112, 184);
  --hov: #f5f5f5;
  --n-hov: #626262;
  --link-hov: rgb(0, 48, 120);
  --code-bg: #eee;
  --quote: #29627e;
  --quote-shadow: inset 5px 0 5px -5px var(--quote);
  --link-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  --detail-bg: rgba(0, 0, 0, 0.05);
  --max-width: 1024px;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  --card-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #323232;
    --color: #fff;
    --alt-bg: #222222;
    --alt-color: #eee;
    --border: thin #111 solid;
    --warn: #ce001d;
    --info: #002cb7;
    --tag: var(--code-bg);
    --success: #1d7337;
    --link: rgb(116, 171, 255);
    --hov: #222;
    --n-hov: #626262;
    --link-hov: rgb(116, 171, 255);
    --code-bg: #555;
    --quote: #69a2be;
    --quote-shadow: inset 5px 0 5px -5px var(--quote);
    --link-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    --detail-bg: rgba(0, 0, 0, 0.05);
    --max-width: 1024px;
    --box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25),
      0 2px 2px rgba(255, 255, 255, 0.22);
    --card-shadow: rgba(200, 200, 200, 0.12) 0px 1px 3px,
      rgba(200, 200, 200, 0.24) 0px 1px 2px;
  }
}

/** main styles*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  height: 100%;
  color: var(--color);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--color);
}

main {
  margin-top: 128px;
  padding: 10px 10%;
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

p {
  font-size: 18px !important;
  line-height: 30px;
  margin-bottom: 2em;
}


div h1 {
  font-size: 1.7em;
  line-height: 1.5em;
}

.entry-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.entry-title .dt-published {
  font-size: medium;
  color: var(--quote);
}

h1,
h2 {
  line-height: 1.2;
  text-align: center;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  text-decoration-skip-ink: none;
}

.e-content {
  margin: 1em;
}

.content {
  flex-grow: 1;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

.container {
  max-width: var(--max-width);
  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: auto;
}

.feed-list {
  padding: 0;
}

.h-entry {
  padding: 1em 2em 2em;
}

ul .h-entry {
  display: block;
  padding: 1em 2em;
}

ul .h-entry a {
  display: inline-block;
  height: 100%;
}

.tags {
  display: inline-flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-top: 1em;
}

.tag {
  line-height: 18px;
  font-size: 16px;
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--tag);
  color: var(--alt-color);
  border-radius: 20px;
}

.list-item-wrap {
  display: flex;
  flex-direction: column;
  border: var(--border);
  margin-bottom: 1em;
  padding: 0 2em;
  border-radius: 10px;
}

@media only screen and (max-width: 760px) {
  .container {
    padding: 0;
  }

  .e-content {
    margin: 0;
    padding: 1em;
  }

  .h-entry {
    padding: 0;
    margin: 1em 0;
  }

  .entry-title .u-url {
    width: 100%;
  }
}
