:root {
  scrollbar-color: var(--q, #29627e) var(--hov, #edf);
}

html[data-width="a4"] body {
  max-width: 210mm;
  margin: auto;
}

html[data-width="a3"] body {
  max-width: 297mm;
  margin: auto;
}

html[data-width="a5"] body {
  max-width: 148mm;
  margin: auto;
}

html[data-theme="dark"] {
  --a: #8BE9FD;
  --a-hl: #BD93F9;
  --b: #44475A;
  --b-img: none;
  --bg: #282A36;
  --bdr: #6272A4;
  --c-bg: #2E3457;
  --c: #F8F8F8;
  --hov: #44475A;
  --q: #FFB86C;
  color-scheme: dark;
  accent-color: #303030;
}

html[data-theme="eink"] :is(img, svg, .ucode) {
  filter: grayscale(100%);
}

html[data-theme="eink"] {
  --a: #2b2b2b;
  --a-hl: #555;
  --b: #fff;
  --b-img: none;
  --bdr: #777;
  --bg: #fff;
  --c-bg: #ccc;
  --c: #222;
  --hov: #ccc;
  --q: #333;
  color-scheme: light;
  accent-color: #ccc;
  --b-img: none;
}

html[data-theme="pink"] {
  --a: #982176;
  --a-hl: #571125;
  --b: #fedeff;
  --bdr: #f806cc;
  --bg: #ffbdf7;
  --c-bg: #fde5ec;
  --c: #9f0d7f;
  --hov: #ffd6ec;
  --q: #9c254d;
  color-scheme: light;
  accent-color: #f806cc;
  --b-img: url(/images/bg-p.svg);
}

html[data-theme="light"],
:root {
  --a: #0063b9;
  --a-hl: #002369;
  --b-img: none;
  --b: #ededf0;
  --bdr: #222;
  --bg: #fff;
  --c-bg: #eef;
  --c: #000;
  --hov: #edf;
  --q: #29627e;
  accent-color: #ddf;
  box-sizing: border-box;
  color-scheme: light;
}

html[data-size="normal"] {
  font-size: medium;
}

html[data-size="xx-large"] {
  font-size: xx-large;
}

html[data-size="x-large"] {
  font-size: x-large;
}

html[data-size="large"] {
  font-size: large;
}

html[data-size="xx-small"] {
  font-size: xx-small;
}

html[data-size="x-small"] {
  font-size: x-small;
}

html[data-size="small"] {
  font-size: small;
}

html option, html select, html button, html input {
  font-size: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a: #8BE9FD;
    --a-hl: #BD93F9;
    --b: #44475A;
    --b-img: none;
    --bg: #282A36;
    --bdr: #6272A4;
    --c-bg: #2E3457;
    --c: #F8F8F8;
    --hov: #44475A;
    --q: #FFB86C;
    color-scheme: dark;
    accent-color: #303030;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: var(--a, #0063b9);
}

:is(input, button, summary, select, .select):is(:focus-visible, :focus-within, :hover, :focus) {
  color: var(--c, #000);
  background-color: var(--hov, #edf);
}

:is(a, a:visited):is(:focus-visible, :focus-within, :hover, :focus) {
  color: var(--bg, #fff);
  background-color: var(--a, #0063b9);
}

a:visited {
  color: var(--a-hl, #29627e);
}

a[rel~="external"]::after {
  content: " ⇗" / "(external link)";
}

 a rt {
  color: var(--c, #000);
}

blockquote {
  margin: 0;
  border-left: thick solid var(--q, #29627e);
  padding-left: 1em;
}

body,
html {
  background-color: var(--b, #ededf0);
  background-image: var(--b-img);
  color: var(--c, #000);
  font-family: Arial, sans-serif;
  font-size: 1.125em;
  line-height: 2em;
  margin: 0;
  padding: 0;
}

body > header {
  margin-bottom: .5em;
  background-color: var(--bg, #fff);
  padding: .5em;
}

button {
  background-color: var(--c-bg, #eef);
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 12px;
  text-align: center;
  width: fit-content;
  font-size: 1em;
}

code {
  background: var(--hov, #edf);
  padding: .2em;
}

code[contenteditable] {
  background: var(--c-bg, #eef);
  border: thin solid var(--bdr, #222);
}

dd {
  margin-bottom: 1em;
}

.settings {
  padding: 1em;
}

details button, .form button {
  display: block;
  margin: .5em auto;
}

details {
  border: thin solid var(--bdr, #222);
}

details summary {
  cursor: pointer;
  padding: .5em;
}

details[open] summary{
  border-bottom: thin solid var(--bdr, #222);
}

details h2 {
  margin-left: .25em;
}

details form,
details > ol {
  border-radius: 0 0 10px 10px;
}

details form {
  padding: 1em;
  width: fit-content;
  margin: auto;
}

details ol li::before {
  display: inline-block;
  margin-right: .5em;
}

details ol li a {
  width: 95%;
  display: inline-block;
  padding: .5em .25em;
}

dl {
  margin-left: .5rem;
}

h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 2em;
  margin: 1em 0;
  line-height: 1.4em;
}

:is(h2, h3, h4, h5, h6):target {
  color: var(--q, #29627e);
}

:is(h2, h3, h4, h5, h6):target::before {
  content: "› " / "";
}

header h1 {
  line-height: 1.5em;
}

label {
  padding-top: 1em;
  display: inline-block;
}

main {
  margin: auto;
}

mark {
  background-color: var(--q, #29627e);
  color: var(--b, #ededf0);
}

p {
  margin: 1em 0;
  padding: 0.5em;
}

pre code {
  background: unset;
  padding: unset;
}

pre {
  background-color: var(--c-bg, #eef);
  background-origin: content-box;
  border: thin solid var(--bdr, #222);
  border-top: 2em solid var(--bdr, #222);
  display: block;
  line-height: 1.5em;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
}

.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
}

.centre {
  margin: 0 auto 1em;
  padding: 1em;
}

.form fieldset {
  box-sizing: border-box;
  width: fit-content;
  margin: auto;
}

.container,
.h-entry,
.h-feed,
.list {
  background-color: var(--bg, #fff);
  border-radius: 10px;
 margin-top: .5em;
  padding: 1em;
}

.crumb::before {
  content: "/ " / ""
}

.dt-published,
.dt-updated {
  color: var(--q, #29627e);
  font-weight: bold;
}

.feed-list {
  padding: 0;
}

.figure {
  border: solid var(--bdr, #222);
  margin: 0;
}

.footer {
  background-color: var(--bg, #fff);
  margin-top: 1em;
  padding: 3em;
  text-align: center;
}

.icon {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.image-caption a {
  color: var(--c, #000);
}

.image-caption {
  background-color: var(--b, #ededf0);
  padding: 3px;
  text-align: center;
}

.img {
  height: 100%;
  width: 100%;
}

.input {
  background-color: var(--b, #ededf0);
  border-radius: 10px;
  color: var(--c, #000);
  height: 3em;
  padding: .5em;
  width: 100%;
}

textarea.input {
  height: unset;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  margin-top: 1em;
}

.li-entry :is(.h-entry > header, h2, h3) {
  background-color: var(--c-bg, #eef);
  border-radius: 10px 10px 0 0;
}

.li-entry :is(h2, h3) {
  margin: 0;
  padding: .5em;
}

.li-entry p {
  padding: 0 .5em;
}

.li-entry .h-entry {
  padding: unset;
  margin: unset;
}

.li-entry,
.tile {
  border-radius: 10px;
  border: thin solid var(--bdr, #222);
  display: block;
  margin-bottom: 1em;
  padding: 0;
}

span[aria-disabled="true"] {
  cursor: not-allowed;
}

.list.tile {
  padding: .5em;
  width: 100%;
  margin: 0;
}

.menu {
  list-style-type: none;
  list-style: none;
  margin: auto;
  padding: 0;
  width: fit-content;
}

.nav-bar {
  text-align: center;
}

.nav-bar li {
  display: inline-block;
}

.nav-item {
  border-radius: 5px;
  display: inline-block;
  padding: .5em;
  text-align: center;
  color: var(--a, #0063b9);
  font-size: 1em;
}

.nav-item.current {
  font-weight: bold;
}

.note {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: thin solid var(--bdr, #222);
  display: block;
  margin: 1em 0;
  padding: 10px;
}

.search {
  margin: auto;
  width: fit-content;
}

.search input {
  width: unset;
}

.search label {
  text-align: center;
  padding: 0;
}

.select {
  background-color: var(--bg, #fff);
  color: var(--c, #000);
  margin: auto;
  padding: .5em;
  width: 100%;
}

.settings {
  background-color: var(--bg, #fff);
}

.skip {
  background-color: var(--bg, #fff);
  left: -9999px;
  position: absolute;
  top: -9999px;
  height: 3em;
}

.skip:focus {
  left: 6px;
  padding: 1em;
  top: 7px;
  width: auto;
  z-index: 100000;
}

.tags {
  display: inline-block;
}

.photo {
  display: block;
  padding: 1em;
  margin: auto;
  width: fit-content;
}

.photo > * {
  display: block;
}

.photo:hover {
  border-radius: 50%;
  background-color: var(--hov, #edf);
}

.visually-hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.wrap-word {
  word-break: break-all;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 148mm) {
  .card,
  .e-content,
  .footer,
  .form,
  .h-entry header p,
  .h-entry,
  .h-feed,
  .list,
  .nav-item,
  .settings,
  details summary {
    padding: .5rem;
  }

  .container {
    padding: 0;
  }

  .h-entry,
  .h-feed,
  .list {
    margin: .5rem 0;
  }

  .hide-in-mobile {
    display: none;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }
}

@media not (prefers-contrast: no-preference) {
  :root {
    --b-img: unset;
  }
  .input,
  details,
  details[open],
  button,
  summary,
  .select,
  .note,
  .li-entry,
  .tile {
    border-radius: 0;
  }
  .li-entry,
  .tile,
  .note {
    border-style: solid;
  }
}

@media print {
  .h-feed .h-entry {
    page-break-inside: avoid;
  }
}
