:root {
  --bg: #fff;
  --color: #000;
  --alt-bg: #222222;
  --alt-color: #fff;
  --border: thin #c0c0c0 solid;
  --link: rgb(29, 112, 184);
  --hov: #f5f5f5;
  --link-hov: rgb(0, 48, 120);
  --max-width: 1024px;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #323232;
    --color: #fff;
    --alt-bg: #222222;
    --alt-color: #eee;
    --border: thin #111 solid;
    --link: rgb(116, 171, 255);
    --hov: #222;
    --link-hov: rgb(116, 171, 255);
    --link-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    --max-width: 1024px;
    --box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25),
      0 2px 2px rgba(255, 255, 255, 0.22);
  }
}

/** main styles*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  height: 100%;
  background-color: var(--bg);
  color: var(--color);
}

body {
  display: flex;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2em;
}

h1 {
  line-height: 1.2;
  text-align: center;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  text-decoration-skip-ink: none;
}

.bold {
  font-weight: bold;
}

.container {
  max-width: var(--max-width);
  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: auto;
  padding: 1em;
}

.content {
  flex-grow: 1;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(even) {
  background: var(--hov);
}

th {
  background: var(--alt-bg);
  color: var(--alt-color);
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: var(--border);
  text-align: left;
}

@media only screen and (max-width: 760px),
  (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 0.5em;
  }

  .e-content {
    margin: 0;
  }

  .h-entry {
    padding: 1em;
    margin: 1em 0;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: var(--border);
  }

  td {
    border: none;
    border-bottom: var(--border);
    position: relative;
    padding-left: 35%;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
