{{#*inline "page"}}
<p>
  In a place far away from our observable universe, there exists a planet named X. Much like Earth, this planet is inhibited by a large variety of species!<br>
  Some of them can fly through storms, and some of them can swim in dangerously hot lava because life always finds a way.
</p>

<p>
  Along with these bizarre creatures, there was a certain species who evolved enough to create civilizations. They migrate and explore their little muddy planet and colonize.<br>
  They make up their on laws and culture within that colony. Like bees, each colony has a Queen whom they worship and protect.<br>
  Her words are absolute! She bends all the laws and even moral codes according to her desire. The people will work like slaves and submit to her will without a second thought. Not because of their lack of will power, instead they have a common goal, to please the Queen.
</p>

<p>Their world would be in constant war between the Queens, a battle of struggle and starvation became a common sight.</p>

<p>Centuries later, a new Queen was crowned, She was beloved by her people, kind and intelligent. She made a new rule, a rule that no one never made before. The rule was simple, there will never be another Queen. Everyone in her colony would work for themselves and for the advancement of the colony without a ruler.</p>

<p>Everything fell apart. People were running through the streets robing others, killing everyone that they never saw fit. It was outrageous, a massacre, it was close enough to be called genocide.</p>

<p>
  After a few years, everything settled down, an unhappy citizen murdered the Queen.<br>
  They needed a new Queen, but the rule doesn't let them have a new Queen. No one besides the Queen is allowed to change the rule. They were like abandoned children, no one to look up to, no one to guide them.
</p>

<p>In just a few months, citizens began to rebuild the colony, no they still didn't have a Queen, they just talked to each other, helped each other. They just offer help selflessly whenever a common folk required something.</p>

<p>It was just a beginning, No one knows what they might end up as.</p>

{{/inline}}
{{> (lookup this 'parent') }}
